<template>
  <transition enter-active-class="animated bounceInDown" leave-active-class="animated bounceOutUp">
   
      <v-card
        v-show="alert_me.active"
        v-model="alert_me.active"
        v-bind:class="['alert','alertBox',alert_me.type]"
        @click = 'resetAlertMe'
        dark
        hover
        height="50px"
        xs12
        >
        <div class="text-xs-center title" >
          <v-icon v-if="alert_me.type === 'success'" dark fa class='fa-lg'>check-square-o</v-icon>
          <v-icon v-else-if="alert_me.type === 'error'" dark fa class='fa-lg'>times-circle</v-icon>
          <v-icon v-else-if="alert_me.type === 'info'" dark>info</v-icon>
          <v-icon v-else-if="alert_me.type === 'warning'" dark>priority_high</v-icon>
          {{alert_me.message}}
        </div>
      </v-card>
  </transition>
</template>

<script>
export default {
  name: 'AlertMe',
  data () {
    return {
      alert_me: {
        type: '',
        message: '',
        active: false
      }
    }
  },
  mounted () {
    this.$events.$on('alert-me', (data) => {
      this.alertMe(data.type, data.message)
    })
  },
  destroyed () {
    this.resetAlertMe()
    this.$events.remove('alert-me')
  },
  methods: {
    alertMe (type, msg) {
      this.resetAlertMe
      this.alert_me.type = type
      this.alert_me.message = msg
      this.alert_me.active = true
      setTimeout(this.resetAlertMe, 5000)
    },
    resetAlertMe () {
      this.alert_me.active = false
    }
  }
}
</script>
