<template>
  <v-tabs dark grow icons class="elevation-12">
    <v-layout rows wrap>
      <v-flex xs12>
      </v-flex>
      <v-tabs-bar slot="activators" class="blue lighten-1" >
        <v-tabs-slider class="yellow darken-3"></v-tabs-slider>
        <v-tabs-item v-for="(tab, index) in tabs" :to="tab.href" :key="index" exact>
          <v-icon v-if="tab.fa" fa v-bind:class="'fa-lg'">{{ tab.icon }}</v-icon>
          <v-icon v-else>{{ tab.icon }}</v-icon>
          {{ tab.name }}
        </v-tabs-item>
      </v-tabs-bar>
    </v-layout>
    <v-layout rows wrap>
      <v-flex xs12>
        <transition id="page-transition" enter-active-class="animated fadeIn">
          <router-view></router-view>
        </transition>
      </v-flex>
    </v-layout>
  </v-tabs>
</template>

<script>
  /* eslint-disable */
  export default {
    name: 'Home-Config',
    data () {
      return {
        tabs: [
          {
            name: 'Manage Inventory',
            icon: 'chrome_reader_mode',
            href: '/inventory_module/management/manage_inventory'
          },
          {
            name: 'Manual Recount',
            fa: true,
            icon: 'calculator',
            href: '/inventory_module/management/manual_recount'
          },
          {
            name: 'Price List',
            icon: 'attach_money',
            href: '/inventory_module/management/price_list'
          }
        ]
      }
    },
    mounted () {
    },
    methods: {
    }
  }
</script>

