<template>
  <v-container fluid grid-list-md class="elevation-12 _page">
    <v-layout>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> person_add </v-icon> &nbsp; Add User</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-layout> 

    <v-data-table
    v-bind:headers="headers"
    v-bind:items="items"
    v-bind:pagination.sync="pagination"
    :total-items="totalItems"
    :loading="loading"
    class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-show="props.item.id !== auth.id" @click.native="reset(props.item)">
                <v-list-tile-title><v-icon> loop </v-icon> Reset Account</v-list-tile-title>
              </v-list-tile>
              <v-list-tile v-show="props.item.id !== auth.id" @click.native="disable(props.item)">
                <v-list-tile-title><v-icon> warning </v-icon>Enable/Disable Access</v-list-tile-title>
              </v-list-tile>
              <!-- <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile> -->
            </v-list>
          </v-menu>
        </td>
        <td>
           <v-icon small color="primary" v-show="props.item.status !== '0'" title='Cannot access the system' class="amber--text">warning</v-icon>
        </td>
        <td>
           {{ props.item.last_name }}, {{ props.item.first_name }} {{ props.item.middle_name }}
        </td>
        <td>
           {{ props.item.address }}
        </td>
        <td>
           {{ props.item.contact_number }}
        </td>
        <td>
           {{ props.item.email }}
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog" persistent :width="'50%'">
      <v-card>
        <v-card-title>
          <span class="headline">User Information</span>
        </v-card-title>
        <v-card-text>
          <v-flex xs9>
              <v-layout row-sm child-flex-sm>
                <v-flex xs4 offset-xs4>
                  <v-text-field label="Username"
                        v-model.trim="model.username"
                        name="last_name"
                        hint="this will serve as a temporary Username and Password for the user (keep this confidential)"
                        @input="$v.model.username.$touch()"
                        :error="$v.model.username.$error"
                        :error-messages = "validations($v.model.username)"
                        :readonly =  "mode !== 'Add'"
                        >
                  </v-text-field>
                </v-flex>
              </v-layout>
          </v-flex>
          <v-flex xs9>
              <v-layout row-sm child-flex-sm>
                <v-flex xs4>
                  <v-text-field label="Last Name"
                        v-model.trim="model.last_name"
                        name="last_name"
                        :readonly="mode === 'View'"
                        @input="$v.model.last_name.$touch()"
                        :error="$v.model.last_name.$error"
                        :error-messages = "validations($v.model.last_name)">
                  </v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field label="First Name"
                        v-model.trim="model.first_name"
                        name="first_name"
                        :readonly="mode === 'View'"
                        @input="$v.model.first_name.$touch()"
                        :error="$v.model.first_name.$error"
                        :error-messages = "validations($v.model.first_name)">
                  </v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field label="Middle Name"
                        v-model.trim="model.middle_name"
                        name="middle_name"
                        :readonly="mode === 'View'"
                        @input="$v.model.middle_name.$touch()"
                        :error="$v.model.middle_name.$error">
                  </v-text-field>
                </v-flex>
              </v-layout>
          </v-flex>
          <v-flex xs9>
            <v-layout row-sm child-flex-sm>
              <v-flex xs4>
                <v-select
                  v-bind:items="['','Male','Female']"
                  v-model="model.gender"
                  label="Gender"
                  @change="$v.model.gender.$touch()"
                  :disabled="mode === 'View'"
                  :error="$v.model.gender.$error"
                  :error-messages = "validations($v.model.gender)">
                  >
                  
                </v-select>
              </v-flex>
              <v-flex xs4>
               <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="birthdate"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-left="40"
                  max-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    label="Birthdate"
                    :readonly="mode === 'View'"
                    v-model="model.birthdate"
                    @input="$v.model.birthdate.$touch()"
                    :error="$v.model.birthdate.$error"
                    :error-messages = "validations($v.model.birthdate)"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="model.birthdate" scrollable actions>
                    <template scope="{ save, cancel }">
                      <v-card-actions>
                        <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                        <v-btn flat primary @click.native="save()">Save</v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs4>
                <v-text-field label="Contact Number"
                        v-model.trim="model.contact_number"
                        name="contact_number"
                        :readonly="mode === 'View'"
                        @input="$v.model.contact_number.$touch()"
                        :error="$v.model.contact_number.$error"
                        :error-messages = "validations($v.model.contact_number)">
               </v-text-field>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs9>
            <v-layout row-sm child-flex-sm>
              <v-flex xs7>
                <v-text-field label="Address"
                        v-model.trim="model.address"
                        name="address"
                        :readonly="mode === 'View'"
                        @input="$v.model.address.$touch()"
                        :error="$v.model.address.$error"
                        :error-messages = "validations($v.model.address)">
                 </v-text-field>
              </v-flex>
              <v-flex xs5>
                <v-text-field label="Email"
                        v-model.trim="model.email"
                        name="email"
                        :readonly="mode === 'View'"
                        @input="$v.model.email.$touch()"
                        :error="$v.model.email.$error"
                        :error-messages = "validations($v.model.email)">
               </v-text-field>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs9>
            <v-layout row-sm child-flex-sm>
              <v-flex xs12>
                <v-select
                v-bind:items="roles"
                item-text="name"
                item-value="id"
                :disabled="mode === 'View'"
                label="Account Roles"
                v-model = 'model.roles'
                multiple
                chips
              ></v-select>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-text-field label="Description"
                        rows="3"
                        v-model="model.description"
                        :readonly="mode === 'View'"
                        multi-line>
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="resetDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to Reset this user's Password as it's Username?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="resetDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="resetAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="disableDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to Enable/Disable this user</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="disableDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="disableAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import AlertMe from '../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../mixins/paginations'
  import BasicMixins from '../../../mixins/basicMixins'
  import { required, email, minLength, maxLength, numeric } from 'vuelidate/lib/validators'
  // import _ from 'lodash'

  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    data () {
      return {
        service: 'accounts/accounts/',
        searchBy: 'last_name',
        birthdate: '',
        resetDialog: false,
        disableDialog: false,
        roles: [],
        model: {
          id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          birthdate: null,
          gender: null,
          address: null,
          contact_number: null,
          email: null,
          description: null,
          username: null,
          role: null
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Status',
            align: 'left',
            sortable: false,
            value: 'status'
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'last_name'
          },
          {
            text: 'Address',
            align: 'left',
            sortable: true,
            value: 'address'
          },
          {
            text: 'Contact Number',
            align: 'left',
            sortable: true,
            value: 'contact_number'
          },
          {
            text: 'Email',
            align: 'left',
            sortable: true,
            value: 'email'
          }
        ]
      }
    },
    validations: {
      model: {
        first_name: {
          required
        },
        middle_name: {},
        last_name: {
          required
        },
        birthdate: {
          required
        },
        gender: {
          required
        },
        address: {
          required
        },
        contact_number: {
          required,
          minLength: minLength(11),
          maxLength: maxLength(11),
          numeric
        },
        email: {
          email
        },
        username: {
          required
        }
      }
    },
    mounted () {
      let param = {
        orderBy: {
          condition: []
        },
        filter: {
          condition: []
        },
        search: null,
        rowsPerPage: null,
        page: null,
        totalItems: null
      }
      this.$store.dispatch('accounts/roles/getAll', param).then((res) => {
        this.roles = res.data.data
      })
    },
    methods: {
      resetModel () {
        this.model = {
          id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          birthdate: null,
          gender: null,
          address: null,
          contact_number: null,
          email: null,
          description: null,
          username: null
        }
      },
      disable (disable) {
        this.itemToDisable = disable.id
        this.disableDialog = true
      },
      disableDisagree (disable) {
        this.itemToDisable = null
        this.disableDialog = false
      },
      disableAgree (disable) {
        this.disableDialog = false
        this.$store.dispatch(this.service + 'disable', this.itemToDisable).then((res) => {
          this.getAll()
          this.itemToDisable = null
          this.$events.fire('alert-me', {type: 'success', message: 'User is now enabled/disabled!'})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: 'system error!'})
        })
      },
      reset (reset) {
        this.itemToReset = reset.id
        this.resetDialog = true
      },
      resetDisagree () {
        this.itemToReset = null
        this.resetDialog = false
      },
      resetAgree () {
        this.resetDialog = false
        this.$store.dispatch(this.service + 'reset', this.itemToReset).then((res) => {
          this.$events.fire('alert-me', {type: 'success', message: 'Reset account success!'})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: 'system error!'})
        })
      }
    }
  }

</script>
