<template>
  <v-container fluid grid-list-md class="elevation-12 _page">
    <v-layout>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Day</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-layout>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.name }}
        </td>
        <td>
          {{ props.item.abbreviation }}
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent :width="'70%'">
      <v-card>
        <v-card-title>
          <span class="headline">Add Day</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name"
                        :style="'width:50%; margin-left:20%'"
                        v-model.trim="model.name"
                        name="name"
                        :readonly="mode === 'View'"
                        :error-messages = "validations($v.model.name)"
                        @input="$v.model.name.$touch()"
                        :error="$v.model.name.$error">
          </v-text-field>
          <v-text-field label="Abbreviation"
                        v-model="model.abbreviation"
                        counter
                        :style="'width:50%; margin-left:20%'"
                        max = '10'
                        name="abbreviation"
                        :readonly="mode === 'View'"
                        :error-messages = "validations($v.model.abbreviation)"
                        @input="$v.model.abbreviation.$touch()"
                        :error="$v.model.abbreviation.$error"
          ></v-text-field>
          <v-flex xs12>
            <span>Repeat Every:</span>
            <v-layout row wrap>
              <v-flex xs3>
                <v-switch label="Monday" v-model="model.every_mon" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
              <v-flex xs3>
                <v-switch label="Tuesday" v-model="model.every_tue" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex> 
              <v-flex xs3>
                <v-switch label="Wednesday" v-model="model.every_wed" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
              <v-flex xs3>
                <v-switch label="Thursday" v-model="model.every_thu" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
             </v-layout>
              <v-layout row wrap>
              <v-flex xs3>
                <v-switch label="Friday" v-model="model.every_fri" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
              <v-flex xs3>
                <v-switch label="Saturday" v-model="model.every_sat" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex> 
              <v-flex xs3>
                <v-switch label="Sunday" v-model="model.every_sun" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
             </v-layout>
          </v-flex>
        </v-card-text>

        <v-card-text>
          <v-flex xs12>
            <span>From Dates:</span>
            <v-layout row wrap>
               <v-flex xs5 offset-xs1>
                  <v-menu
                    lazy
                    :close-on-content-click="true"
                    v-model="start_date"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-left="40"
                    max-width="290px"
                    >
                    <v-text-field
                      slot="activator"
                      label="Start Date"
                      v-model="model.start_date"
                      @input="$v.model.start_date.$touch()"
                      :error="$v.model.start_date.$error"
                      :error-messages = "validations($v.model.start_date)"
                      readonly
                    ></v-text-field>
                    <v-date-picker v-model="model.start_date" scrollable autosave>
                    </v-date-picker>
                  <v-btn class="pull-right red--text" flat @click.native = 'model.start_date = null'>Clear</v-btn>
                  </v-menu>
              </v-flex>
              <v-flex xs5>
                <v-menu
                    lazy
                    :close-on-content-click="true"
                    v-model="end_date"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-left="40"
                    max-width="290px"
                    >
                    <v-text-field
                      hint="If this is blank the day is valid without end"
                      persistent-hint
                      slot="activator"
                      label="End Date"
                      v-model="model.end_date"
                      @input="$v.model.end_date.$touch()"
                      :error="$v.model.end_date.$error"
                      :error-messages = "validations($v.model.end_date)"
                      readonly
                    ></v-text-field>
                    <v-date-picker v-model="model.end_date" scrollable autosave>
                    </v-date-picker>
                    <v-btn class="pull-right red--text" flat @click.native = 'model.end_date = null'>Clear</v-btn>
                  </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this unit?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import AlertMe from '../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../mixins/paginations'
  import BasicMixins from '../../../mixins/basicMixins'
  import { required, maxLength, requiredUnless } from 'vuelidate/lib/validators'
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'Unit',
    data () {
      return {
        service: 'commons/days/',
        start_date: '',
        end_date: '',
        model: {
          id: null,
          name: null,
          abbreviation: null,
          every_mon: false,
          every_tue: false,
          every_wed: false,
          every_thu: false,
          every_fri: false,
          every_sat: false,
          every_sun: false,
          start_date: null,
          end_date: null
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Abbreviation',
            align: 'left',
            sortable: true,
            value: 'abbreviation'
          }
        ]
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        abbreviation: {
          required,
          maxLength: maxLength(10)
        },
        start_date: {
          required
        },
        end_date: {
          requiredUnless: requiredUnless(function () {
            if (this.model.end_date === null) {
              return true
            } else {
              var enddate = this.model.end_date
              this.model.end_date = ''
              if (enddate >= this.model.start_date) {
                this.model.end_date = enddate
              }
            }
            return false
          })
        }
      }
    },
    methods: {
      resetModel () {
        this.model = {
          id: null,
          name: null,
          abbreviation: null,
          every_mon: false,
          every_tue: false,
          every_wed: false,
          every_thu: false,
          every_fri: false,
          every_sat: false,
          every_sun: false,
          start_date: null,
          end_date: null
        }
      }
    }
  }
</script>
