<template>
  <v-card>
    <v-card-title>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Employee</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search by Last Name"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1">
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="registerFinger(props.item)">
                <v-list-tile-title><v-icon> fingerprint </v-icon> Register Fingerprint</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          <img v-if="props.item.imageName" :src="config.PUBLIC + props.item.imageName" height="100px" width="100px"/>
          <img v-else src="/static/person.png" width="100" height="100">
        </td>
        <td>
          {{ props.item.first_name + ' ' + props.item.middle_name + ' ' + props.item.last_name}} {{ props.item.suffix ? props.item.suffix : '' }}
        </td>
        <td>
          {{ props.item.birthdate | datelong}}
        </td>
        <td>
          {{ setAddress(props.item) }}
        </td>
        <td>
          {{ props.item.email_address }}
        </td>
        <td>
          {{ props.item.contact_number }}
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="fingerDialog" persistent :width="'40%'">
      <v-card>
        <v-card-title>
          <span class="headline">Register Fingerprint</span>
          <v-spacer></v-spacer>
          <span class="text-right subheading"><u>{{employee.first_name}} {{employee.last_name}}</u></span>
        </v-card-title>
        <v-card-text>
          <v-alert error dismissible transition="scale-transition" v-model="fingerFailed">
            <span class="subheading">Finger registration failed. Try again in a minute</span>
          </v-alert>
          <v-alert success dismissible transition="scale-transition" v-model="fingerSuccess">
            <span class="subheading">Finger registration success!</span>
          </v-alert>
          <v-layout>
            <v-flex offset-xs2 xs6>
              <v-text-field
                label="fingerprint data"
                v-model="fingerprint.data"
                hint = "Please use your most dominant finger"
                persistent-hint
                @input="$v.fingerprint.data.$touch()"
                :error="$v.fingerprint.data.error"
                :error-messages="validations($v.fingerprint.data)"
                readonly
              ></v-text-field>
            </v-flex>
            <a :href="'finspot:FingerspotReg;'+fingerLink" ref = "finLink"></a>
            <v-flex xs2>
              <v-btn small :loading= "fingerLoad" @click.native="recordFinger(), fingerLoad = true">{{fingerprint.data ? 'Change' : 'Add'}}</v-btn>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex offset-xs2 xs7>
              <v-text-field
                v-model="fingerprint.notes"
                label="Fingerprint Notes"
                @input="$v.fingerprint.notes.$touch()"
                :error="$v.fingerprint.notes.error"
                :error-messages="validations($v.fingerprint.notes)"
                hint = "write down the finger used (eg. right thumb, right index, left thumb,. etc.)"
                persistent-hint
                multi-line
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-btn error flat @click.native="fingerDialog = false, resetFinger(), getAll()">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn :loading = 'fingerLoad' info @click.native="fingerSave(), fingerLoad = true"><v-icon>save</v-icon>Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent :width="width">
      <v-card>
        <v-stepper v-model="steps" non-linear>
          <v-stepper-header v-if="mode === 'Add'">
            <v-stepper-step step="1" :complete="steps > 1">Biodata</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="steps > 2">Relations</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :complete="steps > 3">Educational Attainments</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4" :complete="steps > 4">Employment Records</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="5" :complete="steps > 5">Character References</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="6">Review</v-stepper-step>
          </v-stepper-header>

          <v-stepper-header v-if="mode === 'Edit'">
            
            <v-stepper-step step="1" :rules="[()=> !$v.model.$error]" editable complete>
              <small v-show="$v.$error" class="red--text">With validation errors! check the steps</small>
            Biodata</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :rules="[()=> !$v.relations.$error]" editable complete>Relations</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :rules="[()=> !$v.educations.$error]" editable complete>Educational Attainments</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4" :rules="[()=> !$v.employments.$error]" editable complete>Employment Records</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="5" :rules="[()=> !$v.references.$error]" editable complete>Character References</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="6" editable complete>Review</v-stepper-step>
          </v-stepper-header>


          <!--
            STEPPER 1
          -->

          <v-stepper-content step="1">
            <v-layout row-sm child-flex-sm>
              <v-flex xs9>
                <v-layout row-sm child-flex-sm>
                  <v-flex xs4>
                    <v-text-field label="First Name"
                                  v-model.trim="model.first_name"
                                  :readonly="mode === 'View'"
                                  @input="$v.model.first_name.$touch()"
                                  :error="$v.model.first_name.$error"
                                  :error-messages="validations($v.model.first_name)"
                                  >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field label="Middle Name"
                                  v-model.trim="model.middle_name"
                                  :readonly="mode === 'View'">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field label="Last Name"
                                  v-model.trim="model.last_name"
                                  :readonly="mode === 'View'"
                                  @input="$v.model.last_name.$touch()"
                                  :error="$v.model.last_name.$error"
                                  :error-messages="validations($v.model.last_name)"
                                  >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs1>
                    <v-text-field label="Suffix"
                                  v-model.trim="model.suffix"
                                  :readonly="mode === 'View'">
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs4>
                    <v-menu
                      lazy
                      :close-on-content-click="false"
                      v-model="birthdate"
                      transition="scale-transition"
                      offset-y
                      full-width
                      :nudge-left="40"
                      max-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        label="Birthdate"
                        v-model="model.birthdate"
                        prepend-icon="event"
                        @input="$v.model.birthdate.$touch()"
                        :error="$v.model.birthdate.$error"
                        :error-messages="validations($v.model.birthdate)"
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="model.birthdate" scrollable actions>
                        <template scope="{ save, cancel }">
                          <v-card-actions>
                            <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                            <v-btn flat primary @click.native="save()">Save</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs4>
                    <v-select
                      v-bind:items="countries"
                      item-text="nationality"
                      item-value="id"
                      v-model="model.nationality_id"
                      label="Nationality"
                      autocomplete
                      @change="val => onNationalityChange(val)"
                      :disabled="mode === 'View'"
                      :error="$v.model.nationality_id.$error"
                      :error-messages="validations($v.model.nationality_id)"
                    ></v-select>
                  </v-flex>
                  <v-flex xs4>
                    <v-select
                      v-bind:items="religions"
                      item-text="name"
                      item-value="id"
                      v-model="model.religion_id"
                      label="Religion"
                      autocomplete
                      @change="val => onReligionChange(val)"
                      :disabled="mode === 'View'"
                      :error="$v.model.religion_id.$error"
                      :error-messages="validations($v.model.religion_id)"
                    ></v-select>
                  </v-flex>
                </v-layout>
                <v-layout row-sm child-flex-sms>
                  <v-flex xs2>
                    <v-text-field label="Height"
                                  suffix = "cm"
                                  v-model.trim="model.height"
                                  :readonly="mode === 'View'"
                                  @input="$v.model.height.$touch()"
                                  :error="$v.model.height.$error">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs2>
                    <v-text-field label="Weight"
                                  suffix = "kg"
                                  v-model.trim="model.weight"
                                  :readonly="mode === 'View'"
                                  @input="$v.model.weight.$touch()"
                                  :error="$v.model.weight.$error">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field label="Email Address"
                                  v-model.trim="model.email_address"
                                  :readonly="mode === 'View'"
                                  prepend-icon="email"
                                  @input="$v.model.email_address.$touch()"
                                  :error="$v.model.email_address.$error"
                                  :error-messages="validations($v.model.email_address)"
                                  >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field label="Contact Number"
                                  v-model.trim="model.contact_number"
                                  prepend-icon="phone"
                                  :readonly="mode === 'View'">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs3 class="pl-5 pt-2">
                <div v-if="image">
                  <img :src="image" width="150" height="200">
                </div>
                <div v-else>
                  <img src="/static/person.png" width="150" height="200">
                </div>
                <upload-component class="pl-2" :title="'Upload Image'" @file="imageChange"></upload-component>
              </v-flex>
            </v-layout>

            <v-layout row-sm child-flex-sm>
              <address-component :model="model" :mode="mode"></address-component>
            </v-layout>

            <v-btn flat error @click.native="dialog = false">Cancel</v-btn>
            <v-btn primary @click.native="nextStep(2, '90%')" class="pull-right" v-if="mode === 'Add'">Continue</v-btn>  
            <v-btn error @click.native="update()" class="pull-right" v-if="mode === 'Edit'">Save</v-btn>
          </v-stepper-content>
          <!--
            STEPPER 1
          -->



          <!--
            STEPPER 2
          -->

          <v-stepper-content step="2">
            <v-expansion-panel expand>
              <v-expansion-panel-content v-model="expansion.spouce" class="blue-grey darken-1">
                <div slot="header" class="white--text">SPOUSE</div>
                <v-card class="grey lighten-4">
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs3>
                      <v-text-field label="First Name"
                                    v-model.trim="spouce.first_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.spouce.first_name.$touch()"
                                    :error="$v.spouce.first_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Middle Name"
                                    v-model.trim="spouce.middle_name"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Last Name"
                                    v-model.trim="spouce.last_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.spouce.last_name.$touch()"
                                    :error="$v.spouce.last_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field label="Suffix"
                                    v-model.trim="spouce.suffix"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs3>
                      <v-menu
                        lazy
                        :close-on-content-click="false"
                        v-model="birthdates.spouce"
                        transition="scale-transition"
                        offset-y
                        full-width
                        :nudge-left="40"
                        max-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          label="Birthdate"
                          v-model="spouce.birthdate"
                          prepend-icon="cake"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="spouce.birthdate" scrollable actions>
                          <template scope="{ save, cancel }">
                            <v-card-actions>
                              <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                              <v-btn flat primary @click.native="save()">Save</v-btn>
                            </v-card-actions>
                          </template>
                        </v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Occupation"
                                    v-model="spouce.occupation"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content v-model="expansion.children" class="blue-grey lighten-1">
                <div slot="header" class="white--text">CHILDREN
                  <v-chip class="blue darken-4 white--text" @click.native.prevent="addMoreChildren($event)">
                    <v-icon>add</v-icon>
                    Add More
                  </v-chip>
                </div>
                <v-card class="grey lighten-4">
                  <v-expansion-panel expand class="pa-2">
                    <v-expansion-panel-content v-for="(relation,i) in relations" :key="i" v-model="relation.show" :class="i % 2 === 0 ? 'blue-grey darken-1' : 'blue-grey lighten-1'">
                      <div slot="header" class="white--text">{{ relation.first_name === null ? 'Child Name' : relation.first_name }}
                        <v-chip class="red darken-4 white--text" @click.native.prevent="removeChildren(i, $event)">
                          <v-icon>delete</v-icon>
                          Remove
                        </v-chip>
                      </div>
                      <v-card>
                        <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                          <v-flex xs4>
                            <v-text-field label="First Name"
                                          v-model.trim="relation.first_name"
                                          :readonly="mode === 'View'"
                                          @input="$v.relations.$each[i].first_name.$touch()"
                                          :error="$v.relations.$each[i].first_name.$error">
                            </v-text-field>
                          </v-flex>
                          <v-flex xs4>
                            <v-text-field label="Middle Name"
                                          v-model.trim="relation.middle_name"
                                          :readonly="mode === 'View'">
                            </v-text-field>
                          </v-flex>
                          <v-flex xs4>
                            <v-text-field label="Last Name"
                                          v-model.trim="relation.last_name"
                                          :readonly="mode === 'View'"
                                          @input="$v.relations.$each[i].last_name.$touch()"
                                          :error="$v.relations.$each[i].last_name.$error">
                            </v-text-field>
                          </v-flex>
                          <v-flex xs1>
                            <v-text-field label="Suffix"
                                          v-model.trim="relation.suffix"
                                          :readonly="mode === 'View'">
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                        <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                          <v-flex xs3>
                            <v-menu
                              lazy
                              :close-on-content-click="false"
                              v-model="birthdates.children[i]"
                              transition="scale-transition"
                              offset-y
                              full-width
                              :nudge-left="40"
                              max-width="290px"
                            >
                              <v-text-field
                                slot="activator"
                                label="Birthdate"
                                v-model="relation.birthdate"
                                prepend-icon="cake"
                                readonly
                              ></v-text-field>
                              <v-date-picker v-model="relation.birthdate" scrollable actions>
                                <template scope="{ save, cancel }">
                                  <v-card-actions>
                                    <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                                    <v-btn flat primary @click.native="save()">Save</v-btn>
                                  </v-card-actions>
                                </template>
                              </v-date-picker>
                            </v-menu>
                          </v-flex>
                          <v-flex xs3>
                            <v-text-field label="Occupation"
                                          v-model="relation.occupation"
                                          :readonly="mode === 'View'">
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content v-model="expansion.mother" class="blue-grey darken-1">
                <div slot="header" class="white--text">MOTHER</div>
                <v-card class="grey lighten-4">
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs3>
                      <v-text-field label="First Name"
                                    v-model.trim="mother.first_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.mother.first_name.$touch()"
                                    :error="$v.mother.first_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Middle Name"
                                    v-model.trim="mother.middle_name"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Last Name"
                                    v-model.trim="mother.last_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.mother.last_name.$touch()"
                                    :error="$v.mother.last_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field label="Suffix"
                                    v-model.trim="mother.suffix"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs3>
                      <v-menu
                        lazy
                        :close-on-content-click="false"
                        v-model="birthdates.mother"
                        transition="scale-transition"
                        offset-y
                        full-width
                        :nudge-left="40"
                        max-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          label="Birthdate"
                          v-model="mother.birthdate"
                          prepend-icon="cake"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="mother.birthdate" scrollable actions>
                          <template scope="{ save, cancel }">
                            <v-card-actions>
                              <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                              <v-btn flat primary @click.native="save()">Save</v-btn>
                            </v-card-actions>
                          </template>
                        </v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Occupation"
                                    v-model="mother.occupation"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content v-model="expansion.father" class="blue-grey lighten-1">
                <div slot="header" class="white--text">FATHER</div>
                <v-card class="grey lighten-4">
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs3>
                      <v-text-field label="First Name"
                                    v-model.trim="father.first_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.father.first_name.$touch()"
                                    :error="$v.father.first_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Middle Name"
                                    v-model.trim="father.middle_name"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Last Name"
                                    v-model.trim="father.last_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.father.last_name.$touch()"
                                    :error="$v.father.last_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field label="Suffix"
                                    v-model.trim="father.suffix"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs3>
                      <v-menu
                        lazy
                        :close-on-content-click="false"
                        v-model="birthdates.father"
                        transition="scale-transition"
                        offset-y
                        full-width
                        :nudge-left="40"
                        max-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          label="Birthdate"
                          v-model="father.birthdate"
                          prepend-icon="cake"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="father.birthdate" scrollable actions>
                          <template scope="{ save, cancel }">
                            <v-card-actions>
                              <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                              <v-btn flat primary @click.native="save()">Save</v-btn>
                            </v-card-actions>
                          </template>
                        </v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs3>
                      <v-text-field label="Occupation"
                                    v-model="father.occupation"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <br />
            

            <v-btn flat @click.native="nextStep(1, '90%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
            <v-btn primary @click.native="nextStep(3, '90%')" class="pull-right" v-if="mode === 'Add'">Continue</v-btn>
            <v-btn error @click.native="update()" class="pull-right" v-if="mode === 'Edit'">Save</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>

          </v-stepper-content>
          <!--
            STEPPER 2
          -->



          <!--
            STEPPER 3
          -->
          <v-stepper-content step="3">
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field label="Highest Educational Attainment / Degree"
                              v-model.trim="educations.degree"
                              prepend-icon="school"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs7>
                <v-text-field label="Elementary"
                              v-model.trim="educations.elementary"
                              prepend-icon="school"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs2 class="pl-3">
                <v-text-field label="Grad Year"
                              v-model.trim="educations.elementary_grad_year"
                              prepend-icon="date_range"
                              maxlength="4"
                              :readonly="mode === 'View'"
                              @input="$v.educations.elementary_grad_year.$touch()"
                              :error="$v.educations.elementary_grad_year.$error"
                              :error-messages="validations($v.educations.elementary_grad_year)"
                              >
                </v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs7>
                <v-text-field label="Highschool"
                              v-model.trim="educations.highschool"
                              prepend-icon="school"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs2 class="pl-3">
                <v-text-field label="Grad Year"
                              v-model.trim="educations.highschool_grad_year"
                              prepend-icon="date_range"
                              maxlength="4"
                              :readonly="mode === 'View'"
                              @input="$v.educations.highschool_grad_year.$touch()"
                              :error="$v.educations.highschool_grad_year.$error">
                </v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs7>
                <v-text-field label="College"
                              v-model.trim="educations.college"
                              prepend-icon="school"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs2 class="pl-3">
                <v-text-field label="Grad Year"
                              v-model.trim="educations.college_grad_year"
                              prepend-icon="date_range"
                              maxlength="4"
                              :readonly="mode === 'View'"
                              @input="$v.educations.college_grad_year.$touch()"
                              :error="$v.educations.college_grad_year.$error">
                </v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs7>
                <v-text-field label="Graduate School"
                              v-model.trim="educations.graduate_school"
                              prepend-icon="school"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs2 class="pl-3">
                <v-text-field label="Grad Year"
                              v-model.trim="educations.graduate_school_grad_year"
                              prepend-icon="date_range"
                              maxlength="4"
                              :readonly="mode === 'View'"
                              @input="$v.educations.graduate_school_grad_year.$touch()"
                              :error="$v.educations.graduate_school_grad_year.$error">
                </v-text-field>
              </v-flex>
            </v-layout>
            <v-btn flat @click.native="nextStep(2, '90%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
            <v-btn primary @click.native="nextStep(4, '90%')" class="pull-right" v-if="mode === 'Add'">Continue</v-btn>
            <v-btn error @click.native="update()" class="pull-right" v-if="mode === 'Edit'">Save</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <!--
            STEPPER 3
          -->


          <!--
            STEPPER 4
          -->
          <v-stepper-content step="4">
            <v-btn v-if="employments.length === 0" block secondary dark @click.native="addMoreEmployment()">Click to add Employment Record</v-btn>
            <v-layout c v-for="(employment, index) in employments" :key="index">
              <v-flex xs5>
                <v-select
                  v-bind:items="positions"
                  item-text="name"
                  item-value="id"
                  v-model="employment.position_id"
                  label="Position"
                  autocomplete
                  :disabled="mode === 'View'"
                  @change="$v.employments.$each[index].position_id.$touch()"
                  :error="$v.employments.$each[index].position_id.$error"
                  :error-messages="validations($v.employments.$each[index].position_id)"
                  >
                </v-select>
              </v-flex>
              <v-flex xs8>
                <v-select
                  v-bind:items="companies"
                  item-text="name"
                  item-value="id"
                  v-model="employment.company_id"
                  label="Company"
                  autocomplete
                  :disabled="mode === 'View'"
                  @change="$v.employments.$each[index].company_id.$touch()"
                  :error="$v.employments.$each[index].company_id.$error"
                  :error-messages="validations($v.employments.$each[index].company_id)"
                  >
                </v-select>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Year From"
                              v-model.trim="employment.year_from"
                              prepend-icon="cake"
                              :readonly="mode === 'View'"
                              :error="$v.employments.$each[index].year_from.$error"
                              :error-messages="validations($v.employments.$each[index].year_from)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Year To"
                              v-model.trim="employment.year_to"
                              prepend-icon="cake"
                              :readonly="mode === 'View'"
                              :error="$v.employments.$each[index].year_to.$error"
                              :error-messages="validations($v.employments.$each[index].year_to)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-btn fab small error @click.native="removeEmployment(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
              </v-flex>
            </v-layout>
            <v-btn v-if="employments.length > 0" small flat class="pull-right" @click.native="addMoreEmployment(), sample()"><v-icon> add </v-icon> Add More</v-btn>
            <br>
            <br>
            <v-btn flat @click.native="nextStep(3, '90%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
            <v-btn primary @click.native="nextStep(5, '90%')" class="pull-right" v-if="mode === 'Add'">Continue</v-btn>
            <v-btn error @click.native="update()" class="pull-right" v-if="mode === 'Edit'">Save</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <!--
            STEPPER 4
          -->


          <!--
            STEPPER 5
          -->
          <v-stepper-content step="5">
            <v-btn v-if="references.length === 0" block secondary dark @click.native="addMoreReference()">Click to add Character Reference</v-btn>
            <v-expansion-panel expand>
              <v-expansion-panel-content v-for="(reference,i) in references" :key="i" v-model="reference.show" :class="i % 2 === 0 ? 'blue-grey darken-1' : 'blue-grey lighten-1'">
                <div slot="header" class="white--text">{{ reference.first_name === null ? 'First Name' : reference.first_name }}
                  <v-chip class="red darken-4 white--text" @click.native.prevent="removeReference(i, $event)">
                    <v-icon>delete</v-icon>
                    Remove
                  </v-chip>
                </div>
                <v-card>
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs4>
                      <v-text-field label="First Name"
                                    v-model.trim="reference.first_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.references.$each[i].first_name.$touch()"
                                    :error="$v.references.$each[i].first_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field label="Middle Name"
                                    v-model.trim="reference.middle_name"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field label="Last Name"
                                    v-model.trim="reference.last_name"
                                    :readonly="mode === 'View'"
                                    @input="$v.references.$each[i].last_name.$touch()"
                                    :error="$v.references.$each[i].last_name.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field label="Suffix"
                                    v-model.trim="reference.suffix"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs5>
                      <v-select
                        v-bind:items="positions"
                        item-text="name"
                        item-value="id"
                        v-model="reference.position_id"
                        label="Position"
                        autocomplete
                        :disabled="mode === 'View'">
                      </v-select>
                    </v-flex>
                    <v-flex xs7>
                      <v-select
                        v-bind:items="companies"
                        item-text="name"
                        item-value="id"
                        v-model="reference.company_id"
                        label="Company"
                        autocomplete
                        :disabled="mode === 'View'">
                      </v-select>
                    </v-flex>
                  </v-layout>
                  <v-layout row-sm child-flex-sm class="pl-3 pr-3">
                    <v-flex xs4>
                      <v-text-field label="Email Address"
                                    v-model.trim="reference.email_address"
                                    :readonly="mode === 'View'"
                                    prepend-icon="email"
                                    @input="$v.references.$each[i].email_address.$touch()"
                                    :error="$v.references.$each[i].email_address.$error">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field label="Contact Number"
                                    v-model.trim="reference.contact_number"
                                    prepend-icon="phone"
                                    :readonly="mode === 'View'">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-btn v-if="references.length > 0" small flat class="pull-right" @click.native="addMoreReference()"><v-icon> add </v-icon> Add More</v-btn>
            <br>
            <br>
            <v-btn flat @click.native="nextStep(4, '90%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
            <v-btn primary @click.native="nextStep(6, '70%')" class="pull-right" v-if="mode === 'Add'">Continue</v-btn>
            <v-btn error @click.native="update()" class="pull-right" v-if="mode === 'Edit'">Save</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <!--
            STEPPER 5
          -->



          <!--
            STEPPER 6
          -->
          <v-stepper-content step="6">
            <v-expansion-panel>
              <v-expansion-panel-content class="blue-grey darken-1" :value="true">
                <div slot="header" class="white--text">Biodata</div>
                <v-card>
                  <v-layout row-sm child-flex-sm>
                    <v-flex xs8>
                      <v-card-text class="headline">
                        <v-icon x-large>account_box</v-icon> {{ model.first_name }} {{ model.middle_name }} {{ model.last_name }} {{ model.suffix }}
                        <v-divider class="mt-4"></v-divider>
                      </v-card-text>
                      <v-card-text class="headline">
                        <v-layout row-sm child-flex-sm>
                          <v-flex xs4>
                            <v-icon x-large>cake</v-icon> {{ model.birthdate }}
                          </v-flex>
                          <v-flex xs4>
                            <v-icon x-large>flag</v-icon> {{ model.nationality.nationality }}
                          </v-flex>
                          <v-flex xs4>
                            <v-icon x-large>flare</v-icon> {{ model.religion ? model.religion.name : 'None'}}
                          </v-flex>
                        </v-layout>
                        <v-divider class="mt-4"></v-divider>
                      </v-card-text>
                      <v-card-text class="headline">
                        <v-layout row-sm child-flex-sm>
                          <v-flex xs8>
                            <v-icon x-large>email</v-icon> {{ model.email_address || 'None' }}
                          </v-flex>
                          <v-flex xs4>
                            <v-icon x-large>phone</v-icon> {{ model.contact_number || 'None' }}
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-flex>
                    <v-flex xs4 class="pt-4 pr-4">
                      <div v-if="image">
                        <v-card-media
                           :src="image"
                           height="200px"
                           contain
                         ></v-card-media>
                      </div>
                      <div v-else>
                        <v-card-media
                           src="/static/person.png"
                           height="200px"
                           contain
                         ></v-card-media>
                      </div>

                    </v-flex>
                  </v-layout>
                  <v-card-text class="headline">
                    <v-divider class="mb-4"></v-divider>
                    <v-icon x-large>place</v-icon> {{ setAddress(model) || 'None'}}
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content class="blue-grey lighten-1">
                <div slot="header" class="white--text">Relations</div>
                <v-card>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>account_box</v-icon> {{ mother.first_name }} {{ mother.middle_name }} {{ mother.last_name }} {{ mother.suffix }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>people_outline</v-icon> Mother
                      </v-flex>
                    </v-layout>
                    <v-layout xs12>
                      <v-flex xs4>
                        <v-icon x-large>cake</v-icon> {{ mother.birthdate || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>work</v-icon> {{ mother.occupation || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>account_box</v-icon> {{ father.first_name }} {{ father.middle_name }} {{ father.last_name }} {{ father.suffix }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>people_outline</v-icon> Father
                      </v-flex>
                    </v-layout>
                    <v-layout xs12>
                      <v-flex xs4>
                        <v-icon x-large>cake</v-icon> {{ father.birthdate || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>work</v-icon> {{ father.occupation || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>account_box</v-icon> {{ spouce.first_name }} {{ spouce.middle_name }} {{ spouce.last_name }} {{ spouce.suffix }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>people_outline</v-icon> Spouse
                      </v-flex>
                    </v-layout>
                    <v-layout xs12>
                      <v-flex xs4>
                        <v-icon x-large>cake</v-icon> {{ spouce.birthdate || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>work</v-icon> {{ spouce.occupation || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline" v-for="(relation, index) in relations" :key="index">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>account_box</v-icon> {{ relation.first_name }} {{ relation.middle_name }} {{ relation.last_name }} {{ relation.suffix }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>people_outline</v-icon> Child
                      </v-flex>
                    </v-layout>
                    <v-layout xs12>
                      <v-flex xs4>
                        <v-icon x-large>cake</v-icon> {{ relation.birthdate || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>work</v-icon> {{ relation.occupation || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4" v-if="index !== relations.length - 1"></v-divider>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content class="blue-grey darken-1">
                <div slot="header" class="white--text">Educational Attainment</div>
                <v-card>
                  <v-card-text class="headline">
                    <v-icon x-large>stars</v-icon> Highest Attained: {{ educations.degree || 'None' }}
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>school</v-icon> Elementary: {{ educations.elementary || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large class="pl-2">date_range</v-icon> {{ educations.elementary_grad_year || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>school</v-icon> Highschool: {{ educations.highschool || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large class="pl-2">date_range</v-icon> {{ educations.highschool_grad_year || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>school</v-icon> College: {{ educations.college || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large class="pl-2">date_range</v-icon> {{ educations.college_grad_year || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                  <v-card-text class="headline">
                    <v-layout xs12>
                      <v-flex xs8>
                        <v-icon x-large>school</v-icon> Graduate School: {{ educations.graduate_school || 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large class="pl-2">date_range</v-icon> {{ educations.graduate_school_grad_year || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4"></v-divider>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content v-if="employments.length > 0" class="blue-grey lighten-1">
                <div slot="header" class="white--text">Employment Records</div>
                <v-card>
                  <v-card-text class="headline" v-for="(employment, index) in employments" :key="index">
                    <v-layout row-sm child-flex-sm>
                      <v-flex xs4>
                        <v-icon x-large>work</v-icon> {{ employment.position ? employment.position.name : 'None' }}
                      </v-flex>
                      <v-flex xs4>
                        <v-icon x-large>business</v-icon> {{ employment.company ? employment.company.name : 'None' }}
                      </v-flex>
                      <v-flex xs2>
                        <v-icon x-large>date_range</v-icon> {{ employment.year_from || 'None' }}
                      </v-flex>
                      <v-flex xs2>
                        <v-icon x-large>date_range</v-icon> {{ employment.year_to || 'None' }}
                      </v-flex>
                    </v-layout>
                    <v-divider class="mt-4" v-if="index !== employments.length - 1"></v-divider>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>


              <v-expansion-panel-content v-if="references.length > 0" class="blue-grey darken-1">
                <div slot="header" class="white--text">Character References</div>
                <v-card>
                  <template v-for="(reference, index) in references">
                    <v-card-text class="headline">
                      <v-icon x-large>account_box</v-icon> {{ reference.first_name }} {{ reference.middle_name }} {{ reference.last_name }} {{ reference.suffix }}
                    </v-card-text>
                    <v-card-text class="headline">
                      <v-layout row-sm child-flex-sm>
                        <v-flex xs6>
                          <v-icon x-large>work</v-icon> {{ reference.position ? reference.position.name : 'None' }}
                        </v-flex>
                        <v-flex xs6>
                          <v-icon x-large>business</v-icon> {{ reference.company ? reference.company.name : 'None' }}
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                    <v-card-text class="headline">
                      <v-layout row-sm child-flex-sm>
                        <v-flex xs6>
                          <v-icon x-large>email</v-icon> {{ reference.email_address || 'None' }}
                        </v-flex>
                        <v-flex xs6>
                          <v-icon x-large class="pl-2">phone</v-icon> {{ reference.contact_number || 'None' }}
                        </v-flex>
                      </v-layout>
                      <v-divider class="mt-4" v-if="index !== references.length - 1"></v-divider>
                    </v-card-text>
                  </template>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-card-actions>
              <v-btn flat @click.native="nextStep(5, '90%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
              <v-spacer></v-spacer>
              <v-btn class="pull-right" primary @click.native="dialog = false" v-if="mode === 'View'">Close</v-btn>
              <v-btn flat error @click.native="dialog = false" v-if="mode !== 'View'" class="pull-right">Cancel</v-btn>
              <v-btn class="pull-right" :loading="saveDisable" :disabled="saveDisable" primary @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
              <v-btn error @click.native="update()" class="pull-right" v-if="mode === 'Edit'">Save</v-btn>
            </v-card-actions>
          </v-stepper-content>
          <!--
            STEPPER 6
          -->


        </v-stepper>
      </v-card>
    </v-dialog>



    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this Employee and all of his/her details?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    
    <alert-me></alert-me>
  </v-card>
</template>

<script>
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import AddressComponent from '../../../utilities/address/Address'
  import UploadComponent from '../../../utilities/upload/Upload'
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import config from '../../../../store/config'
  import _ from 'lodash'
  import moment from 'moment'
  import HandlingMessage from '../../../utilities/handling-message'
  import { required, email, minLength, maxLength, requiredIf, numeric } from 'vuelidate/lib/validators'
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe,
      AddressComponent,
      UploadComponent
    },
    name: 'Employee',
    data () {
      return {
        config: config,
        employee: {
          first_name: null,
          last_name: null
        },
        fingerprint: {
          data: null,
          notes: null
        },
        fingerFailed: false,
        fingerSuccess: false,
        fingerTimeout: null,
        interval: null,
        fingerLoad: false,
        fingerLink: null,
        fingerDialog: false,
        fingerTime: null,
        service: 'hr/employees/',
        model: {
          id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          birthdate: null,
          nationality_id: null,
          religion_id: null,
          address: null,
          city_id: null,
          province_id: null,
          country_id: null,
          contact_number: null,
          email_address: null,
          height: null,
          weight: null,
          country: {
            name: null,
            nationality: null
          },
          religion: {
            name: null
          },
          province: {
            name: null
          },
          city: {
            name: null
          },
          nationality: {
            name: null
          },
          imageName: null
        },
        educations: {
          id: null,
          employee_id: null,
          elementary: null,
          highschool: null,
          college: null,
          graduate_school: null,
          elementary_grad_year: null,
          highschool_grad_year: null,
          college_grad_year: null,
          graduate_school_grad_year: null,
          degree: null
        },
        relations: [],
        employments: [],
        references: [],
        mother: {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Mother',
          birthdate: null,
          occupation: null
        },
        father: {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Father',
          birthdate: null,
          occupation: null
        },
        spouce: {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Spouce',
          birthdate: null,
          occupation: null
        },
        expansion: {
          mother: true,
          father: true,
          spouce: true,
          children: true
        },
        review: {
          model: true,
          relations: true,
          educations: true,
          employments: true,
          references: true
        },
        relationClass: {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Children',
          birthdate: null,
          occupation: null,
          show: true
        },
        employmentClass: {
          id: null,
          employee_id: null,
          company: {
            name: null
          },
          position: {
            name: null
          },
          company_id: null,
          position_id: null,
          year_from: null,
          year_to: null
        },
        referenceClass: {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          company_id: null,
          position_id: null,
          company: {
            name: null
          },
          position: {
            name: null
          },
          email_address: null,
          contact_number: null,
          show: true
        },
        birthdate: false,
        birthdates: {
          mother: false,
          father: false,
          spouce: false,
          children: []
        },
        countries: [],
        provinces: [],
        cities: [],
        religions: [],
        companies: [],
        positions: [],
        backUp: {},
        image: null,
        imageFile: {
          id: null,
          employee_id: null,
          name: null,
          size: null,
          type: null,
          image: null
        },
        trashcan: {
          relations: [],
          employments: [],
          references: []
        },
        steps: 1,
        width: '90%',
        searchBy: 'employees.last_name',
        params: {
          include: ['country', 'religion', 'city', 'province', 'nationality'],
          select: ['employees.*', 'employee_images.name as imageName'],
          joinBy: [
            {
              join: 'employee_images',
              attr1: 'employee_images.employee_id',
              attr2: 'employees.id'
            },
            {
              join: 'countries as nationalities',
              attr1: 'nationalities.id',
              attr2: 'employees.nationality_id'
            },
            {
              join: 'countries',
              attr1: 'countries.id',
              attr2: 'employees.country_id'
            },
            {
              join: 'religions',
              attr1: 'religions.id',
              attr2: 'employees.religion_id'
            },
            {
              join: 'cities',
              attr1: 'cities.id',
              attr2: 'employees.city_id'
            },
            {
              join: 'provinces',
              attr1: 'provinces.id',
              attr2: 'employees.province_id'
            }
          ]
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Image',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'employees.last_name'
          },
          {
            text: 'Birthdate',
            align: 'left',
            sortable: true,
            value: 'employees.birthdate'
          },
          {
            text: 'Address',
            align: 'left',
            sortable: true,
            value: 'cities.name'
          },
          {
            text: 'Email Address',
            align: 'left',
            sortable: true,
            value: 'employees.email_address'
          },
          {
            text: 'Contact Number',
            align: 'left',
            sortable: true,
            value: 'employees.contact_number'
          }
        ]
      }
    },
    validations: {
      fingerprint: {
        data: {
          required
        },
        notes: {
          required
        }
      },
      model: {
        first_name: {
          required,
          minLength: minLength(2)
        },
        last_name: {
          required,
          minLength: minLength(2)
        },
        nationality_id: {
          required
        },
        birthdate: {
          required
        },
        religion_id: {
          required
        },
        email_address: {
          email
        },
        height: {
          numeric
        },
        weight: {
          numeric
        }
      },
      mother: {
        first_name: {
          requiredIf: requiredIf((data) => {
            return _.size(data.last_name) > 0
          })
        },
        last_name: {
          requiredIf: requiredIf((data) => {
            return _.size(data.first_name) > 0
          })
        }
      },
      father: {
        first_name: {
          requiredIf: requiredIf((data) => {
            return _.size(data.last_name) > 0
          })
        },
        last_name: {
          requiredIf: requiredIf((data) => {
            return _.size(data.first_name) > 0
          })
        }
      },
      spouce: {
        first_name: {
          requiredIf: requiredIf((data) => {
            return _.size(data.last_name) > 0
          })
        },
        last_name: {
          requiredIf: requiredIf((data) => {
            return _.size(data.first_name) > 0
          })
        }
      },
      relations: {
        $each: {
          first_name: {
            requiredIf: requiredIf((data) => {
              return _.size(data.last_name) > 0
            })
          },
          last_name: {
            requiredIf: requiredIf((data) => {
              return _.size(data.first_name) > 0
            })
          }
        }
      },
      references: {
        $each: {
          first_name: {
            requiredIf: requiredIf((data) => {
              return _.size(data.last_name) > 0
            })
          },
          last_name: {
            requiredIf: requiredIf((data) => {
              return _.size(data.first_name) > 0
            })
          },
          email_address: {
            email
          }
        }
      },
      educations: {
        elementary: {
          requiredIf: requiredIf(function () {
            return this.educations.elementary_grad_year
          })
        },
        elementary_grad_year: {
          requiredIf: requiredIf(function () {
            return this.educations.elementary
          }),
          numeric,
          minLength: minLength(4)
        },
        highschool: {
          requiredIf: requiredIf(function () {
            return this.educations.highschool_grad_year
          })
        },
        highschool_grad_year: {
          requiredIf: requiredIf(function () {
            return this.educations.highschool
          }),
          numeric,
          minLength: minLength(4)
        },
        college: {
          requiredIf: requiredIf(function () {
            return this.educations.college_grad_year
          })
        },
        college_grad_year: {
          requiredIf: requiredIf(function () {
            return this.educations.college
          }),
          numeric,
          minLength: minLength(4)
        },
        graduate_school: {
          requiredIf: requiredIf(function () {
            return this.educations.graduate_school_grad_year
          })
        },
        graduate_school_grad_year: {
          requiredIf: requiredIf(function () {
            return this.educations.graduate_school
          }),
          numeric,
          minLength: minLength(4)
        }
      },
      employments: {
        $each: {
          company_id: {
            required
          },
          position_id: {
            required
          },
          year_from: {
            required,
            numeric,
            minLength: minLength(4),
            maxLength: maxLength(4)
          },
          year_to: {
            required,
            numeric,
            minLength: minLength(4),
            maxLength: maxLength(4)
          }
        }
      }
    },
    created () {
      this.companies = this.$store.getters['commons/companies/getAll']
      this.religions = this.$store.getters['commons/religions/getAll']
      this.countries = this.$store.getters['commons/countries/getAll']
      this.provinces = this.$store.getters['commons/provinces/getAll']
      this.cities = this.$store.getters['commons/cities/getAll']
      this.positions = this.$store.getters['commons/positions/getAll']
    },
    methods: {
      resetFinger () {
        clearInterval(this.interval)
        clearTimeout(this.fingerTimeout)
        this.fingerFailed = false
        this.fingerSuccess = false
        this.fingerTimeout = null
        this.interval = null
        this.fingerLoad = false
      },
      fingerSave () {
        this.$v.fingerprint.$touch()
        if (this.$v.fingerprint.$error) return
        this.fingerprint.user_id = this.employee.id
        this.$store.dispatch('hr/employees/fingernote', this.fingerprint).then((res) => {
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
          this.getAll()
          this.fingerLoad = false
          this.fingerDialog = false
        }, () => {
          this.fingerLoad = false
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      recordFinger () {
        this.resetFinger()
        this.fingerLoad = true
        this.$refs.finLink.click()
        this.interval = setInterval(function () {
          this.$store.dispatch('hr/employees/getBy', {key: 'id', value: this.employee.id}).then((res) => {
            let _data = res.data.data[0]
            if (_data && _data.updated_at) {
              let data = _data.fingerprint
              let now = moment()
              let str = data.updated_at.split(' ')[1]
              let _latest = moment(str, 'HH:mm:ss')
              let diff = moment(now).diff(_latest, 'minutes')
              if (diff < 1) {
                this.fingerSuccess = true
                this.fingerLoad = false
                this.fingerprint.data = data.data
                clearInterval(this.interval)
                clearTimeout(this.fingerTimeout)
              }
            }
          })
        }.bind(this), 1000)
        this.fingerTimeout = setTimeout(function () {
          clearInterval(this.interval)
          if (!this.fingerSuccess) {
            this.fingerFailed = true
          }
          this.fingerLoad = false
        }.bind(this), 12000)
      },
      registerFinger (item) {
        this.fingerTime = moment().format('Y-MM-DD hh:mm:ss')
        this.resetFinger()
        this.fingerprint = {
          data: null,
          notes: null
        }
        this.fingerDialog = true
        let str = config.BASE_URL + 'fingerregister?user_id=' + item.id
        this.fingerLink = btoa(str)
        this.employee = item
        if (item.fingerprint) {
          this.fingerprint = item.fingerprint
        }
      },
      setAddress (item) {
        let address = _.size(item.address) > 0 ? item.address + ', ' : ''
        let city = item.city_id ? item.city.name + ', ' : ''
        let province = item.province_id ? item.province.name + ', ' : ''
        let country = item.country_id ? item.country.name : ''
        let location = address + city + province + country
        return _.trimEnd(location, ', ')
      },
      onNationalityChange (val) {
        this.$v.model.nationality_id.$touch()
        let nationality = _.values(_.pickBy(this.countries, { id: val }))[0]
        this.model.nationality = nationality
      },
      onReligionChange (val) {
        this.$v.model.religion_id.$touch()
        let religion = _.values(_.pickBy(this.countries, { id: val }))[0]
        this.model.religion = religion
      },
      imageChange (file) {
        let fileReader = new FileReader()
        this.imageFile.name = file.name
        this.imageFile.size = file.size
        this.imageFile.type = file.type
        fileReader.readAsDataURL(file)
        fileReader.onload = (event) => {
          this.imageFile.image = event.target.result
          this.image = event.target.result
        }
      },
      nextStep (step, width) {
        switch (step) {
          case 1: {
            this.steps = step
            this.width = width
            break
          }
          case 2: {
            this.$v.model.$touch()
            if (this.$v.model.$error) return
            if (this.mode === 'Add') {
              this.model.country = _.values(_.pickBy(this.countries, { id: this.model.country_id }))[0]
              this.model.province = _.values(_.pickBy(this.provinces, { id: this.model.province_id }))[0]
              this.model.city = _.values(_.pickBy(this.cities, { id: this.model.city_id }))[0]
            }
            this.steps = step
            this.width = width
            break
          }
          case 3: {
            this.$v.mother.$touch()
            this.$v.father.$touch()
            this.$v.spouce.$touch()
            this.$v.relations.$touch()
            if (this.$v.mother.$error) return
            if (this.$v.father.$error) return
            if (this.$v.spouce.$error) return
            if (this.$v.relations.$error) return
            this.steps = step
            this.width = width
            break
          }
          case 5: {
            this.$v.employments.$touch()
            if (this.$v.employments.$error) return
            this.steps = step
            this.width = width
            break
          }
          default: {
            this.steps = step
            this.width = width
            break
          }
        }
      },
      addMoreEmployment () {
        this.employments.push(_.cloneDeep(this.employmentClass))
      },
      removeEmployment (index) {
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUp.employments, {id: this.employments[index].id}))
          if (!_.isEmpty(val)) {
            this.trashcan.employments.push(val[0].id)
          }
        }
        this.employments.splice(index, 1)
      },
      addMoreChildren (event = null) {
        if (event) {
          event.stopPropagation()
        }
        this.relations.push(_.cloneDeep(this.relationClass))
        this.birthdates.children.push(false)
      },
      removeChildren (index, event = null) {
        if (event) {
          event.stopPropagation()
        }
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUp.relations, {id: this.relations[index].id}))
          if (!_.isEmpty(val)) {
            this.trashcan.relations.push(val[0].id)
          }
        }
        this.relations.splice(index, 1)
      },
      addMoreReference () {
        this.references.push(_.cloneDeep(this.referenceClass))
      },
      removeReference (index, event = null) {
        if (event) {
          event.stopPropagation()
        }
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUp.references, {id: this.references[index].id}))
          if (!_.isEmpty(val)) {
            this.trashcan.references.push(val[0].id)
          }
        }
        this.references.splice(index, 1)
      },
      view (model) {
        this.clear('View')
        this.retrieve(model)
        this.steps = 6
        this.width = '70%'
      },
      edit (model) {
        this.clear('Edit')
        this.retrieve(model)
      },
      retrieve (model) {
        this.$store.dispatch('business_logics/employeeListRetrieve', model.id).then((res) => {
          if (res.data.image[0]) {
            this.imageFile = res.data.image[0]
          }
          if (!_.isNull(res.data.image[0].name)) {
            this.image = 'http://localhost/erp-backend/public/' + res.data.image[0].name
          }
          this.model = res.data.biodata[0]
          let relations = _.values(_.pickBy(res.data.relations, {relation_type: 'Children'}))
          _.forEach(relations, (relation) => {
            relation.show = true
          })
          this.relations = relations
          this.backUp.relations = _.cloneDeep(this.relations)
          _.values(_.pickBy(res.data.relations, {relation_type: 'Mother'}))[0] ? this.mother = _.values(_.pickBy(res.data.relations, {relation_type: 'Mother'}))[0] : ''
          _.values(_.pickBy(res.data.relations, {relation_type: 'Father'}))[0] ? this.father = _.values(_.pickBy(res.data.relations, {relation_type: 'Father'}))[0] : ''
          _.values(_.pickBy(res.data.relations, {relation_type: 'Spouce'}))[0] ? this.spouce = _.values(_.pickBy(res.data.relations, {relation_type: 'Spouce'}))[0] : ''
          this.educations = res.data.educations[0]
          this.employments = res.data.employments
          this.backUp.employments = _.cloneDeep(this.employments)
          let references = res.data.references
          _.forEach(references, (reference) => {
            reference.show = true
          })
          this.references = references
          this.backUp.references = _.cloneDeep(this.references)
          this.dialog = true
        })
      },
      assembleRelations () {
        let rawRelations = _.cloneDeep(this.relations)
        rawRelations = _.remove(rawRelations, (relation) => {
          return _.size(relation.first_name) > 0
        })
        if (_.size(this.mother.first_name) > 0) {
          rawRelations.push(_.cloneDeep(this.mother))
        }
        if (_.size(this.father.first_name) > 0) {
          rawRelations.push(_.cloneDeep(this.father))
        }
        if (_.size(this.spouce.first_name) > 0) {
          rawRelations.push(_.cloneDeep(this.spouce))
        }
        return rawRelations
      },
      checkImage () {
        if (!_.isNull(this.imageFile.employee_id)) {
          return this.imageFile
        }
        return null
      },
      checkValidation () {
        this.$v.model.$touch()
        this.$v.mother.$touch()
        this.$v.father.$touch()
        this.$v.spouce.$touch()
        this.$v.relations.$touch()
        this.$v.references.$touch()
        this.$v.educations.$touch()
        this.$v.employments.$touch()
        if (this.$v.model.$error || this.$v.mother.$error || this.$v.father.$error || this.$v.spouce.$error || this.$v.relations.$error || this.$v.references.$error || this.$v.educations.$error || this.$v.employments.$error) {
          return true
        }
        return false
      },
      save () {
        if (this.checkValidation()) return
        let complete = {
          employee: this.model,
          relations: this.assembleRelations(),
          educations: this.educations,
          employments: this.employments,
          references: this.references,
          image: this.checkImage()
        }
        this.$store.dispatch('business_logics/employeeListRecord', complete).then((res) => {
          this.getAll()
          this.dialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      update () {
        if (this.checkValidation()) return
        let complete = {
          employee: this.model,
          relations: this.assembleRelations(),
          educations: this.educations,
          employments: this.employments,
          references: this.references,
          trash: this.trashcan,
          image: this.checkImage()
        }
        this.$store.dispatch('business_logics/employeeListRecord', complete).then((res) => {
          this.getAll()
          this.dialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.updateSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.updateError})
        })
      },
      delAgree () {
        this.$store.dispatch('business_logics/employeeClean', this.itemToDelete).then((res) => {
          this.getAll()
          this.dialog = false
          this.itemToDelete = null
          this.delDialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.removeSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.removeError})
        })
      },
      beforeClear () {
        this.width = '90%'
        this.steps = 1
        this.relations = []
        this.employments = []
        this.references = []
        this.expansion = {
          mother: true,
          father: true,
          spouce: true,
          children: true
        }
        this.trashcan = {
          relations: [],
          employments: [],
          references: []
        }
        this.image = null
      },
      resetModel () {
        this.addMoreChildren()
        this.model = {
          id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          birthdate: null,
          nationality_id: null,
          religion_id: null,
          address: null,
          city_id: null,
          province_id: null,
          country_id: null,
          contact_number: null,
          email_address: null,
          height: null,
          weight: null,
          country: {
            name: null,
            nationality: null
          },
          religion: {
            name: null
          },
          province: {
            name: null
          },
          city: {
            name: null
          },
          nationality: {
            name: null
          },
          imageName: null
        }
        this.mother = {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Mother',
          birthdate: null,
          occupation: null
        }
        this.father = {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Father',
          birthdate: null,
          occupation: null
        }
        this.spouce = {
          id: null,
          employee_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          suffix: null,
          relation_type: 'Spouce',
          birthdate: null,
          occupation: null
        }
        this.educations = {
          id: null,
          employee_id: null,
          elementary: null,
          highschool: null,
          college: null,
          graduate_school: null,
          elementary_grad_year: null,
          highschool_grad_year: null,
          college_grad_year: null,
          graduate_school_grad_year: null,
          degree: null
        }
        this.imageFile = {
          id: null,
          name: null,
          size: null,
          type: null,
          image: null
        }
      }
    }
  }
</script>
