<template>
  <v-container fluid grid-list-md pa-3 class="elevation-12 _page grey lighten-4">
    <v-layout row wrap >
      <v-flex xs5 offset-xs1>
        <v-select
          v-bind:items="storesFrom"
          v-model="from"
          autocomplete
          label="From"
          item-text="name"
          item-value="id"
          prepend-icon="store"
        ></v-select>
      </v-flex>
      <v-flex xs5>
        <v-select
          v-bind:items="storesTo"
          v-model="to"
          autocomplete
          label="To"
          item-text="name"
          item-value="id"
          :disabled="from === null"
          prepend-icon="store"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs4 offset-xs1>
        <v-select
          v-bind:items="storeFromInventories"
          v-model="item.inventory_id"
          autocomplete
          label="Item to Transfer"
          item-text="item_name"
          item-value="id"
          :disabled="to === null"
          @change="val => itemOnChange(val)"
        ></v-select>
      </v-flex>
      <v-flex xs2>
        <v-text-field label="Current Qty"
                      readonly
                      v-model="item.current_quantity">
        </v-text-field>
      </v-flex>
      <v-flex xs2>
        <v-text-field label="Transfer Qty"
                      :readonly="item.inventory_id === null"
                      v-model="item.quantity"
                      name="quantity"
                      @input="$v.item.quantity.$touch()"
                      :error="$v.item.quantity.$error"
                      :error-messages="validations($v.item.quantity)"
                      >

        </v-text-field>
      </v-flex>
      <v-flex xs3>
        <v-btn info large @click.native="addToItemList()" :disabled="!to || !from || !item.inventory_id || !item.quantity">
          <v-icon class=" amber--text mr-2">move_to_inbox</v-icon> Add
        </v-btn>
      </v-flex>
    </v-layout>
    <v-container v-bind="{ [`grid-list-sm`]: true }" class="pr-3" v-if="items">
      <v-layout rows wrap lg12 class="elevation-12">
        <v-card class="blue-grey lighten-2 full-width">
          <v-card-title primary-title>
            <v-flex class="headline white--text centralize">
              <v-icon fa class="fa-lg amber--text ">list-alt</v-icon> Transfer List ({{items.length}})
            </v-flex>
          </v-card-title>
          <v-card-title>
            <v-card xs3 hover height="150px" v-for="(item, i) in items" :key="i" class="yellow lighten-4 mr-3 mb-4">
              <v-btn class="red" dark small absolute top right fab
                @click.native="removeFromItemList(i)"
              >
                <v-icon>close</v-icon>
              </v-btn>
              <v-card-title primary-title>
                <div class="headline"> {{ item.quantity }} {{ item.item.name }} </div>
                <div class="pl-2">({{ item.item.unit_value }}{{ item.item.unit.abbreviation }}) </div>
              </v-card-title>
              <v-card-text>
                <div class=" text-sm-center">{{item.item.packing_value}} pcs / {{ item.item.packing.abbreviation }}</div>
              </v-card-text>
            </v-card>
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn info large class="mb-4 mr-3"@click.native="transfer(), saveDisable = true" :loading="saveDisable" :disabled="saveDisable" v-if="items.length > 0">
              <v-icon fa class="fa-lg amber--text mr-2">truck</v-icon>
              Transfer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-container>
    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import HandlingMessage from '../../utilities/handling-message'
  import _ from 'lodash'
  import AlertMe from '../../utilities/alert_me/AlertMe'
  import BasicMixins from '../../../mixins/basicMixins'
  import { requiredIf, numeric, between } from 'vuelidate/lib/validators'
  export default {
    components: {AlertMe},
    name: 'ItemTransfer2',
    mixins: [
      BasicMixins
    ],
    data () {
      return {
        from: null,
        to: null,
        item: {
          inventory_id: null,
          item: null,
          affiliation_sender_id: null,
          affiliation_receiver_id: null,
          quantity: null,
          current_quantity: null
        },
        items: [],
        storesFrom: [],
        storesTo: [],
        storeFromInventories: [],
        params: {
          orderBy: {
            condition: []
          },
          filter: {
            condition: []
          },
          search: null,
          rowsPerPage: null,
          page: null,
          totalItems: null
        }
      }
    },
    validations: {
      item: {
        quantity: {
          requiredIf: requiredIf(function () {
            return this.item.item
          }),
          numeric,
          between (value) {
            return between(0, this.item.current_quantity)(value)
          }
        }
      }
    },
    watch: {
      from: {
        handler (id) {
          this.getInventories(id)
          this.filter(id)
          this.to = null
          this.clear()
          this.items = []
        },
        deep: true
      }
    },
    created () {
      this.getAll()
    },
    methods: {
      getAll (params = null, type = 'storesFrom') {
        this.$store.dispatch('commons/affiliations/getAll', params).then((res) => {
          this[type] = res.data.data
        })
      },
      getInventories (val) {
        let _params = {
          include: ['item', 'item.unit', 'item.packing'],
          select: ['inventories.*', 'items.name as item_name', 'items.id as item_id'],
          joinBy: [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'units',
              attr1: 'items.unit_id',
              attr2: 'units.id'
            },
            {
              join: 'packings',
              attr1: 'items.packing_id',
              attr2: 'packings.id'
            }
          ],
          filter: {
            condition: [
              {
                where: 'affiliation_id',
                operator: '=',
                val: val
              }
            ]
          }
        }
        this.$store.dispatch('inventories/inventories/getAll', _params).then((res) => {
          this.storeFromInventories = res.data.data
        })
      },
      filter (val) {
        this.params.filter = {
          condition: [
            {
              where: 'id',
              operator: '!=',
              val: val
            }
          ]
        }
        this.getAll(this.params, 'storesTo')
      },
      itemOnChange (val) {
        let inv = _.values(_.pickBy(this.storeFromInventories, {id: val}))[0]
        this.item.item = inv.item
        this.item.current_quantity = inv.quantity
      },
      addToItemList () {
        this.$v.$touch()
        if (this.$v.$error) return
        this.items.push(this.item)
        this.clear()
      },
      removeFromItemList (index) {
        this.items.splice(index, 1)
      },
      transfer () {
        this.$v.$touch()
        if (this.$v.$error) return
        this.$store.dispatch('inventories/item_transfers/transact', this.setTransferAddress()).then((res) => {
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.transferSuccess})
          this.items = []
          this.from = null
          this.clear()
          this.saveDisable = false
        }, () => {
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.transferError})
          this.saveDisable = false
        })
      },
      setTransferAddress () {
        _.forEach(this.items, (item) => {
          item.affiliation_sender_id = this.from
          item.affiliation_receiver_id = this.to
        })
        return this.items
      },
      clear () {
        this.$v.$reset()
        this.item = {
          inventory_id: null,
          affiliation_sender_id: null,
          affiliation_receiver_id: null,
          quantity: null,
          current_quantity: null
        }
      }
    }
  }
</script>
