<template>
  <v-container>
    <v-layout rows>
      <v-flex xs3>
        <v-select
          v-bind:items="stores"
          v-model="filterByStore"
          autocomplete
          label="Store"
          item-text="name"
          item-value="id"
          prepend-icon="store"
          v-bind:class = "'margin-bottom-less-10'"
        ></v-select>
      </v-flex>
      <v-flex xs3 offset-xs6 class="pr-3">
        <v-text-field
          v-show="Boolean(filterByStore)"
          append-icon="search"
          label="Search Item Name"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-flex>
    </v-layout>
    


    <v-layout rows>
      <v-flex xs3>
      </v-flex>
      <v-flex offset-xs3>
        <v-btn v-if="saveAllButton" @click.native = "saveAllLoading = true, saveAll()" :loading="saveAllLoading" primary>
          <v-icon>save</v-icon> Save All
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout rows wrap v-if="filterByStore">

      <v-flex xs12 class="pr-3">
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="items"
          v-bind:pagination.sync="pagination"
          :total-items="totalItems"
          :loading="loading"
          class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span>{{ props.header.text }}</span>
          </template>
          <template slot="items" scope="props">
            <td>{{ props.item.item.name }} ({{ props.item.item.unit_value }}{{ props.item.item.unit.abbreviation }})</td>
            <td>{{ props.item.item.company.name }}</td>
            <td>{{ props.item.quantity | comma}}</td>
            <td>
              <v-edit-dialog persistent
                class="text-xs-right"
                @save = "editRecount(props.item.id)"
                @keyup.enter = "editRecount(props.item.id)"
                large
                lazy
              >
                <div class="text-xs-right" v-if="recounts[props.item.id] && recounts[props.item.id].recount !== ''"> {{recounts[props.item.id].recount}}</div>
                <div v-else> [add recount]</div>

                <div slot="input" class="mt-3 title">Recount Qty <br> ({{props.item.item.name}})</div>
                <v-text-field
                  slot="input"
                  label="Edit"
                  v-model="recounts[props.item.id].recount"
                  type="number"
                  single-line
                  autofocus
                ></v-text-field>
              </v-edit-dialog>
            </td>
            <td>
              <v-btn icon small outline fab class="blue--text" :loading = "recounts[props.item.id].loading" @click.native="recounts[props.item.id].loading = true, saveCount(props.item)" :disabled="recounts[props.item.id].recount === '' || recounts[props.item.id].recount == props.item.quantity">
                <v-icon>save</v-icon>
              </v-btn>
            </td>
            <td>
              <span v-if = "recounts[props.item.id].change > 0">{{recounts[props.item.id].status}}</span>
              <v-btn v-if = "recounts[props.item.id].change > 0"
                  :loading = "recounts[props.item.id].undoLoading"
                 @click.native="recounts[props.item.id].undoLoading = true, undo(props.item)"
                 outline fab small class="indigo indigo--text" v-tooltip:top="{ html: 'undo change' }">
                <v-icon fa>undo</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required } from 'vuelidate/lib/validators'
  import _ from 'lodash'
  // import HandlingMessage from '../../../utilities/handling-message'

  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    name: 'Manage-Inventory',
    data () {
      return {
        service: 'inventories/inventories/',
        stores: [],
        inventoryItems: [],
        saveAllLoading: false,
        filterByStore: null,
        headers: [
          {
            text: 'Item Name',
            align: 'left',
            sortable: true,
            value: 'items.name'
          },
          {
            text: 'Brand',
            align: 'left',
            sortable: true,
            value: 'companies.name'
          },
          {
            text: 'Current Qty.',
            align: 'left',
            sortable: true,
            value: 'quantity'
          },
          {
            text: 'Recount Qty.',
            align: 'left',
            sortable: false
          },
          {
            text: 'Save',
            align: 'left',
            sortable: false
          },
          {
            text: 'Status',
            align: 'left',
            sortable: false
          }
        ],
        items: [],
        model: {
          id: null,
          item_id: [],
          quantity: 0,
          affiliation_id: null
        },
        recounts: [
          {
            recount: ''
          }
        ],
        params: {
          include: ['item', 'item.company', 'item.unit'],
          select: ['*', 'inventories.id', 'companies.name'],
          joinBy: [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'companies',
              attr1: 'items.company_id',
              attr2: 'companies.id'
            }
          ],
          orderBy: {
            condition: [
              {
                col: 'items.name',
                direction: 'asc'
              }
            ]
          },
          filter: {
            condition: []
          },
          search: null,
          rowsPerPage: null,
          page: null,
          totalItems: null
        },
        searchBy: 'items.name',
        recount: {},
        status: {},
        error: null,
        isPristine: true
      }
    },
    validations: {
      items: {
        required
      }
    },
    created () {
      this.init()
    },
    watch: {
      filterByStore: {
        handler (params) {
          this.onSelectAffiliation(params)
        },
        deep: true
      }
    },
    computed: {
      saveAllButton: function () {
        if (this.filterByStore) {
          let _temp = this.recounts
          var _save = _.filter(this.inventoryItems, (i) => {
            if (_temp[i.id] !== undefined && i.quantity !== _temp[i.id].recount && _temp[i.id].recount > 0) {
              return true
            }
          })
          return _save.length > 0
        }
        return false
      }
    },
    methods: {
      init () {
        this.$store.dispatch('business_logics/priceListInit').then((res) => {
          this.stores = res.data.affiliations
        })
      },
      onSelectAffiliation (val) {
        this.params.filter = {
          condition: [
            {
              where: 'affiliation_id',
              operator: '=',
              val: val
            }
          ]
        }
        this.$store.dispatch(this.service + 'getBy', {key: 'affiliation_id', value: this.filterByStore}).then((res) => {
          this.inventoryItems = res.data.data
        })
        this.$store.dispatch(this.service + 'getAll', this.params).then((res) => {
          var temp = this.recounts
          _.forEach(res.data.data, function (i) {
            if (temp[i.id] === undefined) {
              temp[i.id] = {
                recount: '',
                status: '',
                undo: '',
                change: 0,
                loading: false,
                undoLoading: false
              }
            }
          })
          this.items = res.data.data
          this.totalItems = res.data.total
          this.loading = false
        })
      },
      saveAll () {
        var params = {
          store: this.filterByStore,
          recounts: this.recounts
        }
        this.$store.dispatch(this.service + 'saveAll', params).then((res) => {
          var self = this
          _.forEach(res.data.recounts, function (i, key) {
            self.setUndo(key, i.recount, i)
          })
          this.saveAllLoading = false
          this.getAll()
          this.$events.fire('alert-me', {type: 'success', message: 'success!'})
        })
      },
      getAll () {
        this.onSelectAffiliation(this.filterByStore)
      },
      saveCount (item) {
        this.recounts[item.id].undo = ''
        this.update(item)
      },
      undo (item) {
        this.recounts[item.id].recount = this.recounts[item.id].undo
        this.recounts[item.id].status = ''
        this.recounts[item.id].change = ''
        this.recounts[item.id].undo = 'undo'
        this.model = item
        this.update(this.model)
      },
      editRecount (item) {
        this.getAll()
      },
      beforeUpdate (item) {
        if (this.recounts[item.id].undo !== 'undo') {
          this.recounts[item.id].undo = item.quantity
        }
        item.quantity = this.recounts[item.id].recount
        this.model = item
      },
      beforeUpdateSuccess (item) {
        this.recounts[item.id].loading = false
        this.recounts[item.id].undoLoading = false
        if (this.recounts[item.id].undo !== 'undo') {
          this.setUndo(item.id, item.quantity, this.recounts[item.id])
        }
      },
      setUndo (id, quantity, recount) {
        let stat = parseInt(recount.undo) > parseInt(quantity) ? 'Decreased' : 'Increased'
        this.recounts[id].change = Math.abs(parseInt(recount.undo) - parseInt(quantity))
        this.recounts[id].status = stat + ': ' + this.recounts[id].change
        this.recounts[id].undo = recount.undo
      }
    }
  }
</script>
