<template>
  <v-card>
    <v-card-title>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Contract</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.employee.first_name }} {{ props.item.employee.middle_name ? props.item.employee.middle_name : '' }} {{ props.item.employee.last_name }}
        </td>
        <td>
          {{ props.item.position.name }}
        </td>
        <td>
          {{ props.item.salary_per_month }}
        </td>
        <td>
          {{ props.item.contract_type.name }}
        </td>
        <td>
          {{ props.item.hire_date }}
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent :width="width">
      <v-card>
        <v-stepper v-model="steps">
          <v-stepper-header v-if="mode !== 'View'">
            <v-stepper-step step="1" :complete="steps > 1">Add Contract</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="steps > 2">Add Schedules</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :complete="steps > 3">Add Government IDs <small>Optional</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4">Review</v-stepper-step>
          </v-stepper-header>
          <v-stepper-content step="1">
            <v-card-text>
              <v-layout row-xs child-flex-xs>
                <v-flex xs12>
                  <v-select
                    v-bind:items="employees"
                    item-text="fullname"
                    item-value="id"
                    v-model="model.employee_id"
                    label="Employee"
                    autocomplete
                    :disabled="mode !== 'Add'"
                    @change="val => onEmployeeChange(val)"
                    :error="$v.model.employee_id.$error"
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs>
                <v-flex xs6>
                  <v-select
                    v-bind:items="positions"
                    item-text="name"
                    item-value="id"
                    v-model="model.position_id"
                    label="Position"
                    autocomplete
                    :disabled="mode === 'View'"
                    @change="$v.model.position_id.$touch()"
                    :error="$v.model.position_id.$error"
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-bind:items="contractTypes"
                    item-text="name"
                    item-value="id"
                    v-model="model.contract_type_id"
                    label="Contract Type"
                    autocomplete
                    :disabled="mode === 'View'"
                    @change="$v.model.contract_type_id.$touch()"
                    :error="$v.model.contract_type_id.$error"
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs>
                <v-flex xs6>
                  <v-text-field label="Monthly Salary"
                                v-model.trim="model.salary_per_month"
                                :readonly="mode === 'View'"
                                @input="$v.model.salary_per_month.$touch()"
                                :error="$v.model.salary_per_month.$error">
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-menu
                    lazy
                    :close-on-content-click="false"
                    v-model="hire_date"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-left="40"
                    max-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      label="Hire Date"
                      v-model="model.hire_date"
                      prepend-icon="event"
                      @input="$v.model.hire_date.$touch()"
                      :error="$v.model.hire_date.$error"
                      readonly
                    ></v-text-field>
                    <v-date-picker v-model="model.hire_date" scrollable actions>
                      <template scope="{ save, cancel }">
                        <v-card-actions>
                          <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                          <v-btn flat primary @click.native="save()">Save</v-btn>
                        </v-card-actions>
                      </template>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs>
                <v-flex xs12>
                  <v-select
                    v-bind:items="benefits"
                    item-text="name"
                    item-value="id"
                    v-model="employeeBenefits"
                    label="Benefits"
                    multiple
                    max-height="200"
                    :disabled="mode === 'View'"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-btn flat error @click.native="dialog = false">Cancel</v-btn>
            <v-btn primary @click.native="nextStep(2, '80%')" class="pull-right">Continue</v-btn>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-btn v-if="employeeSchedules.length === 0" block secondary dark @click.native="addmore()">Click to add Schedule</v-btn>
            <v-layout row-xs child-flex-xs v-for="(schedule, index) in employeeSchedules" :key="index">
              <v-flex xs4>
                <v-select
                  v-bind:items="days"
                  item-text="name"
                  item-value="id"
                  v-model="schedule.day_id"
                  label="Day"
                  autocomplete
                  :disabled="mode === 'View'"
                  @change="$v.employeeSchedules.$each[index].day_id.$touch()"
                  :error="$v.employeeSchedules.$each[index].day_id.$error"
                ></v-select>
              </v-flex>
              <v-flex xs4>
                <v-select
                  v-bind:items="schedules"
                  item-text="name"
                  item-value="id"
                  v-model="schedule.schedule_id"
                  label="Schedule"
                  autocomplete
                  :disabled="mode === 'View'"
                  @change="val => onScheduleChange(val, index)"
                  :error="$v.employeeSchedules.$each[index].schedule_id.$error"
                ></v-select>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Time In"
                              v-model.trim="schedule.timeIn"
                              readonly>
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Time Out"
                              v-model.trim="schedule.timeOut"
                              readonly>
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-btn fab small error @click.native="removemore(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
              </v-flex>
            </v-layout>
            <v-btn small flat class="pull-right" @click.native="addmore()"><v-icon> add </v-icon> Add More</v-btn>
            <br>
            <br>
            <v-btn flat @click.native="nextStep(1, '50%')" class="pull-left">Back</v-btn>
            <v-btn primary @click.native="nextStep(3, '80%')" class="pull-right">Continue</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-btn v-if="employeeGovernmentId.length === 0" block secondary dark @click.native="addmoreGovernmentId()">Click to add Government ID</v-btn>
            <v-layout row-xs child-flex-xs v-for="(governmentId, index) in employeeGovernmentId" :key="index">
              <v-flex xs3>
                <v-select
                  v-bind:items="filteredGovernmentIds"
                  item-text="name"
                  item-value="id"
                  v-model="governmentId.government_id_type_id"
                  label="Government Id"
                  autocomplete
                  :disabled="mode === 'View'"
                  @change="$v.employeeGovernmentId.$each[index].government_id_type_id.$touch()"
                  :error="$v.employeeGovernmentId.$each[index].government_id_type_id.$error"
                ></v-select>
              </v-flex>
              <v-flex xs3>
                <v-text-field label="Number"
                              v-model="governmentId.number"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs3>
                <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="governmentIdExpirationDate[index]"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-left="40"
                  max-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    label="Expiration Date"
                    v-model="governmentId.expiration_date"
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="governmentId.expiration_date" scrollable actions>
                    <template scope="{ save, cancel }">
                      <v-card-actions>
                        <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                        <v-btn flat primary @click.native="save()">Save</v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs2>
                <v-btn fab small error @click.native="removemoreGovernmentId(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
              </v-flex>
            </v-layout>
            <v-btn small flat class="pull-right" @click.native="addmoreGovernmentId()"><v-icon> add </v-icon> Add More</v-btn>
            <br>
            <br>
            <v-btn flat @click.native="nextStep(2, '80%')" class="pull-left">Back</v-btn>
            <v-btn primary @click.native="nextStep(4, '80%')" class="pull-right">Continue</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <v-stepper-content step="4">
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>assignment</v-icon> Contract Details
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline">
                <v-layout row-xs child-flex-xs>
                  <v-flex xs4>
                    <v-icon x-large>account_box</v-icon> {{ model.employee.first_name }} {{ model.employee.middle_name ? model.employee.middle_name : '' }} {{ model.employee.last_name }} {{ model.employee.suffix ? model.employee.suffix : '' }}
                  </v-flex>
                  <v-flex xs4>
                    <v-icon x-large>work</v-icon> {{ model.position.name }}
                  </v-flex>
                  <v-flex xs4>
                    <v-icon x-large>event_note</v-icon> {{ model.contract_type.name }}
                  </v-flex>
                </v-layout>
                <v-layout row-xs child-flex-xs class="pt-4">
                  <v-flex xs4>
                    <v-icon x-large>attach_money</v-icon> {{ model.salary_per_month }}
                  </v-flex>
                  <v-flex xs4>
                    <v-icon x-large>today</v-icon> {{ model.hire_date }}
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
            <br />
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>redeem</v-icon> Benefits
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline">
                <template v-for="(benefit, index) in viewBenefits">
                  <v-layout row-xs child-flex-xs :class="viewBenefits.length - 1 != index ? 'pb-4' : ''">
                    <v-flex xs4>
                      <v-icon x-large>done</v-icon> {{ benefit.benefit.name }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>attach_money</v-icon> {{ benefit.benefit.value }}
                    </v-flex>
                  </v-layout>
                </template>
              </v-card-text>
            </v-card>
            <br />
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>schedule</v-icon> Schedules
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline">
                <template v-for="(schedule, index) in employeeSchedules">
                  <v-layout row-xs child-flex-xs :class="employeeSchedules.length - 1 != index ? 'pb-4' : ''">
                    <v-flex xs4>
                      <v-icon x-large>today</v-icon> {{ schedule.day.name }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>schedule</v-icon> Start: {{ schedule.schedule.start_time }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>schedule</v-icon> End: {{ schedule.schedule.end_time }}
                    </v-flex>
                  </v-layout>
                </template>
              </v-card-text>
            </v-card>
            <br />
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>perm_identity</v-icon> Government IDs
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline">
                <template v-for="(govId, index) in viewGovernmentId">
                  <v-layout row-xs child-flex-xs :class="viewGovernmentId.length - 1 != index ? 'pb-4' : ''">
                    <v-flex xs4>
                      <v-icon x-large>card_membership</v-icon> {{ govId.governmentIdType.name }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>confirmation_number</v-icon> {{ govId.number }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>date_range</v-icon> {{ govId.expiration_date }}
                    </v-flex>
                  </v-layout>
                </template>
              </v-card-text>
            </v-card>
            <v-card-actions>
              <v-btn flat @click.native="nextStep(3, '80%')" class="pull-left" v-if="mode !== 'View'">Back</v-btn>
              <v-spacer></v-spacer>
              <v-btn class="pull-right" primary @click.native="dialog = false" v-if="mode === 'View'">Close</v-btn>
              <v-btn flat error @click.native="dialog = false" v-if="mode !== 'View'" class="pull-right">Cancel</v-btn>
              <v-btn class="pull-right" primary @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
              <v-btn class="blue--text darken-1 pull-right" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
            </v-card-actions>
          </v-stepper-content>
        </v-stepper>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this Contracts?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-card>
</template>

<script>
  import _ from 'lodash'
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import HandlingMessage from '../../../utilities/handling-message'
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required, numeric } from 'vuelidate/lib/validators'
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'ContractTypes',
    data () {
      return {
        service: 'hr/employee_contracts/',
        steps: 1,
        width: '50%',
        model: {
          id: null,
          employee: {},
          position: {},
          contract_type: {},
          employee_id: null,
          position_id: null,
          salary_per_month: null,
          contract_type_id: null,
          hire_date: null,
          regularization_duedate: null
        },
        scheduleClass: {
          id: null,
          employee_id: null,
          schedule_id: null,
          week_number: null,
          day_id: null,
          timeIn: null,
          timeOut: null
        },
        governmentIdClass: {
          id: null,
          employee_id: null,
          government_id_type_id: null,
          number: null,
          expiration_date: null
        },
        viewBenefits: [],
        viewGovernmentId: [],
        employeeBenefits: [],
        employeeSchedules: [],
        employeeGovernmentId: [],
        employees: [],
        benefits: [],
        schedules: [],
        positions: [],
        days: [],
        governmentIds: [],
        filteredGovernmentIds: [],
        contractTypes: [],
        trash: {
          schedules: [],
          governmentIds: [],
          benefits: []
        },
        backUpBenefits: [],
        backUpSchedule: [],
        backUpGovernmentId: [],
        hire_date: false,
        governmentIdExpirationDate: [],
        searchBy: 'employees.last_name',
        params: {
          include: ['employee', 'contractType', 'position'],
          select: ['employee_contracts.*'],
          joinBy: [
            {
              join: 'employees',
              attr1: 'employees.id',
              attr2: 'employee_contracts.employee_id'
            },
            {
              join: 'contract_types',
              attr1: 'contract_types.id',
              attr2: 'employee_contracts.contract_type_id'
            },
            {
              join: 'positions',
              attr1: 'positions.id',
              attr2: 'employee_contracts.position_id'
            }
          ]
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'employees.last_name'
          },
          {
            text: 'Position',
            align: 'left',
            sortable: true,
            value: 'positions.name'
          },
          {
            text: 'Monthly Salary',
            align: 'left',
            sortable: true,
            value: 'employee_contracts.salary_per_month'
          },
          {
            text: 'Contract Type',
            align: 'left',
            sortable: true,
            value: 'contract_types.name'
          },
          {
            text: 'Hired Date',
            align: 'left',
            sortable: true,
            value: 'employee_contracts.hire_date'
          }
        ]
      }
    },
    validations: {
      model: {
        employee_id: {
          required
        },
        position_id: {
          required
        },
        salary_per_month: {
          required,
          numeric
        },
        contract_type_id: {
          required
        },
        hire_date: {
          required
        }
      },
      employeeSchedules: {
        $each: {
          day_id: {
            required
          },
          schedule_id: {
            required
          }
        }
      },
      employeeGovernmentId: {
        $each: {
          government_id_type_id: {
            required
          }
        }
      }
    },
    created () {
      this.positions = this.$store.getters['commons/positions/getAll']
      this.contractTypes = this.$store.getters['hr/contract_types/getAll']
      this.benefits = this.$store.getters['hr/benefits/getAll']
      this.days = this.$store.getters['commons/days/getAll']
      this.governmentIds = this.$store.getters['commons/government_ids/getAll']
      this.schedules = this.$store.getters['hr/schedules/getAll']
    },
    methods: {
      nextStep (step, width) {
        switch (step) {
          case 1: {
            this.steps = step
            this.width = width
            break
          }
          case 2: {
            this.$v.model.$touch()
            if (this.$v.model.$error) return
            this.steps = step
            this.width = width
            break
          }
          case 3: {
            this.$v.employeeSchedules.$touch()
            if (this.$v.employeeSchedules.$error) return
            this.steps = step
            this.width = width
            break
          }
          case 4: {
            this.$v.employeeGovernmentId.$touch()
            if (this.$v.employeeGovernmentId.$error) return
            this.steps = step
            this.width = width
            break
          }
        }
      },
      getEmployees (_params = null) {
        this.$store.dispatch('hr/employees/getAll', _params).then(res => {
          _.forEach(res.data.data, (employee) => {
            let first = employee.first_name
            let middle = employee.middle_name ? employee.middle_name : ''
            let last = employee.last_name
            let suffix = employee.suffix ? employee.suffix : ''
            employee.fullname = first + ' ' + middle + ' ' + last + ' ' + suffix
          })
          this.employees = res.data.data
        })
      },
      view (model) {
        console.log('MODEL', model)

        this.clear('View')
        this.retrieve(model)
        this.steps = 4
        this.width = '80%'
      },
      edit (model) {
        this.clear('Edit')
        this.retrieve(model)
      },
      retrieve (model) {
        this.$store.dispatch('business_logics/employeeContractRetrieve', model.employee_id).then((res) => {
          console.log('RES', res.data)
          this.model = res.data.contracts[0]
          this.viewBenefits = _.cloneDeep(res.data.benefits)
          this.onEmployeeChange(model.employee_id)
          this.backUpBenefits = _.cloneDeep(res.data.benefits)
          _.forEach(res.data.benefits, benefit => {
            this.employeeBenefits.push(benefit.benefit_id)
          })
          this.employeeSchedules = res.data.schedules
          _.forEach(this.employeeSchedules, schedule => {
            schedule.timeIn = schedule.schedule.start_time
            schedule.timeOut = schedule.schedule.end_time
          })
          this.backUpSchedule = _.cloneDeep(this.employeeSchedules)
          this.employeeGovernmentId = res.data.governmentIds
          _.forEach(this.employeeGovernmentId, govId => {
            let tmp = _.cloneDeep(govId)
            tmp.governmentIdType = _.values(_.pickBy(this.governmentIds, { id: tmp.government_id_type_id }))[0]
            this.viewGovernmentId.push(tmp)
          })
          this.backUpGovernmentId = _.cloneDeep(this.employeeGovernmentId)
          this.dialog = true
        })
      },
      afterAdd () {
        let _params = {
          select: ['employees.*'],
          joinBy: [
            {
              join: 'employee_contracts',
              attr1: 'employee_contracts.employee_id',
              attr2: 'employees.id'
            }
          ],
          filter: {
            condition: [
              {
                where: 'employee_contracts.hire_date',
                operator: '=',
                val: null
              }
            ]
          }
        }
        this.getEmployees(_params)
      },
      afterView () {
        this.getEmployees()
      },
      addmore () {
        this.employeeSchedules.push(_.cloneDeep(this.scheduleClass))
      },
      removemore (index) {
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUpSchedule, {id: this.employeeSchedules[index].id}))
          if (!_.isEmpty(val)) {
            this.trash.schedules.push(val[0].id)
          }
        }
        this.$v.employeeSchedules.$each[index].$reset()
        this.employeeSchedules.splice(index, 1)
      },
      addmoreGovernmentId (index) {
        this.employeeGovernmentId.push(_.cloneDeep(this.governmentIdClass))
        this.governmentIdExpirationDate.push(false)
      },
      removemoreGovernmentId (index) {
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUpGovernmentId, {id: this.employeeGovernmentId[index].id}))
          if (!_.isEmpty(val)) {
            this.trash.governmentIds.push(val[0].id)
          }
        }
        this.$v.employeeGovernmentId.$each[index].$reset()
        this.employeeGovernmentId.splice(index, 1)
      },
      onEmployeeChange (val) {
        this.$v.model.employee_id.$touch()
        let emp = _.values(_.pickBy(this.employees, { id: val }))[0]
        this.filteredGovernmentIds = _.values(_.pickBy(this.governmentIds, { country_id: emp.id }))
      },
      onScheduleChange (val, index) {
        this.$v.employeeSchedules.$each[index].schedule_id.$touch()
        let sched = _.values(_.pickBy(this.schedules, { id: val }))[0]
        this.employeeSchedules[index].timeIn = sched.start_time
        this.employeeSchedules[index].timeOut = sched.end_time
      },
      setSchedules () {
        _.forEach(this.employeeSchedules, (schedule) => {
          schedule.employee_id = this.model.employee_id
        })
        return this.employeeSchedules
      },
      setBenefits (id) {
        let benefits = []
        _.forEach(this.employeeBenefits, (benefit) => {
          let find = _.values(_.pickBy(this.backUpBenefits, { benefit_id: benefit }))
          if (!_.isEmpty(find)) {
            benefits.push(find[0])
          } else {
            benefits.push({
              id: null,
              employee_contract_id: id,
              benefit_id: benefit
            })
          }
        })
        _.forEach(this.backUpBenefits, (benefit) => {
          let find = _.values(_.pickBy(benefits, { id: benefit.id }))
          if (_.isEmpty(find)) {
            this.trash.benefits.push(benefit.id)
          }
        })
        return benefits
      },
      setGovernmentId () {
        _.forEach(this.employeeGovernmentId, (government) => {
          government.employee_id = this.model.employee_id
        })
        return this.employeeGovernmentId
      },
      save () {
        let collections = {
          model: this.model,
          benefits: this.setBenefits(),
          schedules: this.setSchedules(),
          governmentIds: this.setGovernmentId()
        }
        this.$store.dispatch('business_logics/employeeContractRecord', collections).then(res => {
          this.getAll()
          this.dialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      update () {
        let collections = {
          model: this.model,
          benefits: this.setBenefits(),
          schedules: this.setSchedules(),
          governmentIds: this.setGovernmentId(),
          trash: this.trash
        }
        this.$store.dispatch('business_logics/employeeContractRecord', collections).then(res => {
          this.getAll()
          this.dialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      delAgree () {
        this.$store.dispatch('business_logics/employeeContractClean', this.itemToDelete).then((res) => {
          this.getAll()
          this.dialog = false
          this.itemToDelete = null
          this.delDialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.removeSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.removeError})
        })
      },
      beforeClear () {
        this.width = '50%'
        this.steps = 1
      },
      resetModel () {
        this.getEmployees()
        this.filteredGovernmentIds = []
        this.employeeBenefits = []
        this.employeeSchedules = []
        this.employeeGovernmentId = []
        this.viewBenefits = []
        this.viewGovernmentId = []
        this.trash = {
          benefits: [],
          schedules: [],
          governmentIds: []
        }
        this.model = {
          id: null,
          employee: {},
          position: {},
          contract_type: {},
          employee_id: null,
          position_id: null,
          salary_per_month: null,
          contract_type_id: null,
          hire_date: null,
          regularization_duedate: null
        }
      }
    }
  }
</script>
