<template>
  <v-card>
    <v-card-title>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Contract</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search by Last Name"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.employee.first_name }} {{ props.item.employee.middle_name ? props.item.employee.middle_name : '' }} {{ props.item.employee.last_name }}
        </td>
        <td>
          {{ props.item.position.name }}
        </td>
        <td>
          {{ props.item.salary_per_month | pesos}}
        </td>
        <td>
          {{ props.item.contract_type.name }}
        </td>
        <td>
          {{ props.item.hire_date | datelong}}
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent :width="width">
      <v-card>
        <v-stepper v-model="steps">
          <v-stepper-header v-if="mode === 'Add'">
            <v-stepper-step step="1" :complete="steps > 1">Add Contract {{mode}}</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="steps > 2">Add Schedules</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :complete="steps > 3">Add Government IDs <small>Optional</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4">Review</v-stepper-step>
          </v-stepper-header>


          <v-stepper-header v-else-if="mode === 'Edit'">
            <v-stepper-step step="1" @click.native = "width = '50%'" :rules="[()=> !$v.model.$error]"  editable complete>
              <small v-show="$v.$error" class="red--text">With validation errors! check the steps</small>
                Add Contract
              </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" @click.native = "width = '80%'" :rules="[()=> !$v.employeeSchedules.$error]"  editable complete>Add Schedules</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" @click.native = "width = '50%'" :rules="[()=> !$v.employeeGovernmentId.$error]" editable complete>Add Government IDs <small>Optional</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4" @click.native = "width = '60%'" editable complete>Review</v-stepper-step>
          </v-stepper-header>


          <span v-show="steps > 1":style="'margin:10px;'"><!-- Employee: <b>{{model.employee.first_name}} {{model.employee.last_name}}</b> Position: <b>{{model.position.name}} --></b></span>



          <!-- 
           STEP ONE 
          -->
          <v-stepper-content step="1">
            <v-card-text>
              <v-layout row-xs child-flex-xs>
                <v-flex xs12>
                  <v-select
                    v-bind:items="employees"
                    item-text="fullname"
                    item-value="id"
                    v-model="model.employee_id"
                    label="Employee"
                    autocomplete
                    :disabled="mode !== 'Add'"
                    @change="val => onEmployeeChange(val)"
                    :error="$v.model.employee_id.$error"
                    :error-messages="validations($v.model.employee_id)"
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs>
                <v-flex xs6>
                  <v-select
                    v-bind:items="positions"
                    item-text="name"
                    item-value="id"
                    v-model="model.position_id"
                    label="Position"
                    autocomplete
                    :disabled="mode === 'View'"
                    @change="val => onPositionChange(val)"
                    :error="$v.model.position_id.$error"
                    :error-messages="validations($v.model.position_id)"
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-bind:items="contractTypes"
                    item-text="name"
                    item-value="id"
                    v-model="model.contract_type_id"
                    label="Contract Type"
                    autocomplete
                    :disabled="mode === 'View'"
                    @change="val => onContractTypeChange(val)"
                    :error="$v.model.contract_type_id.$error"
                    :error-messages="validations($v.model.contract_type_id)"
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs>
                <v-flex xs6>
                  <v-text-field label="Monthly Salary"
                                v-model.trim="model.salary_per_month"
                                :readonly="mode === 'View'"
                                :type="'number'"
                                step="500"
                                @input="$v.model.salary_per_month.$touch()"
                                :error="$v.model.salary_per_month.$error"
                                :error-messages="validations($v.model.salary_per_month)"
                                >
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-menu
                    lazy
                    :close-on-content-click="false"
                    v-model="hire_date"
                    v-if="model.employee_id"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-left="40"
                    max-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      label="Hire Date"
                      v-model="model.hire_date"
                      :disabled="!model.employee_id"
                      prepend-icon="event"
                      @input="$v.model.hire_date.$touch()"
                      :error="$v.model.hire_date.$error"
                      :error-messages="validations($v.model.hire_date)"
                      readonly
                    ></v-text-field>
                    <v-date-picker v-model="model.hire_date" scrollable actions>
                      <template scope="{ save, cancel }">
                        <v-card-actions>
                          <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                          <v-btn flat primary @click.native="save()">Save</v-btn>
                        </v-card-actions>
                      </template>
                    </v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs>
                <v-flex xs6>
                  <v-select
                    v-bind:items="cutoffs"
                    item-text="name"
                    item-value="id"
                    v-model="model.cutoff_id"
                    label="Cutoff"
                    autocomplete
                    :disabled="mode === 'View'"
                    @change="$v.model.cutoff_id.$touch()"
                    :error="$v.model.cutoff_id.$error"
                    :error-messages="validations($v.model.cutoff_id)"
                  >
                    <template slot="item" scope="data">
                      <v-list-tile-content>
                        {{data.item.name}} ({{data.item.frequency}})
                      </v-list-tile-content>
                    </template>
                  </v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                    v-bind:items="benefits"
                    item-text="name"
                    item-value="id"
                    v-model="employeeBenefits"
                    label="Benefits"
                    multiple
                    max-height="200"
                    @change="val => onBenefitChange(val)"
                    :disabled="mode === 'View'"
                  >
                   
                    <template slot="item" scope="data">
                      <v-list-tile-content>
                         {{data.item.name}} <v-spacer></v-spacer> - {{data.item.value | pesos}}
                      </v-list-tile-content>
                    </template>
                  </v-select>
                </v-flex>
              </v-layout>
              <v-layout row-xs child-flex-xs v-show="mode === 'Edit'">
                <v-flex xs12>
                  <v-menu
                    lazy
                    :close-on-content-click="false"
                    v-model="end_date"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-left="40"
                    max-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      label="Contract End Date"
                      hint = "WARNING: this will void the contract after the Contract End date. (Must be less than hire date)"
                      persistent-hint
                      :disabled = "disableEnddate"
                      v-model="model.end_date"
                      prepend-icon="event"
                      @input="$v.model.end_date.$touch()"
                      :error="$v.model.end_date.$error"
                      :error-messages="validations($v.model.end_date)"
                      readonly
                    ></v-text-field>
                    <v-date-picker v-if="!disableEnddate" v-model="model.end_date" scrollable autosave>
                    </v-date-picker>
                    <v-card-actions v-if="!disableEnddate">
                      <v-btn flat primary @click.native="model.end_date = null, end_date = false">Delete</v-btn>
                    </v-card-actions>
                  </v-menu>
                  <small v-show="disableEnddate">This contract is considered as CLOSED, due to the employee having another active contract.</small>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-btn flat error @click.native="dialog = false">Cancel</v-btn>
            <v-btn primary @click.native="nextStep(2, '80%')" class="pull-right" v-if="mode==='Add'">Continue</v-btn>
            <v-btn error class="pull-right" :loading="saveDisable" :disabled="saveDisable" @click.native="saveDisable = false, update()" v-if="mode === 'Edit'">Save</v-btn>
          </v-stepper-content>
          <!-- 
           STEP ONE 
          -->



          <!-- 
           STEP TWO 
          -->
          <v-stepper-content step="2">
            <v-card>
              <v-card-text>
                <v-btn v-if="employeeSchedules.length === 0" block secondary dark @click.native="addmore()">Click to add Schedule</v-btn>
                <v-layout row-xs child-flex-xs v-for="(schedule, index) in employeeSchedules" :key="index">
                  <v-flex xs1>
                    <span :style="'padding:2s0px;'"class="subheading">{{index + 1}}.)</span>
                  </v-flex>
                  <v-flex xs4>
                    <v-select
                      v-bind:items="days"
                      item-text="name"
                      item-value="id"
                      v-model="schedule.day_id"
                      label="Day"
                      autocomplete
                      :disabled="mode === 'View'"
                      @change="val => onDayChange(val, index)"
                      :error="$v.employeeSchedules.$each[index].day_id.$error"
                      :error-messages="validations($v.employeeSchedules.$each[index].day_id)"
                    ></v-select>
                  </v-flex>
                  <v-flex xs4>
                    <v-select
                      v-bind:items="schedules"
                      item-text="name"
                      item-value="id"
                      v-model="schedule.schedule_id"
                      label="Schedule"
                      autocomplete
                      :disabled="mode === 'View'"
                      @change="val => onScheduleChange(val, index)"
                      :error="$v.employeeSchedules.$each[index].schedule_id.$error"
                      :error-messages="validations($v.employeeSchedules.$each[index].schedule_id)"
                    ></v-select>
                  </v-flex>
                  <v-flex xs2>
                    <v-text-field label="Time In"
                                  v-model.trim="schedule.timeIn"
                                  readonly>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs2>
                    <v-text-field label="Time Out"
                                  v-model.trim="schedule.timeOut"
                                  readonly>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs2>
                    <v-btn fab small error @click.native="removemore(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
                  </v-flex>
                </v-layout>
                <v-btn v-if="employeeSchedules.length > 0" small flat class="pull-right" @click.native="addmore()"><v-icon> add </v-icon> Add More</v-btn>
              </v-card-text>
              <br><br>


              <v-card class="blue-grey lighten-3" v-if="employeeSchedules[0]">
                  <v-card-title primary-title>
                    <v-flex :style="'margin-top:-15px;'" class="headline white--text">
                      <v-icon fa class="fa-lg black--text">calendar-check-o</v-icon> <span>Schedule Breakdown</span>
                    </v-flex>
                  </v-card-title>
                  <v-card-text>
                    <v-card class="white">
                      <v-card-text>
                        <ul :style="'list-style:none;'" class="subheading">
                          <span >*The most-under schedule supersedes it's above schedule</span>
                          <li v-for="(item, index) in employeeSchedules" :key="item.id">
                            <p v-if ="item.day && item.schedule">
                              <span class="subheading"><b>Day:</b> {{ item.day.name }} ({{item.day.abbreviation}}): 
                                <span :style="'margin-left:5%'">{{ item.day.start_date | datelong}} - <span v-if='!item.day.end_date'>Present</span>
                                <span v-else>{{item.day.end_date | datelong}}</span></span>
                              </span>

                              <span class="pull-right">Every: 
                                <span v-show="item.day.every_mon">Mon,</span>
                                <span v-show="item.day.every_tue">Tue,</span>
                                <span v-show="item.day.every_wed">Wed,</span>
                                <span v-show="item.day.every_thu">Thu,</span>
                                <span v-show="item.day.every_fri">Fri,</span>
                                <span v-show="item.day.every_sat">Sat,</span>
                                <span v-show="item.day.every_sun">Sun</span>
                              </span>
                              <br>
                              <span>
                                <b>Schedule:</b> {{ item.schedule.name }} 
                                <span class="pull-right">
                                  <span>Sanctions:</span> 
                                  <span v-show="item.schedule.nobreak_sanction">0-break Sanction,</span>
                                  <span v-show="item.schedule.halfday_sanction">Halfday Sanction,</span>
                                  <span v-show="item.schedule.absent_sanction">Absent Sanction</span>
                                </span>
                              </span>
                              <br>

                              <span class="grey--text text--darken-4">
                                {{ item.schedule.start_time | twelvehour}} - {{ item.schedule.end_time | twelvehour}} 
                                <b class="title">|</b>
                                Breaktime: {{item.schedule.break_hour ? item.schedule.break_hour : '0' }} hr/s {{item.schedule.break_minute ? item.schedule.break_minute : '0' }} min/s
                                <b class="title">|</b>
                                Late Meter: {{item.schedule.late_hour ? item.schedule.late_hour : '0' }} hr/s {{item.schedule.late_minute ? item.schedule.late_minute : '0' }} min/s
                                <b class="title">|</b>
                                Late Deduction: {{item.schedule.late_deduction_hour ? item.schedule.late_deduction_hour : '0' }} hr/s {{item.schedule.late_deduction_minute ? item.schedule.late_deduction_minute : '0' }} min/s
                              </span>


                            </p>
                            <hr>
                          </li>

                        </ul>
                      </v-card-text>
                    </v-card>
                  </v-card-text>
                <br><br>
              </v-card>

              <v-card-actions>
                <v-btn flat @click.native="nextStep(1, '50%')" v-if = "mode === 'Add'">Back</v-btn>
                <v-spacer></v-spacer>
                <v-btn flat error @click.native="dialog = false">Cancel</v-btn>
                <v-btn primary @click.native="nextStep(3, '80%')" v-if = "mode === 'Add'">Continue</v-btn>
                <v-btn error class="pull-right" :loading="saveDisable" :disabled="saveDisable" @click.native="saveDisable = false, update()" v-if="mode === 'Edit'">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <!-- 
           STEP TWO 
          -->




          <!-- 
           STEP THREE 
          -->
          <v-stepper-content step="3">
            <v-btn v-if="employeeGovernmentId.length === 0" block secondary dark @click.native="addmoreGovernmentId()">Click to add Government ID</v-btn>
            <v-layout row-xs child-flex-xs v-for="(governmentId, index) in employeeGovernmentId" :key="index">
              <v-flex xs3>
                <v-select
                  v-bind:items="filteredGovernmentIds"
                  item-text="name"
                  item-value="id"
                  v-model="governmentId.government_id_type_id"
                  label="Government Id"
                  autocomplete
                  :disabled="mode === 'View'"
                  @change="$v.employeeGovernmentId.$each[index].government_id_type_id.$touch()"
                  :error="$v.employeeGovernmentId.$each[index].government_id_type_id.$error"
                  :error-messages="validations($v.employeeGovernmentId.$each[index].government_id_type_id)"
                ></v-select>
              </v-flex>
              <v-flex xs3>
                <v-text-field label="Number"
                              v-model="governmentId.number"
                              :readonly="mode === 'View'"
                              @input="$v.employeeGovernmentId.$each[index].number.$touch()"
                              :error="$v.employeeGovernmentId.$each[index].number.$error"
                              :error-messages="validations($v.employeeGovernmentId.$each[index].number)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs3>
                <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="governmentIdExpirationDate[index]"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-left="40"
                  max-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    label="Expiration Date"
                    v-model="governmentId.expiration_date"
                    prepend-icon="event"
                    @input="$v.employeeGovernmentId.$each[index].expiration_date.$touch()"
                    :error="$v.employeeGovernmentId.$each[index].expiration_date.$error"
                    :error-messages="validations($v.employeeGovernmentId.$each[index].expiration_date)"
                    readonly
                  ></v-text-field>
                  <v-date-picker v-model="governmentId.expiration_date" scrollable actions>
                    <template scope="{ save, cancel }">
                      <v-card-actions>
                        <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                        <v-btn flat primary @click.native="save()">Save</v-btn>
                      </v-card-actions>
                    </template>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs2>
                <v-btn fab small error @click.native="removemoreGovernmentId(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
              </v-flex>
            </v-layout>
            <v-btn small flat class="pull-right" @click.native="addmoreGovernmentId()"><v-icon> add </v-icon> Add More</v-btn>
            <br>
            <br>
            <v-btn flat @click.native="nextStep(2, '80%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
            <v-btn primary @click.native="nextStep(4, '80%')" class="pull-right" v-if="mode === 'Add'">Continue</v-btn>
            <v-btn error class="pull-right" :loading="saveDisable" :disabled="saveDisable" @click.native="saveDisable = false, update()" v-if="mode === 'Edit'">Save</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <!-- 
           STEP THREE 
          -->




          <!-- 
           STEP FOUR 
          -->
          <v-stepper-content step="4">
           <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>assignment</v-icon> Contract Details
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline">
                <v-layout row-xs child-flex-xs>
                  <v-flex xs4>
                    <v-icon x-large>account_box</v-icon> {{ model.employee.first_name }} {{ model.employee.middle_name ? model.employee.middle_name : '' }} {{ model.employee.last_name }} {{ model.employee.suffix ? model.employee.suffix : '' }}
                  </v-flex>
                  <v-flex xs4>
                    <v-icon x-large>work</v-icon> {{ model.position.name }}
                  </v-flex>
                  <v-flex xs4>
                    <v-icon x-large>event_note</v-icon>contract: {{ model.contract_type.name }}
                  </v-flex>
                </v-layout>
                <v-layout row-xs child-flex-xs class="pt-4">
                  <v-flex xs4>
                    <v-icon x-large>attach_money</v-icon> salary: {{ model.salary_per_month | pesos}}
                  </v-flex>
                  <v-flex xs4>
                    <v-icon x-large>today</v-icon>hire date: {{ model.hire_date |datelong }}
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
            <br />
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>face</v-icon> Benefits
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline" v-if="viewBenefits.length > 0">
                <template v-for="(benefit, index) in viewBenefits">
                  <v-layout row-xs child-flex-xs :class="viewBenefits.length - 1 != index ? 'pb-4' : ''">
                    <v-flex xs4>
                      <v-icon x-large fa>gift</v-icon> {{ benefit.name ? benefit.name : benefit.benefit.name }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>attach_money</v-icon> {{ benefit.value? benefit.value : benefit.benefit.value | pesos}}
                    </v-flex>
                  </v-layout>
                </template>
              </v-card-text>
              <v-card-text v-else>
                No benefit added
              </v-card-text>
            </v-card>
            <br />
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>schedule</v-icon> Schedules
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline">
                <template v-for="(schedule, index) in employeeSchedules">
                  <v-layout v-if ="schedule.day && schedule.schedule" row-xs child-flex-xs :class="employeeSchedules.length - 1 != index ? 'pb-4' : ''">
                    <v-flex xs5>
                      <v-icon x-large fa>sun-o</v-icon> {{ schedule.day.name }}
                      <br>
                      (<span v-show="schedule.day.every_mon">Mon,</span>
                        <span v-show="schedule.day.every_tue">Tue,</span>
                        <span v-show="schedule.day.every_wed">Wed,</span>
                        <span v-show="schedule.day.every_thu">Thu,</span>
                        <span v-show="schedule.day.every_fri">Fri,</span>
                        <span v-show="schedule.day.every_sat">Sat,</span>
                        <span v-show="schedule.day.every_sun">Sun</span>)


                    </v-flex>
                    <v-flex xs3>
                      <v-icon x-large>schedule</v-icon> Start: {{ schedule.schedule.start_time | twelvehour}}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>schedule</v-icon> End: {{ schedule.schedule.end_time | twelvehour}}
                    </v-flex>
                  </v-layout>
                </template>
              </v-card-text>
            </v-card>
            <br />
            <v-card raised class="blue-grey lighten-4">
              <v-card-title class="headline">
                <v-icon x-large>perm_identity</v-icon> Government IDs
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="headline" v-if="viewGovernmentId.length > 0">
                <template v-for="(govId, index) in viewGovernmentId">
                  <v-layout row-xs child-flex-xs :class="viewGovernmentId.length - 1 != index ? 'pb-4' : ''">
                    <v-flex xs4>
                      <v-icon x-large fa>building</v-icon> {{ govId ? govId.governmentIdType.name : ''}}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large fa>hashtag</v-icon> {{ govId ? govId.number : '' }}
                    </v-flex>
                    <v-flex xs4>
                      <v-icon x-large>date_range</v-icon> {{ govId ? govId.expiration_date : '' | datelong }}
                    </v-flex>
                  </v-layout>
                </template>
              </v-card-text>
              <v-card-text v-else>
                No Government ID added
              </v-card-text>
            </v-card>
            <v-card-actions>
              <v-btn flat @click.native="nextStep(3, '80%')" class="pull-left" v-if="mode === 'Add'">Back</v-btn>
              <v-spacer></v-spacer>
              <v-btn class="pull-right" primary @click.native="dialog = false" v-if="mode === 'View'">Close</v-btn>
              <v-btn flat error @click.native="dialog = false" v-if="mode !== 'View'" class="pull-right">Cancel</v-btn>


              <v-btn class="pull-right" primary @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
              
              <v-btn error class="pull-right" @click.native="update()" v-if="mode === 'Edit'">Save</v-btn>
            </v-card-actions>
          </v-stepper-content>
          <!--
            STEP FOUR
          -->





        </v-stepper>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this Contracts?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-card>
</template>

<script>
  function uniqueDay () {
    return _(_.map(this.employeeSchedules, 'day_id')).groupBy().pickBy(x => x.length > 1).keys().value().length === 0
  }

  function contractHiredate () {
    return this.vHiredate
  }

  function contractEnddate () {
    return this.vEnddate
  }
  import _ from 'lodash'
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import HandlingMessage from '../../../utilities/handling-message'
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required, requiredUnless, between } from 'vuelidate/lib/validators'
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'ContractTypes',
    data () {
      return {
        service: 'hr/employee_contracts/',
        steps: 1,
        width: '50%',
        model: {
          id: null,
          employee: {
            first_name: '',
            middle_name: '',
            last_name: ''
          },
          position: {},
          contract_type: {},
          employee_id: null,
          position_id: null,
          salary_per_month: null,
          contract_type_id: null,
          hire_date: null,
          cutoff_id: null,
          end_date: null
        },
        scheduleClass: {
          id: null,
          employee_id: null,
          schedule_id: null,
          week_number: null,
          day_id: null,
          timeIn: null,
          timeOut: null
        },
        governmentIdClass: {
          id: null,
          employee_id: null,
          government_id_type_id: null,
          number: null,
          expiration_date: null
        },
        viewBenefits: [],
        viewGovernmentId: [],
        employeeBenefits: [],
        employeeSchedules: [],
        employeeGovernmentId: [],
        employees: [],
        tempContracts: [],
        benefits: [],
        schedules: [],
        positions: [],
        cutoffs: [],
        days: [],
        governmentIds: [],
        filteredGovernmentIds: [],
        contractTypes: [],
        trash: {
          schedules: [],
          governmentIds: [],
          benefits: []
        },
        backUpBenefits: [],
        backUpSchedule: [],
        backUpGovernmentId: [],
        hire_date: false,
        end_date: false,
        vHiredate: true,
        vEnddate: true,
        disableEnddate: false,
        governmentIdExpirationDate: [],
        searchBy: 'employees.last_name',
        params: {
          include: ['employee', 'contractType', 'position'],
          select: ['employee_contracts.*'],
          joinBy: [
            {
              join: 'employees',
              attr1: 'employees.id',
              attr2: 'employee_contracts.employee_id'
            },
            {
              join: 'contract_types',
              attr1: 'contract_types.id',
              attr2: 'employee_contracts.contract_type_id'
            },
            {
              join: 'positions',
              attr1: 'positions.id',
              attr2: 'employee_contracts.position_id'
            }
          ]
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'employees.last_name'
          },
          {
            text: 'Position',
            align: 'left',
            sortable: true,
            value: 'positions.name'
          },
          {
            text: 'Monthly Salary',
            align: 'left',
            sortable: true,
            value: 'employee_contracts.salary_per_month'
          },
          {
            text: 'Contract Type',
            align: 'left',
            sortable: true,
            value: 'contract_types.name'
          },
          {
            text: 'Hired Date',
            align: 'left',
            sortable: true,
            value: 'employee_contracts.hire_date'
          }
        ]
      }
    },
    validations: {
      model: {
        employee_id: {
          required
        },
        position_id: {
          required
        },
        salary_per_month: {
          required,
          between: between(0, 1000000)
        },
        contract_type_id: {
          required
        },
        hire_date: {
          required,
          contractHiredate
        },
        cutoff_id: {
          required
        },
        end_date: {
          requiredUnless: requiredUnless(function () {
            var end = this.model.end_date
            this.model.end_date = ''
            if (end > this.model.hire_date) {
              this.model.end_date = end
            }
            return true
          }),
          contractEnddate
        }
      },
      employeeSchedules: {
        $each: {
          day_id: {
            required,
            uniqueDay
          },
          schedule_id: {
            required
          }
        }
      },
      employeeGovernmentId: {
        $each: {
          government_id_type_id: {
            required
          },
          number: {
            required
          },
          expiration_date: {
            required
          }
        }
      }
    },
    watch: {
      'model.hire_date': function () {
        if (this.model.id) {
          this.$store.dispatch('hr/employee_contracts/getBy', {key: 'employee_id', value: this.model.employee_id, params: [{where: ['hire_date', '<=', this.model.hire_date]}, {where: ['end_date', '>=', this.model.hire_date]}, {where: ['id', '!=', this.model.id]}]}).then((res) => {
            this.vHiredate = res.data.data.length === 0
          })
        } else if (this.model.employee_id && this.model.hire_date) {
          this.$store.dispatch('hr/employee_contracts/getBy', {key: 'employee_id', value: this.model.employee_id, params: [{where: ['hire_date', '<=', this.model.hire_date]}, {where: ['end_date', '>=', this.model.hire_date]}]}).then((res) => {
            this.vHiredate = res.data.data.length === 0
          })
        }
      },
      'model.end_date': function () {
        if (this.model.end_date) {
          this.$store.dispatch('hr/employee_contracts/getBy', {key: 'employee_id', value: this.model.employee_id, params: [{where: ['hire_date', '<=', this.model.end_date]}, {where: ['end_date', '>=', this.model.end_date]}, {where: ['id', '!=', this.model.id]}]}).then((res) => {
            this.vEnddate = res.data.data.length === 0
          })
        }
      }
    },
    created () {
      this.positions = this.$store.getters['commons/positions/getAll']
      this.contractTypes = this.$store.getters['hr/contract_types/getAll']
      this.benefits = this.$store.getters['hr/benefits/getAll']
      this.days = this.$store.getters['commons/days/getAll']
      this.governmentIds = this.$store.getters['commons/government_ids/getAll']
      this.schedules = this.$store.getters['hr/schedules/getAll']
      this.cutoffs = this.$store.getters['hr/cutoffs/getAll']
      this.getEmployees()
    },
    methods: {
      nextStep (step, width) {
        switch (step) {
          case 1: {
            this.steps = step
            this.width = width
            break
          }
          case 2: {
            this.$v.model.$touch()
            if (this.$v.model.$error) return
            this.steps = step
            this.width = width
            break
          }
          case 3: {
            this.$v.employeeSchedules.$touch()
            if (this.$v.employeeSchedules.$error) return
            this.steps = step
            this.width = width
            break
          }
          case 4: {
            this.$v.employeeGovernmentId.$touch()
            if (this.$v.employeeGovernmentId.$error) return
            this.steps = step
            this.width = width
            break
          }
        }
      },
      getEmployees (_params = null) {
        this.$store.dispatch('hr/employees/getAll', _params).then(res => {
          _.forEach(res.data.data, (employee) => {
            let first = employee.first_name
            let middle = employee.middle_name ? employee.middle_name : ''
            let last = employee.last_name
            let suffix = employee.suffix ? employee.suffix : ''
            employee.fullname = first + ' ' + middle + ' ' + last + ' ' + suffix
          })

          var data = res.data.data

          if (_params) {
            var tempParams = {
              select: ['*'],
              filter: {
                condition: [
                  {
                    command: 'whereNull',
                    val: 'end_date'
                  }
                ]
              }
            }
            this.$store.dispatch('hr/employee_contracts/getAll', tempParams).then(res => {
              this.employees = _.uniqBy(_.filter(data, function (i) {
                return !_.find(res.data.data, {employee_id: i.id})
              }), 'id')
            })
          } else {
            this.employees = data
          }
        })
      },
      view (model) {
        this.clear('View')
        this.retrieve(model)
        this.steps = 4
        this.width = '60%'
      },
      edit (model) {
        this.clear('Edit')
        this.retrieve(model)
        this.steps = 1
        this.width = '50%'
      },
      retrieve (model) {
        var self = model
        this.$store.dispatch('business_logics/employeeContractRetrieve', model.id).then((res) => {
          this.model = _.filter(res.data.contracts, function (i) {
            return i.id === self.id
          })[0]
          this.viewBenefits = _.cloneDeep(res.data.benefits)
          this.onEmployeeChange(this.model.employee_id)
          this.backUpBenefits = _.cloneDeep(res.data.benefits)
          _.forEach(res.data.benefits, benefit => {
            this.employeeBenefits.push(benefit.benefit_id)
          })
          this.employeeSchedules = res.data.schedules
          _.forEach(this.employeeSchedules, schedule => {
            schedule.timeIn = this.$options.filters.twelvehour(schedule.schedule.start_time)
            schedule.timeOut = this.$options.filters.twelvehour(schedule.schedule.end_time)
          })
          this.backUpSchedule = _.cloneDeep(this.employeeSchedules)
          this.employeeGovernmentId = res.data.governmentIds
          _.forEach(this.employeeGovernmentId, govId => {
            let tmp = _.cloneDeep(govId)
            tmp.governmentIdType = _.values(_.pickBy(this.governmentIds, { id: tmp.government_id_type_id }))[0]
            this.viewGovernmentId.push(tmp)
          })
          this.backUpGovernmentId = _.cloneDeep(this.employeeGovernmentId)

          this.$store.dispatch('hr/employee_contracts/getBy', {key: 'employee_id', value: this.model.employee_id, params: [{whereNull: ['end_date']}, {where: ['id', '!=', this.model.id]}]}).then((res) => {
            this.disableEnddate = res.data.data.length !== 0
          })
          this.dialog = true
        })
      },
      beforeAdd () {
        let _params = {
          select: ['employees.*'],
          joinBy: [
            {
              join: 'employee_contracts',
              attr1: 'employee_contracts.employee_id',
              attr2: 'employees.id'
            }
          ]
        }
        if (this.employees.length === 0) {
          _params = null
        }
        this.getEmployees(_params)
      },
      afterView () {
        this.getEmployees()
      },
      addmore () {
        this.$v.$touch()
        if (this.$v.$error) return
        this.employeeSchedules.push(_.cloneDeep(this.scheduleClass))
      },
      removemore (index) {
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUpSchedule, {id: this.employeeSchedules[index].id}))
          if (!_.isEmpty(val)) {
            this.trash.schedules.push(val[0].id)
          }
        }
        this.$v.employeeSchedules.$each[index].$reset()
        this.employeeSchedules.splice(index, 1)
      },
      addmoreGovernmentId (index) {
        this.employeeGovernmentId.push(_.cloneDeep(this.governmentIdClass))
        this.governmentIdExpirationDate.push(false)
        let tmp = _.values(_.pickBy(this.governmentIds, { id: this.governmentIdClass.government_id_type_id }))[0]
        this.viewGovernmentId.push(tmp)
      },
      removemoreGovernmentId (index) {
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUpGovernmentId, {id: this.employeeGovernmentId[index].id}))
          if (!_.isEmpty(val)) {
            this.trash.governmentIds.push(val[0].id)
          }
        }
        this.$v.employeeGovernmentId.$each[index].$reset()
        this.employeeGovernmentId.splice(index, 1)
        this.viewGovernmentId.splice(index, 1)
      },
      onBenefitChange (val) {
        // this.viewBenefits = _.values(_.filter(this.benefits, (i, val) => { return _.includes(val, i.id) }))
        let self = val
        this.viewBenefits = _.values(_.filter(this.benefits, function (i) {
          return _.includes(self, i.id)
        }))
        // console.log(this.viewBenefits, this.benefits)
      },
      onEmployeeChange (val) {
        this.$v.model.employee_id.$touch()
        if (this.$v.model.employee_id.$error) return
        let emp = _.values(_.pickBy(this.employees, { id: val }))[0]
        this.model.employee = emp
        this.filteredGovernmentIds = _.values(_.pickBy(this.governmentIds, { country_id: emp.id }))
      },
      onPositionChange (val) {
        this.$v.model.position_id.$touch()
        this.model.position = _.values(_.pickBy(this.positions, { id: val }))[0]
      },
      onContractTypeChange (val) {
        this.$v.model.contract_type_id.$touch()
        this.model.contract_type = _.values(_.pickBy(this.contractTypes, { id: val }))[0]
      },
      onScheduleChange (val, index) {
        this.$v.employeeSchedules.$each[index].schedule_id.$touch()
        let sched = _.values(_.pickBy(this.schedules, { id: val }))[0]
        this.employeeSchedules[index].schedule = sched
        this.employeeSchedules[index].timeIn = this.$options.filters.twelvehour(sched.start_time)
        this.employeeSchedules[index].timeOut = this.$options.filters.twelvehour(sched.end_time)
      },
      onDayChange (val, index) {
        this.$v.employeeSchedules.$each[index].day_id.$touch()
        this.employeeSchedules[index].day = _.values(_.pickBy(this.days, { id: val }))[0]
      },
      setSchedules () {
        _.forEach(this.employeeSchedules, (schedule) => {
          // schedule.employee_id = this.model.employee_id
          schedule.contract_id = this.model.id
        })
        return this.employeeSchedules
      },
      setBenefits (id) {
        let benefits = []
        _.forEach(this.employeeBenefits, (benefit) => {
          let find = _.values(_.pickBy(this.backUpBenefits, { benefit_id: benefit }))
          if (!_.isEmpty(find)) {
            benefits.push(find[0])
          } else {
            benefits.push({
              id: null,
              employee_contract_id: id,
              benefit_id: benefit
            })
          }
        })
        _.forEach(this.backUpBenefits, (benefit) => {
          let find = _.values(_.pickBy(benefits, { id: benefit.id }))
          if (_.isEmpty(find)) {
            this.trash.benefits.push(benefit.id)
          }
        })
        return benefits
      },
      setGovernmentId () {
        _.forEach(this.employeeGovernmentId, (government) => {
          government.employee_id = this.model.employee_id
        })
        return this.employeeGovernmentId
      },
      save () {
        this.$v.$touch()
        if (this.$v.$error) return
        let collections = {
          model: this.model,
          benefits: this.setBenefits(),
          schedules: this.setSchedules(),
          governmentIds: this.setGovernmentId()
        }
        this.$store.dispatch('business_logics/employeeContractRecord', collections).then(res => {
          this.getAll()
          this.dialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      update () {
        this.$v.$touch()
        if (this.$v.$error) return
        let collections = {
          model: this.model,
          benefits: this.setBenefits(),
          schedules: this.setSchedules(),
          governmentIds: this.setGovernmentId(),
          trash: this.trash
        }
        this.$store.dispatch('business_logics/employeeContractRecord', collections).then(res => {
          this.getAll()
          this.dialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      delAgree () {
        this.$store.dispatch('business_logics/employeeContractClean', this.itemToDelete).then((res) => {
          this.getAll()
          this.dialog = false
          this.itemToDelete = null
          this.delDialog = false
          this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.removeSuccess})
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.removeError})
        })
      },
      beforeClear () {
        this.width = '50%'
        this.steps = 1
      },
      resetModel () {
        this.getEmployees()
        this.filteredGovernmentIds = []
        this.employeeBenefits = []
        this.employeeSchedules = []
        this.employeeGovernmentId = []
        this.trash = {
          benefits: [],
          schedules: [],
          governmentIds: []
        }
        this.model = {
          id: null,
          employee: {
            first_name: '',
            middle_name: '',
            last_name: ''
          },
          position: {},
          contract_type: {},
          employee_id: null,
          position_id: null,
          salary_per_month: null,
          contract_type_id: null,
          hire_date: null,
          cutoff_id: null,
          end_date: null
        }
      }
    }
  }
</script>
