<template>
	<v-card>
    <v-card-title>
      <v-btn primary v-show="false"><v-icon fa class="white--text">cogs</v-icon> &nbsp;&nbsp;&nbsp; Generate for All</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search by Last Name"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title> 
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1">
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-btn icon class="cyan white--text" v-tooltip:right="{ html: 'View Salary' }" @click.native="viewSalary(props.item)"><v-icon fa>usd</v-icon></v-btn>
        </td>
        <td>
          <img v-if="props.item.image.name" :src="config.PUBLIC + props.item.image.name" height="100px" width="100px"/>
          <img v-else src="/static/person.png" width="100" height="100">
        </td>
        <td>
          {{ props.item.first_name + ' ' + props.item.middle_name + ' ' + props.item.last_name}} {{ props.item.suffix ? props.item.suffix : '' }}
        </td>
        <td>
          {{props.item.contract.position.name}}
        </td>
        <td>
          {{props.item.contract.hire_date | datelong}}
        </td>
      </template>
    </v-data-table>

    <!--
    VIEW SALARY DIALOG
    -->
    <v-dialog v-model="salaryDialog" persistent :width= "'100%'">
      <v-card>
        <v-toolbar dark absolute>
          
          <v-toolbar-title class="white--text">
            <v-btn icon>
              <v-icon fa class="fa-lg">usd</v-icon>
            </v-btn>
            View Salary
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <span class="headline white--text">{{viewModel.last_name + ", " + viewModel.first_name + " " + viewModel.middle_name}} <span class="subheading grey--text">[{{viewModel.contract.position.name}}]</span></span> 
          <v-card-actions>
            <v-btn class="white--text" primary dark icon @click.native="salaryDialog = false"><v-icon>close</v-icon></v-btn>
          </v-card-actions>
        </v-toolbar>
         <v-container fluid>
           <v-layout justify-center
           >
            <v-flex offset-xs3 xs3>
              <v-dialog
                persistent
                v-model="monthPicker"
                lazy
                full-width
              >
                <v-text-field
                  slot="activator"
                  label="Select Month"
                  v-model="salaryMonth"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker 
                  no-title
                  v-model="salaryMonth" scrollable autosave>
                </v-date-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs4>
              <v-btn icon :style="'margin-top:15px;'" @click.native = 'salaryMonth = null, salaries = []'><v-icon>delete</v-icon></v-btn>
              <v-btn error v-if = "salaryMonth" @click.native = "generateSalary()"><v-icon fa>cogs</v-icon> &nbsp;&nbsp;&nbsp; Generate salary</v-btn>
            </v-flex>
           </v-layout>
           <v-layout justify-center v-if = "salaries.length === 0"
           >
              <v-flex xs10 >
                <v-card>
                  <v-card-text v-if="!salaryMonth">
                    select month to view salary
                  </v-card-text>
                  <v-card-text v-else>
                   Sorry no attendance data found for month of {{salaryMonth | datelong}}.
                  </v-card-text>
                </v-card>
              </v-flex>
           </v-layout>
           <v-layout v-else-if ="salaries"
           >
            <v-expansion-panel>
              <v-expansion-panel-content v-for="(salary, i) in salaries" :key="i" v-model="salary.show" :class="i % 2 === 0 ? 'blue-grey darken-1' : 'blue-grey lighten-1'">
                <div slot="header" class="white--text subheading">
                  Position: {{salary.contract.position.name}} - Contract date: {{salary.contract.hire_date | datelong}} - <span v-if = "salary.contract.end_date">{{salary.contract.end_date | datelong}}</span> <span v-else>Present</span> 
                  <br>
                  Pay Period: {{salary.period_start | datelong}} - {{salary.period_end | datelong}} Pay Every: 

                  <span v-if="salary.contract.cutoff.frequency === 'Monthly'">
                    {{salary.contract.cutoff.pay_1 | ordinal}} of the month
                  </span>
                  <span v-if="salary.contract.cutoff.frequency === 'Semi-Monthly'">
                    {{salary.contract.cutoff.pay_2 | ordinal}} &  {{salary.contract.cutoff.pay_2 + 15 | ordinal}}of the month
                  </span>
                  <span v-if="salary.contract.cutoff.frequency === 'Weekly'">
                    {{salary.contract.cutoff.pay_4 | ordinal}} of the week
                  </span>
                   
                </div>
                <v-card>
                  <v-card-text class="grey lighten-4">
                    <v-layout row wrap>
                      <v-flex offset-xs8 xs4>
                        <span class="headline pull-right">Salary: <span class="red--text">{{salary.total | pesos}}</span></span>
                      </v-flex>
                    </v-layout>
                    
                    <v-layout>
                      <v-flex xs1>
                        <span class="subheading">Attendance:</span>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex xs2>
                         Days: {{salary.days}} days
                      </v-flex>
                      <v-flex xs3>
                         Total Hours: {{salary.hours | hourtocombo}}
                      </v-flex>
                      <v-flex xs3>
                          Tardy Hours: {{salary.tardy| hourtocombo}}
                      </v-flex>
                       <v-flex xs3>
                         Monthly Salary: {{salary.contract.salary_per_month | pesos}}
                      </v-flex>
                    </v-layout>

                    <v-layout>
                      <v-flex xs4>
                        <span class="subheading">Payment Breakdown: 
                          <v-btn small icon @click.native="salary.showPays = !salary.showPays">
                            <v-icon>{{ salary.showPays ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                          </v-btn>
                        </span>
                      </v-flex>
                    </v-layout>

                     <v-slide-y-transition>
                      <v-layout v-show="salary.showPays">
                        <v-flex xs6>
                          <v-card>
                            <ul>
                              <li>Attendance Pay: <span class="pull-right">{{salary.basic | pesos}}</span></li>
                              <li>Benefits Pay: 
                                  <span class="pull-right">  
                                    <v-btn small icon v-if="salary.benefits > 0" @click.native="salary.showBenefits = !salary.showBenefits"><v-icon fa>{{ salary.showBenefits ? 'close' : 'search' }}</v-icon>
                                    </v-btn>
                                    {{salary.benefits | pesos}}
                                  </span>
                              </li>
                              <br>
                              <li>Advances: 
                                <span class="pull-right">  
                                  <v-btn small icon v-if="salary.advances > 0" @click.native="salary.showAdvances = !salary.showAdvances"><v-icon fa>{{ salary.showAdvances ? 'close' : 'search' }}</v-icon>
                                  </v-btn>
                                  {{salary.advances | pesos}}
                                </span>

                              </li>
                              <br>
                              <li>Deductions: 
                                <span class="pull-right">  
                                  <v-btn small icon v-if="salary.deductions > 0" @click.native="salary.showDeductions = !salary.showDeductions"><v-icon fa>{{ salary.showDeductions ? 'close' : 'search' }}</v-icon>
                                  </v-btn>
                                  {{salary.deductions | pesos}}
                                </span>
                              <li><span class="pull-right">___________</span></li>
                              <li>Total: <span class="pull-right"> {{salary.total | pesos}}</span></li>
                            </ul>
                          </v-card>
                        </v-flex>
                          <v-flex xs6>
                            <v-slide-x-transition>
                              <p v-if="salary.benefits > 0" v-show="salary.showBenefits">
                              Benefits : 
                              
                                  <v-card>
                                    <ul v-if="salary.benefitDetails" v-for="(benefit, i) in salary.benefitDetails">
                                      <li>{{i}} <span class="pull-right">{{benefit | pesos}}</span></li>
                                    </ul>
                                 </v-card>
                              </p>
                             </v-slide-x-transition>
                             <v-slide-x-transition>
                              <p v-if="salary.advances > 0" v-show="salary.showAdvances">
                              Advances: 
                                  <v-card>
                                    <ul v-for="(advance, i) in salary.advanceDetails">
                                      <li>Type: {{advance.type}} Effect date: {{advance.effect_date | datelong}}
                                        <ul v-for="(detail, j) in advance.details">
                                          <li v-if="detail.inventory_id">
                                            {{detail.inventory.item.name}}: {{detail.inventory.item.unit_price | pesos}}
                                            <span class="pull-right">
                                              x{{detail.quantity}} = {{detail.cash | pesos}}  
                                            </span>
                                          </li>
                                          <li v-else>{{detail.description}}<span class="pull-right">{{detail.cash | pesos}}</span></li>
                                        </ul>
                                        <span class="pull-right subheading">{{advance.total| pesos}}</span>
                                        <br>
                                      </li>
                                    </ul>
                                 </v-card>
                              </p>
                             </v-slide-x-transition>

                             <v-slide-x-transition>
                              <p v-if="salary.deductions > 0" v-show="salary.showDeductions">
                              Deductions: 
                                  <v-card>
                                    <ul v-for="(deduction, i) in salary.deductionDetails">
                                      <li>Type: {{deduction.type}} Pay date: {{deduction.pay_date | datelong}}
                                        <ul v-for="(detail, j) in deduction.details">
                                          <li v-if="detail.inventory_id">
                                            {{detail.inventory.item.name}}: {{detail.inventory.item.unit_price | pesos}}
                                            <span class="pull-right">
                                              x{{detail.quantity}} = {{detail.cash | pesos}}  
                                            </span>
                                          </li>
                                          <li v-else>{{detail.description}}<span class="pull-right">{{detail.cash | pesos}}</span></li>
                                        </ul>
                                        <span class="pull-right subheading red--text">{{deduction.total| pesos}}</span>
                                        <br>
                                      </li>
                                    </ul>
                                 </v-card>
                              </p>
                             </v-slide-x-transition>
                          </v-flex>
                       </v-layout>
                    </v-slide-y-transition>                  

                    <v-layout justify-center>
                      <table class ="_table datatable table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Time in</th>
                            <th>Time out</th>
                            <th>Time in</th>
                            <th>Time out</th>
                            <th width="1%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for = "(item, i) in salary.data">
                            <td>{{item.attendance.date | longwithday}}</td>
                            <td>{{item.attendance.time_in | twelvehour}}</td>
                            <td>{{item.attendance.time_out | twelvehour}}</td>
                            <td>{{item.attendance.time_in_2 | twelvehour}}</td>
                            <td>{{item.attendance.time_out_2 | twelvehour}}</td>
                            <td>
                              <v-btn icon @click.native="item.show = !item.show">
                                <v-icon>{{ item.show ? 'close' : 'keyboard_arrow_right' }}</v-icon>
                              </v-btn>
                            </td>
                            <v-slide-x-transition>
                              <v-card dark v-show="item.show">
                                <v-layout row wrap lg12 class="" :style="'width:450px;'">
                                  <v-flex xs6>
                                    - <b>Attendance</b>
                                    <ul class="list-style-square">
                                      <li>hours: {{item.hours | hourtocombo}} / <span v-if="!item.schedule.name">14hr</span><span v-else>{{item.total_hours | hourtocombo}}</span></li>
                                      <li>Daily Pay: {{item.daily_rate | pesos}}</li>
                                      <li class="red--text text--lighten-3">Attendance Pay: {{item.basic_pay | pesos}}</li>
                                    </ul>
                                    - <b>Tardy</b>
                                    <ul class="list-style-square">
                                      <li>Late: {{item.late | hourtocombo}}</li>
                                      <li>Br.Late: {{item.mid_late | hourtocombo}}</li>
                                      <li>Undertime: {{item.end_late | hourtocombo}}</li>
                                    </ul>
                                  </v-flex>
                                  <v-flex xs5 v-if="item.schedule.name">
                                    - <b>{{item.schedule.name}}</b>
                                    <ul class="list-style-square">
                                      <li v-show="item.schedule.name">{{item.schedule.start_time |twelvehour}} - {{item.schedule.end_time |twelvehour}}</li>
                                      <li>break time: {{item.schedule.break_hour}}hr {{item.schedule.break_minute}}min</li>
                                      <li>Late Meter: {{item.late_meter | hourtocombo}}</li>
                                      <li>Late Deduction: {{item.late_deduction | hourtocombo}}</li>
                                    </ul>
                                  </v-flex>
                                  <v-flex xs5 v-else>
                                    - <b>NO SCHEDULE</b>
                                    <br>
                                    Day is considered as "Flexi-time" (No timeframe of work and will paid by the hours of attendance only).
                                    <br>
                                    Specifics: <br>
                                    - Break time = 2hrs <br>
                                    - No sanctions
                                  </v-flex>
                                  <br>
                                   <v-flex offset-xs1 xs6 v-show="item.halfday || item.nobreak || item.absent">
                                    <b>Sanctions:</b>
                                    <span class="subheading red--text text--lighten-3" v-show="item.nobreak">No break</span>
                                    <span class="subheading red--text text--lighten-3" v-show="item.halfday">Half day</span>
                                    <span class="subheading red--text text--lighten-3" v-show="item.absent">Absent</span>
                                  </v-flex>
                                </v-layout>
                              </v-card>  
                            </v-slide-x-transition>
                          </tr>
                        </tbody>
                      </table>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
           </v-layout>
         </v-container>    
      </v-card>
    </v-dialog>
    <!--
    VIEW SALARY DIALOG
    -->
    <alert-me></alert-me>
  </v-card>
</template>

<script>
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  // import { required, requiredIf } from 'vuelidate/lib/validators'
  import _ from 'lodash'
  import config from '../../../../store/config'
  // import moment from 'moment'

  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    data () {
      return {
        config: config,
        search: '',
        searchBy: 'employees.last_name',
        service: 'hr/employees/',
        salaryDialog: false,
        salaryMonth: null,
        contracts: [],
        month: null,
        monthPicker: false,
        model: {},
        viewModel: {
          id: null,
          first_name: '',
          middle_name: '',
          last_name: '',
          contract: {
            position: {
              name: ''
            }
          }
        },
        params: {
          filter: {
            condition: [
              {
                command: 'has',
                val: 'contract'
              }
            ]
          }
        },
        salaries: [],
        attendanceHeaders: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: '',
            align: 'left',
            sortable: false
          }
        ],
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Image',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'employees.last_name'
          },
          {
            text: 'Current Position',
            align: 'left',
            sortable: false
          },
          {
            text: 'Hire Date',
            align: 'left',
            sortable: false
          }
        ]
      }
    },
    methods: {
      created () {
        this.contracts = this.$store.getters['hr/employee_contracts/getAll']
      },
      viewSalary (item) {
        this.resetModel()
        console.log('asdas')
        this.salaryDialog = true
        this.viewModel = item
      },
      generateSalary () {
        if (confirm('This will take a long processing time, continue?')) {
          this.salaries = []
          this.$store.dispatch('hr/employee_salaries/generate', {employee_id: this.viewModel.id, month: this.month}).then((res) => {
            this.getEmployeeSalary()
          })
        }
      },
      salaryFormatter (salaries) {
        _.forEach(salaries, (salary) => {
          salary.show = true
          salary.showBenefits = false
          salary.showPays = false
          salary.showAdvances = false
          salary.showDeductions = false
          salary.data = JSON.parse(salary.data)
          salary.benefitDetails = salary.data.benefits
          salary.advanceDetails = salary.data.advances
          salary.deductionDetails = salary.data.deductions
          delete salary.data.benefits
          delete salary.data.advances
          delete salary.data.deductions
          salary.days = _.size(salary.data)
        })
        return salaries
      },
      getEmployeeSalary () {
        if (this.viewModel.id && this.salaryMonth) {
          this.month = this.$options.filters.tomonth(this.salaryMonth)
          this.$store.dispatch('hr/employee_contracts/getBy', {key: 'employee_id', value: this.viewModel.id, params: [{select: ['id']}]}).then((res) => {
            var contractIds = _.toArray(_.map(res.data.data, 'id'))
            this.$store.dispatch('hr/employee_salaries/getBy', {key: null, value: null, params: [{whereIn: ['contract_id', contractIds]}, {where: [{where: ['period_start', 'like', '%' + this.month + '%']}, {orWhere: ['period_end', 'like', '%' + this.month + '%']}]}, {with: ['contract', 'contract.position', 'contract.cutoff']}, {orderBy: ['period_start', 'desc']}]}).then((res) => {
              this.salaries = this.salaryFormatter(res.data.data)
            })
          })
        }
      },
      resetModel () {
        this.salaries = []
        this.month = null
        this.salaryMonth = null
      }
    },
    watch: {
      'salaryMonth': function () {
        this.getEmployeeSalary()
      }
    }
  }
</script>
