<template>
  <v-card>
    <v-card-title>
      <v-btn primary @click.native="add()" v-show="false"><v-icon class="white--text"> add </v-icon>Add Advance</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search by Last Name"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
    <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-btn icon class="cyan white--text" v-tooltip:right="{ html: 'Menu' }" @click.native="viewAdvances(props.item)"><v-icon fa>usd</v-icon></v-btn>
        </td>
        <td>
          {{ props.item.first_name }} {{ props.item.middle_name | nullable }} {{ props.item.last_name }}
        </td>
        <td>
          <span v-if="props.item.contract">{{ props.item.contract.position.name }}</span>
          <span v-else>No contract/position</span>
        </td>
        <td>
          <span v-if="props.item.contract">{{ props.item.contract.hire_date | datelong }}</span>
          <span v-else>No contract/position</span>
        </td>
        <td></td>
      </template>
    </v-data-table>

    <!--
      DELETE ADVANCE DIALOG
    -->
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this Advance?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree('hr/employee_advanceds/')">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--
      DELETE ADVANCE DIALOG
    -->

     <!--
    ADD ADVANCES DIALOG
    -->
    <v-dialog v-model="dialog" persistent :width="'70%'">
      <v-card>
        <v-card-title>
          <span class="headline">Advances Form</span>
        </v-card-title>
        <v-card-text>
          <v-layout row-sm child-flex-sm>
            <v-flex offset-xs3 xs1>
              <span class="subheading"><b>Employee:</b></span>
            </v-flex>
            <v-flex offset-xs1>
             <span class="subheading">{{viewModel.last_name + ", " + viewModel.first_name}} {{viewModel.middle_name | nullable}}</span>
            </v-flex>
          </v-layout>
          <v-layout justify-center row-sm child-flex-sm>
            <v-flex xs6>
              <v-select
                v-bind:items="['','Cash','Item', 'Cash & Item']"
                v-model="model.type"
                label="Type"
                :error="$v.model.type.$error"
                :error-messages = "validations($v.model.type)"
                >               
              </v-select>
            </v-flex>
          </v-layout>
          <v-layout justify-center row-sm child-flex-sm>
            <v-flex xs3>
              <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="effect_date"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-left="40"
                  max-width="290px"
                >
                <v-text-field
                  slot="activator"
                  label="Increase Date"
                  persistent-hint
                  hint = "Date when advance will be added to salary"
                  v-model="model.effect_date"
                  @input="$v.model.effect_date.$touch()"
                  :error="$v.model.effect_date.$error"
                  :error-messages = "validations($v.model.effect_date)"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="model.effect_date" scrollable autosave>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(), model.effect_date = null">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs3>
              <v-menu
                  lazy
                  :close-on-content-click="false"
                  v-model="pay_date"
                  transition="scale-transition"
                  offset-y
                  full-width
                  :nudge-left="40"
                  max-width="290px"
                >
                <v-text-field
                  slot="activator"
                  label="Decrease Date"
                  hint = "Date when advance will be deducted from salary"
                  persistent-hint
                  v-model="model.pay_date"
                  @input="$v.model.pay_date.$touch()"
                  :error="$v.model.pay_date.$error"
                  :error-messages = "validations($v.model.pay_date)"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="model.pay_date" scrollable actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(), model.pay_date = null">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-layout justify-center row-sm child-flex-sm v-show = "mode !== 'Add'"
>
            <v-flex xs3>
              <v-text-field
                label="Total"
                v-model="model.total"
                readonly
                prefix = "₱"
                                >               
              </v-text-field>
            </v-flex>
          </v-layout>

          <v-slide-y-transition>
            <v-container v-if="model.type && model.type !== 'Item'">
              <v-btn small flat class="pull-right" @click.native="addCash()"><v-icon> add </v-icon> Add Cash</v-btn>
              <v-subheader>Cash</v-subheader>
              <br>
              <v-layout row-sm child-flex-sm  v-for="(aCash, index) in advanceCash" :key="index">
                <v-flex offset-xs1 xs4>
                  <v-text-field 
                        label="Description"
                        v-model.trim="aCash.description"
                        name="description"
                        @input="$v.advanceCash.$each[index].description.$touch()"
                        :error="$v.advanceCash.$each[index].description.$error"
                        :error-messages = "validations($v.advanceCash.$each[index].description)"
                        >
                  </v-text-field>
                </v-flex>
                <v-flex offset-xs1 xs4>
                  <v-text-field 
                        label="Cash Value"
                        v-model.trim="aCash.cash"
                        name="cash"
                        @input="$v.advanceCash.$each[index].cash.$touch()"
                        :error-messages = "validations($v.advanceCash.$each[index].cash)"
                        >
                  </v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-btn :disabled = "advanceCash.length == 1" fab small error @click.native="removeCash(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-slide-y-transition>

          <v-slide-y-transition>
            <v-container v-if="model.type && model.type !== 'Cash'">
              <v-btn small flat class="pull-right" @click.native="addItem()"><v-icon> add </v-icon> Add Item</v-btn>
              <v-subheader>Item</v-subheader>
              <br>
              <v-layout row-sm child-flex-sm v-for="(aItem, index) in advanceItems" :key="index">
                <v-flex xs-5>
                  <v-select
                    label="Item"
                    v-bind:items="inventories"
                    v-model="aItem.inventory_id"
                    item-value="id"
                    item-text="id"
                    :error="$v.advanceItems.$each[index].inventory_id.$error"
                    :error-messages="validations($v.advanceItems.$each[index].inventory_id)"
                  >
                    <template slot="selection" scope="data">
                      <span
                        :key="data.item.id"
                      >
                        <b>{{ data.item.item.name }} <small style="margin-left:100px;"class="text-right">from {{ data.item.affiliation.name }}</small></b> <v-spacer></v-spacer> 

                        <small>Unit Price ₱{{ data.item.item.unit_price }} / Stock left: {{data.item.quantity}}</small>
                      </span>
                    </template>
                    <template slot="item" scope="data">
                      <v-list-tile-content>
                         <b>{{ data.item.item.name }} <small style="margin-left:100px;"class="text-right">from {{ data.item.affiliation.name }}</small></b> <v-spacer></v-spacer> 

                        <small>Unit Price ₱{{ data.item.item.unit_price }} / Stock left: {{data.item.quantity}}</small>
                      </v-list-tile-content>
                    </template>
                  </v-select>
                </v-flex>
                <v-flex xs2>
                  <v-text-field 
                    label="Quantity"
                    v-model.trim="aItem.quantity"
                    name="quantity"
                    :error="$v.advanceItems.$each[index].quantity.$error"
                    :error-messages="validations($v.advanceItems.$each[index].quantity)"
                    >
                  </v-text-field>
                </v-flex>
                <v-flex xs3>
                  <v-text-field 
                    label="Description"
                    v-model.trim="aItem.description"
                    name="description"
                    >
                  </v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-btn :disabled = "advanceItems.length == 1" fab small error @click.native="removeItem(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-slide-y-transition>

          <br><br>
        </v-card-text>
         <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false, resetModel()">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="saveAdvance()"><span v-if="mode === 'Add'">Save</span><span v-else>Update</span></v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
     <!--
    ADD ADVANCES DIALOG
    -->


    <!--
    VIEW ADVANCES DIALOG
    -->
    <v-dialog v-model="advancesDialog" persistent :width= "'70%'">
      <v-card>
        <v-toolbar dark absolute>
          <v-toolbar-title class="white--text">
            <v-btn icon>
              <v-icon fa class="fa-lg">calendar-minus-o</v-icon>
            </v-btn>
            View Advances
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <span class="headline white--text">{{viewModel.last_name + ", " + viewModel.first_name}} {{viewModel.middle_name | nullable}} <span class="subheading grey--text">[

            <span v-if="viewModel.contract">{{viewModel.contract.position.name}}</span>
            <span v-else>No Contract</span>

          ]</span></span> 
          <v-card-actions>
            <v-btn class="white--text" primary dark icon @click.native="advancesDialog = false"><v-icon>close</v-icon></v-btn>
          </v-card-actions>
        </v-toolbar>
        <v-card-title>
          <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Advance</v-btn>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-data-table
          v-bind:headers="aHeaders"
          v-bind:items="advances"
          class="elevation-1"
        >
        <template slot="headerCell" scope="props">
            <span>{{ props.header.text }}</span>
          </template>
          <template slot="items" scope="props">
            <td>
              <v-menu bottom right close-on-click >
                <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'View Advances/Deductions' }">
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile  @click.native="editAdvances(props.item)">
                    <v-list-tile-title><v-icon fa>pencil</v-icon> Edit</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile  @click.native="del(props.item)">
                    <v-list-tile-title><v-icon fa>trash</v-icon> Delete</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </td>
            
            <td>{{props.item.type}}</td>
            <td>{{props.item.total | pesos}}</td>
            <td v-if = "props.item.effect_date != '-'">{{props.item.effect_date | datelong}}</td>
            <td v-else>Deduction by employee</td>
            <td>{{props.item.pay_date | datelong}}</td>
            <td>{{props.item.created_at | datetime}}</td>
          </template>
        </v-data-table>



      </v-card>
    </v-dialog>
    <!--
    VIEW ADVANCES DIALOG
    -->

    <alert-me></alert-me>
  </v-card>	
</template>

<script>
function uniqueSelection () {
  return _(_.map(this.advanceItems, 'inventory_id')).groupBy().pickBy(x => x.length > 1).keys().value().length === 0
}

function exceedQuantity () {
  var self = this.inventories
  if (this.advanceItems.length > 0) {
    return _(_.filter(this.advanceItems, function (i) {
      var q = _.find(self, {'id': i.inventory_id})
      if (q) {
        return parseInt(i.quantity) > parseInt(q.quantity)
      }
    })).keys().value().length === 0
  }
  return false
}

import AlertMe from '../../../utilities/alert_me/AlertMe'
import PaginationMixins from '../../../../mixins/paginations'
import BasicMixins from '../../../../mixins/basicMixins'
import { required, requiredIf, numeric } from 'vuelidate/lib/validators'
import HandlingMessage from '../../../utilities/handling-message'
import _ from 'lodash'

export default {
  mixins: [
    PaginationMixins,
    BasicMixins
  ],
  components: {
    AlertMe
  },
  data () {
    return {
      service: 'hr/employees/',
      searchBy: 'last_name',
      sortBy: 'last_name',
      effect_date: null,
      pay_date: null,
      advancesDialog: false,
      inventories: [],
      advances: [],
      totalAdvances: null,
      viewModel: {
        id: null,
        first_name: '',
        middle_name: '',
        last_name: '',
        contract: {
          position: {
            name: ''
          }
        }
      },
      advanceCash: [
        {
          id: null,
          cash: null,
          description: null
        }
      ],
      cashClass: {
        id: null,
        employee_id: null,
        description: null,
        cash: null
      },
      advanceItems: [
        {
          id: null,
          inventory_id: null,
          quantity: null,
          description: null
        }
      ],
      itemClass: {
        id: null,
        employee_id: null,
        inventory_id: null,
        quantity: null,
        cash: null,
        description: null
      },
      model: {
        id: null,
        employee_id: null,
        type: null,
        effect_date: null,
        pay_date: null,
        employee_advanced_details: []
      },
      iParams: {
        include: ['affiliation', 'item'],
        select: ['inventories.*'],
        joinBy: [
          {
            join: 'items',
            attr1: 'inventories.item_id',
            attr2: 'items.id'
          },
          {
            join: 'affiliations',
            attr1: 'inventories.affiliation_id',
            attr2: 'affiliations.id'
          }
        ],
        orderBy: {
          condition: [
            {
              col: 'items.name',
              direction: 'asc'
            }
          ]
        }
      },
      headers: [
        {
          text: '',
          align: 'left',
          sortable: false
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'last_name'
        },
        {
          text: 'Current Position',
          align: 'left',
          sortable: false
        },
        {
          text: 'Hire Date',
          align: 'left',
          sortable: false
        }
      ],
      aHeaders: [
        {
          text: '',
          align: 'left',
          sortable: false
        },
        {
          text: 'Type',
          align: 'left',
          sortable: true,
          value: 'type'
        },
        {
          text: 'Total',
          align: 'left',
          sortable: true,
          value: 'total'
        },
        {
          text: 'Increase Date',
          align: 'left',
          sortable: true,
          value: 'effect_date'
        },
        {
          text: 'Decrease Date',
          align: 'left',
          sortable: true,
          value: 'pay_date'
        },
        {
          text: 'Created at',
          align: 'left',
          sortable: true,
          value: 'created_at'
        }
      ]
    }
  },
  validations: {
    model: {
      type: {
        required
      },
      effect_date: {
        requiredIf: requiredIf(function () {
          return !this.model.pay_date
        })
      },
      pay_date: {
        /* requiredUnless: requiredUnless(function () {
          var end = this.model.pay_date
          this.model.pay_date = ''
          if (end > this.model.effect_date) {
            this.model.pay_date = end
          }
          return true
        }), */
        requiredIf: requiredIf(function () {
          return !this.model.pay_date
        })
      }
    },
    advanceCash: {
      $each: {
        description: {
          requiredIf: requiredIf(function () {
            return this.model.type !== 'Item'
          })
        },
        cash: {
          numeric,
          requiredIf: requiredIf(function () {
            return this.model.type !== 'Item'
          })
        }
      }
    },
    advanceItems: {
      $each: {
        inventory_id: {
          numeric,
          requiredIf: requiredIf(function () {
            return this.model.type !== 'Cash'
          }),
          uniqueSelection
        },
        quantity: {
          numeric,
          requiredIf: requiredIf(function () {
            return this.model.type !== 'Cash'
          }),
          exceedQuantity
        },
        description: {}
      }
    }
  },
  created () {
    this.$store.dispatch('inventories/inventories/getAll', this.iParams).then((res) => {
      this.inventories = res.data.data
    })
  },
  methods: {
    saveAdvance () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.saveDisable = true
      this.model.employee_id = this.viewModel.id
      this.model.employee_advanced_details = []
      var self = this.model.employee_advanced_details
      if (this.model.type !== 'Item') {
        _.forEach(this.advanceCash, function (i) {
          self.push(i)
        })
      }
      if (this.model.type !== 'Cash') {
        _.forEach(this.advanceItems, function (i) {
          self.push(i)
        })
      }
      this.$store.dispatch('hr/employee_advanceds/post', this.model).then((res) => {
        this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        this.dialog = false
        this.getAdvances()
      }, () => {
        this.beforeSaveError()
        this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
      })
    },
    viewAdvances (employee) {
      this.viewModel = employee
      this.getAdvances()
    },
    afterGetAll () {
      if (this.viewModel.id) {
        this.getAdvances()
      }
    },
    getAdvances () {
      var aParams = {
        filter: {
          condition: [
            {
              command: 'where',
              where: 'employee_id',
              val: this.viewModel.id
            }
          ]
        },
        orderBy: {
          condition: [
            {
              col: 'created_at',
              direction: 'desc'
            }
          ]
        }
      }
      this.$store.dispatch('hr/employee_advanceds/getAll', aParams).then((res) => {
        this.advances = res.data.data
        this.totalAdvances = this.advances.length
        this.advancesDialog = true
      })
    },
    beforeAdd () {
      this.resetAdvance()
    },
    editAdvances (item) {
      this.saveDisable = false
      this.resetAdvance()
      this.$store.dispatch('hr/employee_advanceds/getBy', {key: 'id', value: item.id, params: [{voidGet: true}, {with: ['item', 'cash']}, {first: []}]}).then((res) => {
        this.model = res.data.data
        if (this.model.cash.length > 0) {
          this.advanceCash = this.model.cash
        }
        if (this.model.item.length > 0) {
          this.advanceItems = this.model.item
        }
        this.dialog = true
      })
    },
    addCash () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.advanceCash.push(_.cloneDeep(this.cashClass))
    },
    removeCash (index) {
      this.$v.advanceCash.$each[index].$reset()
      this.advanceCash.splice(index, 1)
    },
    addItem () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.advanceItems.push(_.cloneDeep(this.itemClass))
    },
    removeItem (index) {
      this.$v.advanceItems.$each[index].$reset()
      this.advanceItems.splice(index, 1)
    },
    resetAdvance () {
      this.advanceCash = []
      this.advanceItems = []
      this.advanceCash.push(_.cloneDeep(this.cashClass))
      this.advanceItems.push(_.cloneDeep(this.itemClass))
    },
    resetModel () {
      this.model = {
        id: null,
        employee_id: null,
        type: null,
        effect_date: null,
        pay_date: null,
        employee_advanced_details: []
      }
    }
  }
}
</script>
