<template>
  <v-container fluid grid-list-md class="elevation-12" :style="'height:200%'">
    <v-layout row v-if="!auth">
      <v-flex class="headline" lg12 offset-xs3>    
      SATUITO Business Management System - Price List
      </v-flex>
      <br>
      <v-btn info @click.native="login()">Login</v-btn>
      <v-btn primary @click.native="advance()">Deduction</v-btn>
      <v-btn warning @click.native="timeRecord()">Time Record</v-btn>
    </v-layout>
    <v-layout rows>
      <v-flex xs3 class="pl-3">
        <v-select
          v-bind:items="stores"
          v-model="filterByStore"
          autocomplete
          label="Store"
          item-text="name"
          item-value="id"
          prepend-icon="store"
        ></v-select>
      </v-flex>
      <v-flex xs3>
      </v-flex>
      <v-flex xs6 class="pr-3" v-if="filterByStore">
        <v-text-field
          append-icon="search"
          label="Search by Item Name"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-btn v-show="filterByStore" @click.native="showCategory = !showCategory" small><v-icon v-if="showCategory">visibility</v-icon>
      <v-icon v-else>visibility_off</v-icon>
    category</v-btn>
    <v-layout rows wrap v-if="filterByStore">
      
      <v-slide-x-transition>
      <v-flex v-show="showCategory">
        <v-container fluid v-bind="{ [`grid-list-sm`]: true }" class="pr-4">
          <v-layout row wrap>
            <v-flex xs12>
              <v-btn block @click.native="onSelectAffiliation(filterByStore)" :class="all ? 'red lighten-1 white--text' : 'blue lighten-1'">
                All
              </v-btn>
            </v-flex>
            <v-flex xs4 v-for="(category, index) in categories" :key="index">
              <v-btn block @click.native="filterByCategory(category, index)" :class="categoryClicked[index].active ? 'red lighten-1 white--text' : 'blue lighten-1'">
                {{ category.name }}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-slide-x-transition>
      <v-flex class="pr-3">
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="items"
          v-bind:pagination.sync="pagination"
          :total-items="totalItems"
          :loading="loading"
          class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span>{{ props.header.text }}</span>
          </template>
          <template slot="items" scope="props">
            <td>
              {{ props.item.item.name }} ({{ props.item.item.unit_value }} {{ props.item.item.unit.abbreviation }})
            </td>
            <td>
              {{ props.item.item.unit_price | pesos}}
            </td>
            <td>
              {{ props.item.item.net_price | pesos}}
            </td>
            <td>
              {{ props.item.item.retail_price | pesos}}
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import _ from 'lodash'
  import BasicMixins from '../../../../mixins/basicMixins'
  export default {
    name: 'PriceList',
    mixins: [
      BasicMixins
    ],
    data () {
      return {
        showCategory: false,
        search: '',
        filterByStore: null,
        totalItems: 0,
        items: [],
        categories: [],
        loading: true,
        pagination: {},
        stores: [],
        all: true,
        categoryClicked: [],
        lastClicked: null,
        params: {
          include: ['item', 'item.unit'],
          joinBy: [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            }
          ],
          orderBy: {
            condition: [
              {
                col: 'items.name',
                direction: 'asc'
              }
            ]
          },
          filter: {
            condition: []
          },
          search: null,
          rowsPerPage: null,
          page: null,
          totalItems: null
        },
        headers: [
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'items.name'
          },
          {
            text: 'Unit Price',
            align: 'left',
            sortable: true,
            value: 'items.unit_price'
          },
          {
            text: 'Net Price',
            align: 'left',
            sortable: true,
            value: 'items.net_price'
          },
          {
            text: 'Retail Price',
            align: 'left',
            sortable: true,
            value: 'items.retail_price'
          }
        ]
      }
    },
    watch: {
      filterByStore: {
        handler (params) {
          this.onSelectAffiliation(params)
        },
        deep: true
      },
      search: {
        handler () {
          this.params.search = {
            by: 'items.name',
            keyword: _.isEmpty(this.search) ? null : this.search
          }
          this.getAll(this.params)
        },
        deep: true
      },
      pagination: {
        handler (params) {
          this.params.descending = params.descending
          this.params.page = params.page
          this.params.rowsPerPage = params.rowsPerPage
          this.params.totalItems = params.totalItems
          this.params.orderBy = {
            condition: [
              {
                col: params.sortBy,
                direction: params.descending ? 'desc' : 'asc'
              }
            ]
          }
          this.getAll(this.params)
        },
        deep: true
      }
    },
    created () {
      this.init()
    },
    methods: {
      login () {
        window.location.href = '/login'
      },
      timeRecord () {
        window.location.href = '/time_record'
      },
      advance () {
        window.location.href = '/advance'
      },
      init () {
        this.$store.dispatch('business_logics/priceListInit').then((res) => {
          this.stores = res.data.affiliations
          this.categories = res.data.item_categories
          this.categoryClicked = _.cloneDeep(this.categories)
          _.forEach(this.categoryClicked, (category) => {
            category.active = false
          })
        })
      },
      onSelectAffiliation (val) {
        this.params.filter = {
          condition: [
            {
              where: 'affiliation_id',
              operator: '=',
              val: val
            }
          ]
        }
        this.$store.dispatch('inventories/inventories/getAll', this.params).then((res) => {
          this.items = res.data.data
          this.totalItems = res.data.total
          this.loading = false
          this.all = true
          if (!_.isNull(this.lastClicked)) {
            this.lastClicked.active = false
          }
        })
      },
      getAll (params = null) {
        this.$store.dispatch('inventories/inventories/getAll', this.updateParams(params)).then((res) => {
          this.items = res.data.data
          this.totalItems = res.data.total
          this.loading = false
        })
      },
      updateParams (params) {
        if (params) {
          this.params.descending = params.descending
          this.params.page = params.page
          this.params.rowsPerPage = params.rowsPerPage
          this.params.totalItems = params.totalItems
          this.params.orderBy = params.orderBy
          this.params.search = params.search
        }
        return this.params
      },
      filterByCategory (category, index) {
        this.all = false
        this.categoryClicked[index].active = true
        if (this.lastClicked !== this.categoryClicked[index]) {
          if (!_.isNull(this.lastClicked)) {
            this.lastClicked.active = false
          }
          this.lastClicked = this.categoryClicked[index]
        }
        this.loading = true
        this.params.filter = {
          condition: [
            {
              where: 'items.item_category_id',
              operator: '=',
              val: category.id
            },
            {
              where: 'affiliation_id',
              operator: '=',
              val: this.filterByStore
            }
          ]
        }
        this.getAll(this.params)
      }
    }
  }
</script>
