.alertBox {
  position: fixed;
  right: 0%;
  left: 0%;
  top: 0%;
  cursor: pointer;
  font-weight: bolder;
  border: solid 2px;
  width: auto;
  z-index: 99999;
}
#page-transition {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}
.margin-bottom-less-10 {
  margin-bottom: -10px;
}

._page {
  min-height: 500px;
}

.full-width {
  width: 100%
}

.full-height {
  height: 1200%
}

.centralize {
  text-align:center;
}

._table {
  /*min-height: 300px;
  width: 100%;*/
}

.list-style-square {
  list-style-type: square;
}