<template>
  <router-view></router-view>
</template>

<script>
  /* eslint-disable */
  export default {
    name: 'AccountHome',
    data () {
      return {
      }
    },
    mounted () {
    },
    methods: {
    }
  }
</script>