<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field label="Address"
                      v-model.trim="model.address"
                      name="address"
                      :readonly="mode === 'View'">
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs4>
        <v-select
          v-bind:items="countries"
          item-text="name"
          item-value="id"
          v-model="model.country_id"
          label="Country"
          autocomplete
          @change="val => onChangeCountries(val)"
          :disabled="mode === 'View'"
        ></v-select>
      </v-flex>
      <v-flex xs4>
        <v-select
          v-bind:items="provinces"
          item-text="name"
          item-value="id"
          v-model="model.province_id"
          label="Province"
          autocomplete
          @change="val => onChangeProvince(val)"
          :disabled="mode === 'View' || model.country_id === null"
        ></v-select>
      </v-flex>
      <v-flex xs4>
        <v-select
          v-bind:items="cities"
          item-text="name"
          item-value="id"
          v-model="model.city_id"
          label="City"
          autocomplete
          :disabled="mode === 'View' || model.province_id === null"
        ></v-select>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: ['model', 'mode'],
    data () {
      return {
        countries: [],
        provinces: [],
        cities: []
      }
    },
    created () {
      this.countries = this.$store.getters['commons/countries/getAll']
      this.provinces = this.$store.getters['commons/provinces/getAll']
      this.cities = this.$store.getters['commons/cities/getAll']
    },
    methods: {
      onChangeCountries (countryId) {
        this.model.province_id = null
        this.model.city_id = null
        this.$store.dispatch('commons/provinces/getBy', { key: 'country_id', value: countryId }).then((res) => {
          this.provinces = res.data.data
        })
      },
      onChangeProvince (provinceId) {
        this.$store.dispatch('commons/cities/getBy', { key: 'province_id', value: provinceId }).then((res) => {
          this.cities = res.data.data
        })
      }
    }
  }
</script>
