<template>
  <v-container fluid grid-list-md class="elevation-12 _page">
    <v-layout>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Brand</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-layout>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.name }}
        </td>
        <td>
          {{ props.item.address }}
        </td>
        <td>
          {{ props.item.email_address }}
        </td>
        <td>
          {{ props.item.contact_number }}
        </td>
        <td>
          {{ props.item.description }}
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent :width="width" >
      <v-card>
        <v-stepper v-model="steps">
          <v-stepper-header v-if="mode === 'Add'">
            <v-stepper-step step="1" :complete="steps > 1">Add Brand</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="steps > 2">Add Contact Persons <small>Optional</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">Review</v-stepper-step>
          </v-stepper-header>

          <v-stepper-header v-if="mode !== 'Add'">
            <v-stepper-step step="1" @click.native="width='40%'" complete editable :rules="[()=> {return !$v.model.$error}]">
              <small v-if="$v.$error" class="red--text">Check your validations!</small>
              Add Brand
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" @click.native="width='80%'" complete editable :rules="[()=> {return !$v.contactPeople.$error}]">Add Contact Persons <small>Optional</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">Review</v-stepper-step>
          </v-stepper-header>

          <v-stepper-content step="1">
            <v-card-text>
              <v-text-field label="Name"
                            v-model.trim="model.name"
                            name="name"
                            :readonly="mode === 'View'"
                            @input="$v.model.name.$touch()"
                            :error="$v.model.name.$error"
                            :error-messages="validations($v.model.name)"
                            >
              </v-text-field>
              <v-text-field label="Address"
                            rows="3"
                            v-model="model.address"
                            :readonly="mode === 'View'"
                            multi-line>
              </v-text-field>
              <v-text-field label="Email Address"
                            v-model="model.email_address"
                            name="email"
                            :readonly="mode === 'View'"
                            @input="$v.model.email_address.$touch()"
                            :error="$v.model.email_address.$error"
                            :error-messages="validations($v.model.email_address)"
                            >
              </v-text-field>
              <v-text-field label="Contact Number"
                            v-model="model.contact_number"
                            name="contact_number"
                            :readonly="mode === 'View'"
                            type="number"
                            >
              </v-text-field>
              <v-text-field label="Description"
                            rows="3"
                            v-model="model.description"
                            :readonly="mode === 'View'"
                            multi-line>
              </v-text-field>
            </v-card-text>
            <v-btn flat error @click.native="dialog = false">Cancel</v-btn>
            <v-btn primary @click.native="nextStep(2, '80%')" class="pull-right">Continue</v-btn>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-btn v-if="contactPeople.length === 0" block secondary dark @click.native="addmore()">Click to add Contact Person</v-btn>
            <v-layout row-xs child-flex-xs v-for="(person, index) in contactPeople" :key="index">
              <v-flex xs2>
                <v-text-field label="First Name"
                              v-model="person.first_name"
                              :readonly="mode === 'View'"
                              @input="$v.contactPeople.$each[index].first_name.$touch()"
                              :error="$v.contactPeople.$each[index].first_name.$error"
                              :error-messages="validations($v.contactPeople.$each[index].first_name)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs1>
                <v-text-field label="Middle Name"
                              v-model="person.middle_name"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Last Name"
                              v-model="person.last_name"
                              :readonly="mode === 'View'"
                              @input="$v.contactPeople.$each[index].last_name.$touch()"
                              :error="$v.contactPeople.$each[index].last_name.$error"
                              :error-messages="validations($v.contactPeople.$each[index].last_name)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Address"
                              v-model="person.address"
                              :readonly="mode === 'View'">
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Email Addres"
                              v-model="person.email_address"
                              :readonly="mode === 'View'"
                              @input="$v.contactPeople.$each[index].email_address.$touch()"
                              :error="$v.contactPeople.$each[index].email_address.$error"
                              :error-messages="validations($v.contactPeople.$each[index].email_address)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Contact Number"
                              v-model="person.contact_number"
                              :readonly="mode === 'View'"
                              type="number"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-btn fab small error @click.native="removemore(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
              </v-flex>
            </v-layout>
            <v-btn small flat class="pull-right" @click.native="addmore()"><v-icon> add </v-icon> Add More</v-btn>
            <br>
            <br>
            <v-btn flat @click.native="nextStep(1, '40%')" class="pull-left">Back</v-btn>
            <v-btn primary @click.native="nextStep(3, '80%')" class="pull-right">Continue</v-btn>
            <v-btn flat error @click.native="dialog = false" class="pull-right">Cancel</v-btn>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-layout row>
              <v-flex sm5 offset-sm1>
                <v-card>
                  <v-card-title class="elevation-12 brown lighten-3">
                    <h3 class="headline mb-0"><v-icon fa>tags</v-icon> Brand Details</h3>
                  </v-card-title>
                  <v-card>
                    <v-list>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="brown--text fa-lg" fa>tag</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>{{model.name}}</v-list-tile-title>
                          <v-list-tile-sub-title>Brand Name</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                    <v-list>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="brown--text fa-lg" fa>list-alt</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>{{model.address}}</v-list-tile-title>
                          <v-list-tile-sub-title>Address</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                    <v-list >
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="brown--text">email</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>{{model.email_address}}</v-list-tile-title>
                          <v-list-tile-sub-title>E-mail Address</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                    <v-list >
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="brown--text">phone</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>{{model.contact_number}}</v-list-tile-title>
                          <v-list-tile-sub-title>Contact Number</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                    <v-list >
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="brown--text">sms</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>{{model.description}}</v-list-tile-title>
                          <v-list-tile-sub-title>Description</v-list-tile-sub-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-card>
                </v-card>
              </v-flex>
              <v-flex sm5 v-if="contactPeople.length > 0">
                <v-card>
                  <v-card-title class="elevation-12 green lighten-2">
                    <h3 class="headline mb-0"><v-icon fa>users</v-icon> Contacts</h3>
                  </v-card-title>
                  <v-card>
                    <v-expansion-panel expand>
                      <v-expansion-panel-content v-for="(person, index) in contactPeople" :key="index">
                        <div slot="header">
                          <v-icon fa class="fa-lg green--text">user</v-icon>
                          {{person.first_name}} {{person.middle_name}} {{person.last_name}}
                        </div>
                        <v-list>
                          <v-list-tile>
                            <v-list-tile-action>
                              <v-icon class="green--text fa-lg" fa>list-alt</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                              <v-list-tile-title>{{person.address}}</v-list-tile-title>
                              <v-list-tile-sub-title>Address</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-action>
                              <v-icon class="green--text">email</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                              <v-list-tile-title>{{person.email_address}}</v-list-tile-title>
                              <v-list-tile-sub-title>E-mail Address</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                          <v-list-tile>
                            <v-list-tile-action>
                              <v-icon class="green--text">phone</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                              <v-list-tile-title>{{person.contact_number}}</v-list-tile-title>
                              <v-list-tile-sub-title>Contact Number</v-list-tile-sub-title>
                            </v-list-tile-content>
                          </v-list-tile>
                        </v-list>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-card>
                </v-card>
              </v-flex>
            </v-layout>
            <v-card-actions>
              <v-btn flat @click.native="nextStep(2, '90%')" class="pull-left" v-if="mode !== 'View'">Back</v-btn>
              <v-spacer></v-spacer>
              <v-btn class="pull-right" primary @click.native="dialog = false" v-if="mode === 'View'">Close</v-btn>
              <v-btn flat error @click.native="dialog = false" v-if="mode !== 'View'" class="pull-right">Cancel</v-btn>
              <v-btn class="pull-right" :loading="saveDisable" :disabled="saveDisable" primary @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
              <v-btn class="blue--text darken-1 pull-right" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
            </v-card-actions>
          </v-stepper-content>
        </v-stepper>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this brand and it's contact people?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import AlertMe from '../../utilities/alert_me/AlertMe'
  import HandlingMessage from '../../utilities/handling-message'
  import _ from 'lodash'
  import PaginationMixins from '../../../mixins/paginations'
  import BasicMixins from '../../../mixins/basicMixins'
  import { required, email } from 'vuelidate/lib/validators'
  export default {
    components: {
      AlertMe
    },
    name: 'Brand',
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    data () {
      return {
        service: 'commons/companies/',
        model: {
          id: null,
          name: null,
          address: null,
          email_address: null,
          contact_number: null,
          description: null
        },
        contacts_cards: false,
        detail_check: true,
        steps: 1,
        width: '40%',
        trash: [],
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Address',
            align: 'left',
            sortable: true,
            value: 'address'
          },
          {
            text: 'Email Address',
            align: 'left',
            sortable: true,
            value: 'email_address'
          },
          {
            text: 'Contact Number',
            align: 'left',
            sortable: true,
            value: 'contact_number'
          },
          {
            text: 'Description',
            align: 'left',
            sortable: true,
            value: 'description'
          }
        ],
        contactHeader: [
          'First Name',
          'Middle Name',
          'Last Name',
          'Address',
          'Email Address',
          'Contact Number'
        ],
        contactPeople: [],
        backUpContactPeople: [],
        contactPerson: {
          id: null,
          company_id: null,
          first_name: null,
          middle_name: null,
          last_name: null,
          address: null,
          email_address: null,
          contact_number: null,
          show: false
        }
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        email_address: {
          email
        }
      },
      contactPeople: {
        $each: {
          first_name: {
            required
          },
          last_name: {
            required
          },
          email_address: {
            email
          }
        }
      }
    },
    methods: {
      setContactDetails (contactPeople) {
        for (var i = contactPeople.length - 1; i >= 0; i--) {
          this.contactPeople[i].show = false
        }
      },
      nextStep (step, width) {
        switch (step) {
          case 1: {
            this.steps = step
            this.width = width
            break
          }
          case 2: {
            this.$v.model.$touch()
            if (this.$v.model.$error) return
            this.steps = step
            this.width = width
            break
          }
          case 3: {
            this.$v.$touch()
            if (this.$v.$error) return
            this.steps = step
            this.width = width
            break
          }
        }
      },
      addmore () {
        this.contactPeople.push(_.cloneDeep(this.contactPerson))
      },
      removemore (index) {
        if (this.mode === 'Edit') {
          let val = _.values(_.pickBy(this.backUpContactPeople, {id: this.contactPeople[index].id}))
          if (!_.isEmpty(val)) {
            this.trash.push(val[0].id)
          }
        }
        this.contactPeople.splice(index, 1)
      },
      getContactPeopleByCompany (id) {
        this.$store.dispatch('commons/contact_people/getBy', { key: 'company_id', value: id }).then((res) => {
          console.log('GET BY', res)
          this.contactPeople = res.data.data
          this.setContactDetails(this.contactPeople)
          this.backUpContactPeople = _.cloneDeep(this.contactPeople)
        })
      },
      afterEdit () {
        this.getContactPeopleByCompany(this.model.id)
      },
      afterView () {
        this.getContactPeopleByCompany(this.model.id)
        this.steps = 3
        this.width = '80%'
      },
      save () {
        this.$store.dispatch(this.service + 'post', this.model).then((res) => {
          this.$store.dispatch('commons/contact_people/post', this.generateContactPeople(res.data.data[0].id)).then((res) => {
            this.getAll()
            this.dialog = false
            this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
          })
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
        })
      },
      update () {
        this.$store.dispatch(this.service + 'put', this.model).then((res) => {
          this.$store.dispatch('commons/contact_people/put', this.generateContactPeople(res.data.data[0].id)).then((res) => {
            this.$store.dispatch('commons/contact_people/delete', this.trash).then((res) => {
              this.getAll()
              this.dialog = false
              this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.updateSuccess})
            }, () => {
              this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.updateError})
            })
          }, () => {
            this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.updateError})
          })
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.updateError})
        })
      },
      delAgree () {
        this.$store.dispatch('commons/contact_people/deleteAll').then((res) => {
          this.$store.dispatch(this.service + 'delete', this.itemToDelete).then((res) => {
            this.getAll()
            this.dialog = false
            this.itemToDelete = null
            this.delDialog = false
            this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.removeSuccess})
          }, () => {
            this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.removeError})
          })
        }, () => {
          this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.removeError})
        })
      },
      generateContactPeople (id) {
        _.forEach(this.contactPeople, (person) => {
          person.company_id = id
        })
        return this.contactPeople
      },
      beforeClear () {
        this.width = '40%'
        this.steps = 1
        this.contactPeople = []
      },
      resetModel () {
        this.model = {
          id: null,
          name: null,
          address: null,
          email_address: null,
          contact_number: null,
          description: null
        }
      }
    }
  }
</script>
