<template>
  <v-card>
    <v-card-title>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Schedule</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.name }}
        </td>
        <td>
          {{ props.item.start_time | twelvehour}}
        </td>
        <td>
          {{ props.item.end_time | twelvehour }}
        </td>
        <td>
          {{ props.item.description }}
        </td>
      </template>
    </v-data-table>

    
    <v-dialog v-model="dialog" persistent :width="'50%'">
      <v-card>
        <v-card-title>
          <span class="headline">Schedule Form</span>
        </v-card-title>
        <v-card-text>
          <v-layout row-xs child-flex-xs>
              <v-flex xs6 offset-xs3>
              <v-text-field label="Name"
                            v-model.trim="model.name"
                            name="name"
                            :readonly="mode === 'View'"
                            @input="$v.model.name.$touch()"
                            :error="$v.model.name.$error"
                            :error-messages = "validations($v.model.name)"
                            >
              </v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row-xs child-flex-xs>
              <v-flex xs5 offset-xs1>
              <v-dialog
                  persistent
                  v-model="start_time"
                  lazy
                >
                <v-text-field
                  slot="activator"
                  label="Time in"
                  v-model="model.start_time"
                  prepend-icon="access_time"
                  @input="$v.model.start_time.$touch()"
                  :error="$v.model.start_time.$error"
                  :error-messages = "validations($v.model.start_time)"
                  readonly
                ></v-text-field>
                <v-time-picker
                v-model="model.start_time" actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(); model.start_time= ''">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs5>
              <v-dialog
                persistent
                v-model="end_time"
                lazy
              >
                <v-text-field
                  slot="activator"
                  label="End Time"
                  v-model="model.end_time"
                  prepend-icon="access_time"
                  @input="$v.model.end_time.$touch()"
                  :error="$v.model.end_time.$error"
                  :error-messages = "validations($v.model.end_time)"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="model.end_time" actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(), model.end_time = null">CLear</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>
          <v-layout row-xs child-flex-xs>
            <v-flex xs2 offset-xs1>
              <br>
              <span class="heading">Break time</span>
            </v-flex>
            <v-flex xs4 offset-xs1>
              <v-btn small flat icon @click.native='info_late = !info_late'><v-icon>info</v-icon></v-btn>
              <span class="heading">Late Meter</span>
              <br>
              <small v-show='info_late'>The maximum late time before applying 0-break sanction</small>
            </v-flex>
            <v-flex xs4>
              <v-btn small flat icon @click.native='info_break = !info_break'><v-icon>info</v-icon></v-btn>
              <span class="heading">Break deduction</span><br>
              <small v-show='info_break'>Deduction value of break time whenever employee is late</small>
            </v-flex>
          </v-layout>
          <v-layout row-xs child-flex-xs>
              <v-flex xs1 offset-xs1>
                <v-text-field label=""
                              v-model.trim="model.break_hour"
                              name="break_hour"
                              label = "hr."
                              suffix = ":"
                              :readonly="mode === 'View'"
                              @input="$v.model.break_hour.$touch()"
                              :error="$v.model.break_hour.$error"
                              :error-messages = "validations($v.model.break_hour)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs1>
                  <v-text-field label=""
                                v-model.trim="model.break_minute"
                                name="break_minute"
                                label = "min."
                                :readonly="mode === 'View'"
                                @input="$v.model.break_minute.$touch()"
                                :error="$v.model.break_minute.$error"
                                :error-messages = "validations($v.model.break_minute)"
                                >
                  </v-text-field>
              </v-flex>
              <v-flex xs1 offset-xs1>
                <v-text-field label=""
                              v-model.trim="model.late_hour"
                              name="late_hour"
                              label = "hr."
                              suffix = ":"
                              :readonly="mode === 'View'"
                              @input="$v.model.late_hour.$touch()"
                              :error="$v.model.late_hour.$error"
                              :error-messages = "validations($v.model.late_hour)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs1>
                  <v-text-field label=""
                                v-model.trim="model.late_minute"
                                name="late_minute"
                                label = "min."
                                :readonly="mode === 'View'"
                                @input="$v.model.late_minute.$touch()"
                                :error="$v.model.late_minute.$error"
                                :error-messages = "validations($v.model.late_hour)"
                                >
                  </v-text-field>
              </v-flex>


              <v-flex xs1 offset-xs2>
                <v-text-field label=""
                              v-model.trim="model.late_deduction_hour"
                              name="late_deduction_hour"
                              label = "hr."
                              suffix = ":"
                              :readonly="mode === 'View'"
                              @input="$v.model.late_deduction_hour.$touch()"
                              :error="$v.model.late_deduction_hour.$error"
                              :error-messages = "validations($v.model.late_deduction_hour)"
                              >
                </v-text-field>
              </v-flex>
              <v-flex xs1>
                  <v-text-field label=""
                                v-model.trim="model.late_deduction_minute"
                                name="late_deduction_minute"
                                label = "min."
                                :readonly="mode === 'View'"
                                @input="$v.model.late_deduction_minute.$touch()"
                                :error="$v.model.late_deduction_minute.$error"
                                :error-messages = "validations($v.model.late_deduction_minute)"
                                >
                  </v-text-field>
              </v-flex>
            </v-layout>
           
          <v-layout row-xs child-flex-xs>
              <v-flex xs4>
                <v-switch :disabled ="!model.late_hour && !model.late_minute" label="0-break Sanction" v-model="model.nobreak_sanction" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
              <v-flex xs4>
                <v-switch label="Half-day Sanction" v-model="model.halfday_sanction" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
              <v-flex xs4>
                <v-switch label="Absent Sanction" v-model="model.absent_sanction" color="primary" :input-value="[0,1]" hide-details></v-switch>
              </v-flex>
          </v-layout>
          <v-layout row-xs child-flex-xs>
              <v-flex xs4>
                <small v-if="(!model.late_hour && !model.late_minute)" class="red--text">Apply late meter</small>
                <small v-else>Whenever the employee exceeds the Late Meter, employee will have no break for that day</small>
              </v-flex>
              <v-flex xs4>
                <small>Whenever the employee exceeds/over-extends its break for the mid-day and came back; The 2nd half of his attendance is void</small>
              </v-flex>
              <v-flex xs4>
                <small>Whenever the employee exceeds/over-extends its break for the mid-day and did not come back; He/she is ABSENT for that day.</small>
              </v-flex>
            </v-layout>
          <v-text-field label="Description"
                        rows="3"
                        v-model="model.description"
                        :readonly="mode === 'View'"
                        multi-line>
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false, resetModel()">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this unit?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-card>
</template>

<script>
  function below4hours () {
    return this.hour_difference >= 4
  }
  function exceedsbreaktime () {
    console.log(this.break_time, this.break_deduction)
    return this.break_time >= this.break_deduction
  }
  function exceedsschedule () {
    console.log(this.hour_difference, this.late_meter)
    return this.hour_difference >= this.late_meter
  }
  function exceedsschedule2 () {
    console.log(this.hour_difference, this.break_time)
    return this.hour_difference >= this.break_time
  }

  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required, requiredUnless, numeric, requiredIf } from 'vuelidate/lib/validators'

  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'ContractType',
    /* computed: {
      startFormat () {
        return this.model.start_time ? this.$options.filters.twelvehour(this.model.start_time) : null
      },
      endFormat () {
        return this.model.end_time ? this.$options.filters.twelvehour(this.model.end_time) : null
      }
    }, */
    data () {
      return {
        service: 'hr/schedules/',
        info_late: false,
        info_break: false,
        model: {
          id: null,
          name: null,
          start_time: null,
          end_time: null,
          break_hour: null,
          break_minute: null,
          late_hour: null,
          late_minute: null,
          late_deduction_hour: null,
          late_deduction_minute: null,
          nobreak_sanction: false,
          halfday_sanction: false,
          absent_sanction: false,
          description: null
        },
        noval: null,
        start_time: null,
        end_time: null,
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Start Time',
            align: 'left',
            sortable: true,
            value: 'start_time'
          },
          {
            text: 'End Time',
            align: 'left',
            sortable: true,
            value: 'end_time'
          },
          {
            text: 'Description',
            align: 'left',
            sortable: true,
            value: 'description'
          }
        ]
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        start_time: {
          required,
          below4hours
        },
        end_time: {
          requiredUnless: requiredUnless(function () {
            /* var end = this.model.end_time
            this.model.end_time = ''
            if (end > this.model.start_time) {
              this.model.end_time = end
            } */
            return true
          })
        },
        break_hour: {
          requiredIf: requiredIf(function () {
            return this.model.break_minute === null || this.model.break_minute === ''
          }),
          numeric,
          exceedsschedule2
        },
        break_minute: {
          requiredIf: requiredIf(function () {
            return this.model.break_hour === null || this.model.break_hour === ''
          }),
          numeric,
          exceedsschedule2
        },
        late_hour: {
          numeric,
          exceedsschedule
        },
        late_minute: {
          numeric,
          exceedsschedule
        },
        late_deduction_hour: {
          numeric,
          exceedsbreaktime
        },
        late_deduction_minute: {
          numeric,
          exceedsbreaktime
        }
      }
    },
    watch: {
      'model.late_hour': function () {
        if (!this.model.late_minute && !this.model.late_hour && this.model.nobreak_sanction) {
          this.model.nobreak_sanction = false
        }
      },
      'model.late_minute': function () {
        if (!this.model.late_minute && !this.model.late_hour && this.model.nobreak_sanction) {
          this.model.nobreak_sanction = false
        }
      }
    },
    computed: {
      hour_difference: function () {
        return this.timeDifference(this.model.start_time, this.model.end_time)
      },
      break_time: function () {
        return this.hourMintoMin(this.model.break_hour, this.model.break_minute)
      },
      break_deduction: function () {
        return this.hourMintoMin(this.model.late_deduction_hour, this.model.late_deduction_minute)
      },
      late_meter: function () {
        return this.hourMintoMin(this.model.late_hour, this.model.late_minute)
      }
    },
    methods: {
      convert12hr () {
        this.model.start_time = this.$options.filters.twelvehour(this.model.start_time)
        this.model.end_time = this.$options.filters.twelvehour(this.model.end_time)
      },
      afterView () {
        this.convert12hr()
      },
      afterEdit () {
        this.convert12hr()
      },
      resetModel () {
        this.model = {
          id: null,
          name: null,
          start_time: null,
          end_time: null,
          break_hour: null,
          break_minute: null,
          late_hour: null,
          late_minute: null,
          late_deduction_hour: null,
          late_deduction_minute: null,
          nobreak_sanction: false,
          halfday_sanction: false,
          absent_sanction: false,
          description: null
        }
      }
    }
  }
</script>
