<template>
  <v-tabs dark grow icons class="elevation-12">
    <v-layout rows wrap>
      <v-flex xs12>
      </v-flex>
      <v-tabs-bar slot="activators" class="blue lighten-1">
        <v-tabs-slider class="yellow darken-3"></v-tabs-slider>
        <v-tabs-item v-for="(tab, index) in tabs"  :to="tab.href" :key="index" exact>
          <v-icon v-if="tab.fa" fa v-bind:class="'fa-lg'">{{ tab.icon }}</v-icon>
          <v-icon v-else>{{ tab.icon }}</v-icon>
          {{ tab.name }}
        </v-tabs-item>
      </v-tabs-bar>
    </v-layout>
    <v-layout rows wrap>
      <v-flex xs12>
        <transition id="page-transition" enter-active-class="animated fadeIn">
          <router-view></router-view>
        </transition>
      </v-flex>
    </v-layout>
  </v-tabs>
</template>

<script>
  export default {
    name: 'HR-Config',
    data () {
      return {
        tabs: [
          {
            name: 'Benefits',
            fa: true,
            icon: 'smile-o',
            href: '/hr_module/config/benefit'
          },
          {
            name: 'Contract Types',
            fa: true,
            icon: 'folder-open',
            href: '/hr_module/config/contract_type'
          },
          {
            name: 'Schedules',
            fa: true,
            icon: 'calendar-plus-o',
            href: '/hr_module/config/schedule'
          },
          {
            name: 'Days',
            fa: true,
            icon: 'sun-o',
            href: '/configuration_module/day'
          },
          {
            name: 'Cutoffs',
            fa: true,
            icon: 'calendar-times-o',
            href: '/hr_module/config/cutoff'
          }
        ]
      }
    }
  }
</script>

