<template>
  	<v-layout class="blue darken-2" style="height:100%">
      <div style="display:inline-block; position:absolute; right: 0">
        <v-btn info @click.native="login()">Login</v-btn>
        <v-btn warning @click.native="timerecord()">Time Record</v-btn>
        <v-btn error @click.native="pricelist()">Price List</v-btn>
      </div>
      <v-flex xs10 offset-xs1>
        <br><br><br>
        <v-card class="elevation-24 white">
          <v-card-title>
            <span class="headline">Employee Deductions</span>
          </v-card-title>
          <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search by Last Name"
              single-line
              hide-details
              v-model="search"
              ></v-text-field>
          </v-card-title>
          <v-card-text>
             <v-data-table
              v-bind:headers="headers"
              v-bind:items="items"
              v-bind:pagination.sync="pagination"
              :total-items="totalItems"
              :loading="loading"
              class="elevation-1">
              <template slot="headerCell" scope="props">
                <span>{{ props.header.text }}</span>
              </template>
              <template slot="items" scope="props">
                <td>
                  <v-btn icon class="cyan white--text" v-tooltip:right="{ html: 'View Deductions' }" @click.native="viewAdvance(props.item)"><v-icon fa>usd</v-icon></v-btn>
                </td>
                <td>
                  <img :src="config.PUBLIC + props.item.image.name" width="100" height="100">
                </td>
                <td>
                  {{props.item.first_name}} {{props.item.middle_name | nullable}} {{props.item.last_name}}
                </td>
                <td>
                  {{ props.item.contract.position.name }}
                </td>
                <td>
                  {{ props.item.contact_number }}
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-flex>


      <v-dialog v-model="advancesDialog" persistent :width= "'70%'">
        <v-card class="white">
          <v-toolbar absolute class="black lighten-4">
            <v-toolbar-title class="white--text">
              <v-btn icon>
                <v-icon fa class="fa-lg">calendar-minus-o</v-icon>
              </v-btn>
              View Deductions
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <span class="headline white--text">{{viewModel.last_name + ", " + viewModel.first_name}} {{viewModel.middle_name | nullable}} <span class="subheading grey--text">[

              <span v-if="viewModel.contract">{{viewModel.contract.position.name}}</span>
              <span v-else>No Contract</span>

            ]</span></span> 
            <v-card-actions>
              <v-btn class="white--text" primary dark icon @click.native="advancesDialog = false"><v-icon>close</v-icon></v-btn>
            </v-card-actions>
          </v-toolbar>
          <v-card-title>
            <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Deduction</v-btn>
            <v-spacer></v-spacer>
          </v-card-title>
        </v-card>
        <v-data-table
          v-bind:headers="aHeaders"
          v-bind:items="advances"
          class="elevation-1 white"
        >
          <template slot="headerCell" scope="props">
            <span>{{ props.header.text }}</span>
          </template>
          <template slot="items" scope="props">
            <td>
              <v-btn icon class="cyan white--text" v-tooltip:right="{ html: 'View' }" @click.native="add(props.item)"><v-icon fa>search</v-icon></v-btn>
            </td>
            <td>{{props.item.total | pesos}}</td>
            <td>{{props.item.created_at | datetime}}</td>
          </template>
        </v-data-table>
      </v-dialog>

      <v-dialog v-model="dialog" persistent :width="'50%'">
        <v-card class="white">
          <v-card-title>
            <span class="headline">Deduction Form</span>
          </v-card-title>
          <v-card-text>
            <v-layout row-sm child-flex-sm>
              <v-flex offset-xs3 xs1>
                <span class="subheading"><b>Employee:</b></span>
              </v-flex>
              <v-flex offset-xs2>
               <span class="subheading">{{viewModel.last_name + ", " + viewModel.first_name}} {{viewModel.middle_name | nullable}}</span>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-text>
            <v-layout row-sm child-flex-sm>
              <v-flex offset-xs3 xs3>
                <span class="subheading"><b>Deduction Date:</b></span>
              </v-flex>
              <v-flex>
               <span class="subheading" v-if="!model.pay_date">{{today | datelong}}</span>
               <span class="subheading" v-else>{{model.pay_date | datelong}}</span>
              </v-flex>
            </v-layout >

             <v-layout v-if="false" row-sm child-flex-sm>
              <v-flex offset-xs3 xs3>
                <span class="subheading"><b>Total:</b></span>
              </v-flex>
              <v-flex>
               <span class="subheading" v-if="mode == 'View'">{{model.total}}</span>
              </v-flex>
            </v-layout>

            <v-slide-y-transition>
            <v-container>
              <v-btn v-if="mode == 'Add'"small flat class="pull-right" @click.native="addCash()"><v-icon> add </v-icon> Add Deduction Item</v-btn>
              <v-subheader>Deduction Items</v-subheader>
              <br>
              <v-layout row-sm child-flex-sm  v-for="(aCash, index) in advanceCash" :key="index">
                <v-flex offset-xs1 xs4>
                  <v-text-field 
                        label="Description"
                        v-model.trim="aCash.description"
                        name="description"
                        :readonly = "mode != 'Add'"
                        @input="$v.advanceCash.$each[index].description.$touch()"
                        :error="$v.advanceCash.$each[index].description.$error"
                        :error-messages = "validations($v.advanceCash.$each[index].description)"
                        >
                  </v-text-field>
                </v-flex>
                <v-flex offset-xs1 xs4>
                  <v-text-field 
                        label="Amount/Price"
                        v-model.trim="aCash.cash"
                        :readonly = "mode != 'Add'"
                        name="cash"
                        type="number"
                        @input="$v.advanceCash.$each[index].cash.$touch()"
                        :error-messages = "validations($v.advanceCash.$each[index].cash)"
                        >
                  </v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-btn v-if="mode == 'Add'" :disabled = "advanceCash.length == 1" fab small error @click.native="removeCash(index)"><v-icon class="white--text"> delete </v-icon></v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-slide-y-transition>


          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
            <v-btn v-if="mode == 'Add'"primary :loading="saveDisable" :disabled="saveDisable" @click.native="saveAdvance()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

   </v-layout>   
</template>

<script>
import BasicMixins from '../mixins/basicMixins'
import Pagination from '../mixins/paginations'
import HandlingMessage from '../components/utilities/handling-message'
import {required} from 'vuelidate/lib/validators'
import AlertMe from '../components/utilities/alert_me/AlertMe'
import moment from 'moment'
import _ from 'lodash'
import config from '../store/config'
export default {
  mixins: [
    BasicMixins,
    Pagination
  ],
  components: {
    AlertMe
  },
  data () {
    return {
      service: 'hr/employees/',
      searchBy: 'last_name',
      params: {
        include: ['timerecords']
      },
      today: moment(),
      advancesDialog: false,
      config: config,
      items: [],
      dates: [],
      mode: 'Add',
      model: {
        employee_id: null,
        type: 'cash',
        effect_date: '-',
        pay_date: null,
        employee_advanced_details: []
      },
      cashClass: {
        id: null,
        employee_id: null,
        description: null,
        cash: null
      },
      advanceCash: [
        {
          id: null,
          employee_id: null,
          cash: null,
          description: null
        }
      ],
      viewModel: {
        first_name: null,
        middle_name: null,
        last_name: null,
        contract: {
          position: {
            name: null
          }
        }
      },
      advances: [],
      headers: [
        {
          text: '',
          align: 'left',
          sortable: false
        },
        {
          text: 'Image',
          align: 'left',
          sortable: false
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'employees.last_name'
        },
        {
          text: 'Position',
          align: 'left',
          sortable: false
        },
        {
          text: 'Contact Number',
          align: 'left',
          sortable: true,
          value: 'employees.contact_number'
        }
      ],
      aHeaders: [
        {
          text: '',
          align: 'left',
          sortable: false
        },
        {
          text: 'Total',
          align: 'left',
          sortable: false
        },
        {
          text: 'Date Filed',
          align: 'left',
          sortable: false
        }
      ]
    }
  },
  created () {
    this.getAll()
  },
  methods: {
    beforeGetAll () {
      this.dates[1] = moment().subtract(1, 'days').format('Y-MM-DD')
      this.dates[2] = moment().format('Y-MM-DD')
    },
    afterGetAll () {
      this.loading = true
      this.items = _.filter(this.items, (i) => {
        return i.timerecords.length > 0
      })
      this.loading = false
    },
    viewAdvance (item) {
      this.resetModel()
      setTimeout(function () {
        this.advancesDialog = true
        this.viewModel = item
        this.getAdvances()
      }.bind(this), 500)
    },
    add (item = null) {
      this.mode = 'Add'
      this.resetAdvance()
      this.dialog = true
      this.saveDisable = false
      if (item) {
        this.mode = 'View'
        this.$store.dispatch('hr/employee_advanceds/getBy', {key: 'id', value: item.id, params: [{voidGet: true}, {with: ['cash']}, {first: []}]}).then((res) => {
          this.model = res.data.data
          if (this.model.cash.length > 0) {
            this.advanceCash = this.model.cash
          }
          this.dialog = true
        })
      }
    },
    addCash () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.advanceCash.push(_.cloneDeep(this.cashClass))
    },
    removeCash (index) {
      this.$v.advanceCash.$each[index].$reset()
      this.advanceCash.splice(index, 1)
    },
    saveAdvance () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.saveDisable = true
      this.model.employee_id = this.viewModel.id
      this.model.pay_date = moment().format('Y-MM-DD')
      this.model.employee_advanced_details = []
      _.forEach(this.advanceCash, function (i) {
        this.model.employee_advanced_details.push(i)
      }.bind(this))
      this.$store.dispatch('hr/employee_advanceds/post', this.model).then((res) => {
        this.$events.fire('alert-me', {type: 'success', message: HandlingMessage.saveSuccess})
        this.dialog = false
        this.getAdvances()
      }, () => {
        console.log(this.model)
        this.$events.fire('alert-me', {type: 'error', message: HandlingMessage.saveError})
      })
    },
    getAdvances () {
      this.$store.dispatch('hr/employee_advanceds/getBy', {key: 'employee_id', value: this.viewModel.id, params: [{where: ['effect_date', '-'], whereIn: ['pay_date', this.dates]}, {orderBy: ['created_at', 'desc']}]}).then((res) => {
        this.advances = res.data.data
      })
    },
    login () {
      window.location.href = '/login'
    },
    timerecord () {
      window.location.href = '/time_record'
    },
    pricelist () {
      window.location.href = '/pricelist'
    },
    resetAdvance () {
      this.$v.$reset()
      this.advanceCash = [
        {
          id: null,
          employee_id: null,
          cash: null,
          description: null
        }
      ]
    },
    resetModel () {
      this.advances = []
      this.advancesDialog = false
      this.viewModel = {
        first_name: null,
        middle_name: null,
        last_name: null,
        contract: {
          position: {
            name: null
          }
        }
      }
      this.model = {
        employee_id: null,
        type: 'Cash',
        effect_date: '-',
        pay_date: null,
        employee_advanced_details: []
      }
    }
  },
  validations: {
    advanceCash: {
      $each: {
        description: {
          required
        },
        cash: {
          required
        }
      }
    }
  }
}
</script>
