<template>
  <div class="hello">
    <span class="headline">SATUITO Business Management System</span>


    <h4>Welcome, {{ this.auth.first_name + ' ' + this.auth.last_name }}</h4>
  </div>
</template>

<script>
import BasicMixins from '../mixins/basicMixins'

export default {
  mixins: [
    BasicMixins
  ],
  name: 'hello',
  data () {
    return {
      auth: {
        first_name: '',
        last_name: ''
      },
      msg: 'Enterprise Resource Planning'
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
