<template>
    <v-layout class="blue lighten-1" style="height:100%">
      <v-btn warning @click.native="timeRecord()" style="position:absolute; right:0; margin-right:280px;">Time Record</v-btn>
      <v-btn error @click.native="pricelist()" style="position:absolute; right:0;margin-right:150px;">Price List</v-btn>
      <v-btn primary @click.native="advance()" style="position:absolute; right:0;">Deductions</v-btn>
      <v-flex xs4 offset-xs4>
        <v-card-text style="height:50px; position: relative; z-index:9999;">
            <v-btn fab dark large class="light-blue darken-3" style="display: block; margin: 0 auto;">
              <v-icon fa class="fa-lg">user</v-icon>
            </v-btn>
        </v-card-text>
        <v-card class="elevation-24 white">
          <v-card-media
            class="black--text"
            height="100px"
          >
            <div style="text-align:center; margin-top:50px;">
              <h5>Satuito BMS: Login</h5>
            </div>
          </v-card-media>
          <v-card-title>
            <v-container fluid>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="input-10-1"
                    label="Username"
                    v-model="model.username"
                    :append-icon="'account_box'"
                    :type="'text'"
                    @input="$v.model.username.$touch()"
                    :error="$v.model.username.$error"
                    :error-messages = "validations($v.model.username)"
                    required
                    @keyup.enter.native = "login"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12>
                  <v-text-field
                    name="input-10-1"
                    label="Password"
                    v-model="model.password"
                    :append-icon="p_visibility ? 'visibility_off' : 'visibility'"
                    :append-icon-cb="() => (p_visibility = !p_visibility)"
                    :type="p_visibility ? 'password' : 'text'"
                    @input="$v.model.password.$touch()"
                    :error="$v.model.password.$error"
                    :error-messages = "validations($v.model.password)"
                    required
                    @keyup.enter.native = "login"
                  ></v-text-field>
                  <!-- " -->
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat class="light-blue--text" :loading="loading" @click.native = "login">
              &nbsp; Login
            </v-btn>

          </v-card-actions>
        </v-card>
      </v-flex>

      <alert-me></alert-me>
    </v-layout>
</template>

<script>
import AlertMe from './utilities/alert_me/AlertMe'
import BasicMixins from '../mixins/basicMixins'
import { required } from 'vuelidate/lib/validators'
import Vue from 'vue'
import axios from 'axios'

export default {
  mixins: [
    BasicMixins
  ],
  name: 'Login',
  components: {
    AlertMe
  },
  data () {
    return {
      auth: true,
      loading: false,
      p_visibility: true,
      model: {
        username: '',
        password: ''
      }
    }
  },
  validations: {
    model: {
      username: {
        required
      },
      password: {
        required
      }
    }
  },
  beforeCreate () {
    Vue.nextTick(() => {
      if (window.sessionStorage.getItem('api_token')) {
        this.$router.push('/')
      }
    })
  },
  methods: {
    pricelist () {
      window.location.href = '/pricelist'
    },
    timeRecord () {
      window.location.href = '/time_record'
    },
    advance () {
      window.location.href = '/advance'
    },
    login () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.loading = true
      this.$store.dispatch('accounts/accounts/login', this.model).then((res) => {
        window.sessionStorage.setItem('api_token', res.data.data['api_token'])
        window.sessionStorage.setItem('auth_id', res.data.data['id'])
        window.sessionStorage.setItem('status', res.data.data['status'])
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + window.sessionStorage.getItem('api_token')
        Vue.nextTick(() => {
          if (window.sessionStorage.getItem('api_token')) {
            this.$store.dispatch('business_logics/commonsInit').then((res) => {
              const based = 'commons/'
              this.$store.commit(based + 'affiliation_types/init', res.data.affiliationTypes)
              this.$store.commit(based + 'affiliations/init', res.data.affiliations)
              this.$store.commit(based + 'cities/init', res.data.cities)
              this.$store.commit(based + 'companies/init', res.data.companies)
              this.$store.commit(based + 'countries/init', res.data.countries)
              this.$store.commit(based + 'days/init', res.data.days)
              this.$store.commit(based + 'government_ids/init', res.data.governmentIds)
              this.$store.commit(based + 'languages/init', res.data.languages)
              this.$store.commit(based + 'packings/init', res.data.packings)
              this.$store.commit(based + 'positions/init', res.data.positions)
              this.$store.commit(based + 'provinces/init', res.data.provinces)
              this.$store.commit(based + 'religions/init', res.data.religions)
              this.$store.commit(based + 'units/init', res.data.units)
              this.$store.commit('inventories/item_categories/init', res.data.itemCategories)
              this.$store.commit('hr/contract_types/init', res.data.contractTypes)
              this.$store.commit('hr/benefits/init', res.data.benefits)
              this.$store.commit('accounts/accounts/init', res.data.accounts)
              this.$store.commit('accounts/accounts/auth', res.data.auth)
              this.$events.fire('alert-me', {type: 'success', message: 'Login success!'})
              setTimeout(location.reload(), 50000)
            })
          }
        })
      }, () => {
        this.loading = false
        this.$events.fire('alert-me', {type: 'error', message: 'These credentials do not match our records.'})
      })
    }
  }
}
</script>
