<template >
  <v-app light>
    <v-navigation-drawer
      persistent
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      v-show="show"
    >
      <v-list dense>
        <v-list-group v-for="item in items" :value="item.active" v-bind:key="item.title">
          <v-list-tile slot="item" :to="item.href" exact>
            <v-list-tile-action>
              <v-icon v-if="item.type !== 'material'" fa v-bind:class="['fa-lg']" >{{ item.action }}</v-icon>
              <v-icon v-else>{{ item.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action v-if="item.items">
              <v-icon>keyboard_arrow_down</v-icon>
            </v-list-tile-action>
          </v-list-tile>

          <v-list-tile v-for="subItem in item.items" v-bind:key="subItem.title" :to="subItem.href" exact>
            <v-list-tile-action>
              <v-icon v-if="subItem.type !== 'material'" fa v-bind:class="['fa-lg','blue-grey--text','text--darken-2']" >{{ subItem.action }}</v-icon>
              <v-icon v-else v-bind:class="['blue-grey--text','text--darken-2']" >{{ subItem.action }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar fixed>
      <v-toolbar-side-icon v-show="show" @click.native.stop="drawer = !drawer" light></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      
      <!--
        NOTIFICATIONS
      -->
      <v-btn icon @click.native="showNotif('transfer')" v-tooltip:left="{ html: 'Today\'s Transfer' }"
        v-badge:0.right.overlap
        v-badge="{ value: notifTransfer.length, visible: notifTransfer.length > 0}"
        class="grey--text text--darken-1 red--after"
      >
        <v-icon fa class="fa-lg">exchange</v-icon>
      </v-btn>
      <v-slide-y-transition>
        <v-card v-show="notification.transfer" style="position:fixed; right:0;margin-top:180px;margin-right:5%;">
          <v-card-text style="width:500px; height:300px; overflow-x:auto;">
             <v-list subheader dense v-if="notifTransfer.length > 0">
              <v-subheader>Today's Transfers</v-subheader>
              <v-list-tile v-for="(item, index) in notifTransfer" :key="index">
                {{item.sender.name}} to {{item.receiver.name}} -
                <v-spacer></v-spacer>
                <b>
                 {{item.inventory.item.name}} ({{item.inventory.item.unit_value}}{{item.inventory.item.unit.abbreviation}}) {{item.inventory.item.unit_price | pesos}} x{{item.quantity}}                  
                </b>
                <v-spacer></v-spacer>
                <small>{{item.created_at | diffForHumans}}</small>
              </v-list-tile>
            </v-list>
            <span v-else>
              No transfer made for today
            </span>
          </v-card-text>
        </v-card>
      </v-slide-y-transition>



      <v-btn icon @click.native="showNotif('low')" v-tooltip:left="{ html: 'Low Inventory' }"
        v-badge:0.right.overlap
        v-badge="{ value: notifLow.length, visible: notifLow.length > 0}"
        class="grey--text text--darken-1 red--after"
      >
        <v-icon fa class="fa-lg">exclamation-circle</v-icon>
      </v-btn>
      <v-slide-y-transition>
        <v-card v-show="notification.low" style="position:fixed; right:0;margin-top:180px;margin-right:5%;">
          <v-card-text style="width:300px; height:300px; overflow-x:auto;">
             <v-list subheader dense v-if="notifLow.length > 0">
              <v-subheader>Low on stocks</v-subheader>
              <v-list-tile v-for="(low, index) in notifLow" :key="index">
                <b>{{low.item.name}} x {{low.quantity}}</b>
                <v-spacer></v-spacer>
                {{low.affiliation.name}}
              </v-list-tile>
            </v-list>
            <span v-else>
              no low on stock
            </span>
          </v-card-text>
        </v-card>
      </v-slide-y-transition>


      <v-btn icon @click.native="showNotif('fresh')" v-tooltip:left="{ html: 'Fresh Stocks' }"
        v-badge:0.right.overlap
        v-badge="{ value: notifFresh.length, visible: notifFresh.length > 0}"
        class="grey--text text--darken-1 red--after"
      >
        <v-icon fa class="fa-lg">cubes</v-icon>
      </v-btn>
      <v-slide-y-transition>
        <v-card v-show="notification.fresh" style="position:fixed; right:0;margin-top:180px;margin-right:5%;">
          <v-card-text style="width:500px; height:300px; overflow-x:auto;">
             <v-list subheader dense v-if="notifFresh.length > 0">
              <v-subheader>Newly added stocks</v-subheader>
              <v-list-tile v-for="(item, index) in notifFresh" :key="index">
                  <b>{{item.company.name}}: {{item.name}}</b> ({{item.unit_value}} {{item.unit.abbreviation}}) - {{item.unit_price | pesos}} 
                  <v-spacer></v-spacer>

                  <small>{{item.created_at | diffForHumans}}</small>
              </v-list-tile>
            </v-list>
            <span v-else>
              no fresh stocks for today
            </span>
          </v-card-text>
        </v-card>
      </v-slide-y-transition>

      <v-btn v-show="show"
        icon
        light
        @click.native.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-container>
        <v-slide-y-transition mode="out-in">
          <v-layout column align-center>
            <transition id="page-transition" enter-active-class="animated fadeIn">
              <router-view></router-view>
            </transition>
          </v-layout>
        </v-slide-y-transition>
      </v-container>
    </main>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
    >
      <v-list>
<!--         <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
 -->        <v-list-tile>
          <v-list-tile-action>
            <v-icon light fa class="fa-lg">user</v-icon>
          </v-list-tile-action>
          <v-list-tile-title @click="$router.push('/profile')">{{ auth.first_name}} {{auth.last_name}}</v-list-tile-title>
        </v-list-tile>
        <v-list-tile style="height:400px;">
          <v-list-tile-title></v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click.native="logout()">
          <v-list-tile-action>
            <v-icon light fa class="fa-lg">sign-out</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer :fixed="fixed" :style="'width:300px;'">
      <span class="muted well well-sem">A&T Freelancer &copy; 2017</span>
    </v-footer>
    <alert-me></alert-me>
  </v-app>
</template>

<script>
  import AlertMe from './utilities/alert_me/AlertMe'
  import BasicMixins from '../mixins/basicMixins'
  import axios from 'axios'
  import moment from 'moment'

  export default {
    name: 'mainApp',
    mixins: [
      BasicMixins
    ],
    components: {
      AlertMe
    },
    data () {
      return {
        notif_low: false,
        notification: {
          low: false,
          transfer: false,
          fresh: false
        },
        notifLow: [],
        notifFresh: [],
        notifTransfer: [],
        auth: {
          first_name: '',
          last_name: ''
        },
        clipped: true,
        drawer: true,
        fixed: true,
        show: true,
        items: [
          {
            action: 'archive',
            title: 'Inventory',
            // href: '/inventory_module',
            href: '#',
            items: [
              { title: 'Dashboards', href: '/inventory_module/dashboard', action: 'line-chart' },
              { title: 'Management', href: '/inventory_module/management', action: 'hand-paper-o' },
              { title: 'Transfer', href: '/inventory_module/transfer', action: 'exchange' },
              { title: 'Configuration', href: '/inventory_module/config', action: 'cog' }
            ]
          },
          {
            action: 'male',
            title: 'Human Resources',
            // href: '/hr_module',
            href: '#',
            items: [
              { title: 'Employees', href: '/hr_module/employees', action: 'users' },
              { title: 'Configuration', href: '/hr_module/config', action: 'cog' }
            ]
          },
          {
            action: 'cogs',
            title: 'Configurations',
            // href: '/configuration_module',
            href: '#',
            items: [
              { title: 'Stores', href: '/configuration_module/affiliation', action: 'store', type: 'material' },
              { title: 'Store Types', href: '/configuration_module/affiliation_type', action: 'store', type: 'material' },
              { title: 'Cities', href: '/configuration_module/city', action: 'location_city', type: 'material' },
              { title: 'Companies', href: '/configuration_module/company', action: 'building' },
              { title: 'Countries', href: '/configuration_module/country', action: 'globe' },
              // { title: 'Days', href: '/configuration_module/day', action: 'sun-o' },
              { title: 'Government IDs', href: '/configuration_module/government_id', action: 'contact_mail', type: 'material' },
              { title: 'Languages', href: '/configuration_module/language', action: 'language' },
              { title: 'Packings', href: '/configuration_module/packing', action: 'card_giftcard', type: 'material' },
              { title: 'Positions', href: '/configuration_module/position', action: 'people', type: 'material' },
              { title: 'Provinces', href: '/configuration_module/province', action: 'satellite', type: 'material' },
              { title: 'Religions', href: '/configuration_module/religion', action: 'highlight', type: 'material' },
              { title: 'Units', href: '/configuration_module/unit', action: 'opacity', type: 'material' }
            ]
          },
          {
            action: 'streetview',
            title: 'Accounts Management',
            // href: '/account_module',
            href: '#',
            type: 'material',
            items: [
              { title: 'Accounts', href: '/account_module/account', action: 'person_pin', type: 'material' },
              { title: 'Account Roles', href: '/account_module/roles', action: 'face', type: 'material' }
            ]
          },
          {
            action: 'touch_app',
            title: 'Time Record',
            href: '/time_record',
            type: 'material'
          }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Satuito Business Management System'
      }
    },
    watch: {
      '$route': {
        handler () {
          if (!window.sessionStorage.getItem('api_token')) {
            location.reload()
          } else {
            this.notification = {
              low: false,
              transfer: false,
              fresh: false
            }
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + window.sessionStorage.getItem('api_token')
          }
        }
      }
    },
    beforeCreate () {
      if (window.sessionStorage.getItem('api_token')) {
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + window.sessionStorage.getItem('api_token')
      }
    },
    created () {
      this.getNotifications()
      setInterval(() => {
        this.getNotifications()
      }, 60000)
      this.getDailyReport()
      setInterval(() => {
        this.getDailyReport()
      }, 3600000)
    },
    methods: {
      getDailyReport () {
        this.$store.dispatch('hr/employee_attendances/dailyreport').then((res) => {
        })
      },
      getNotifications () {
        this.$store.dispatch('inventories/inventories/getBy', {key: 'null', value: 'null', params: [{where: ['quantity', '<=', '10']}, {with: ['affiliation', 'item']}, {orderBy: ['quantity']}]}).then((res) => {
          this.notifLow = res.data.data
        })
        this.$store.dispatch('inventories/items/getBy', {key: 'null', value: 'null', params: [{whereDate: ['created_at', moment().format('Y-MM-DD')]}, {with: [['company', 'itemCategory', 'packing', 'unit']]}, {orderBy: ['created_at']}]}).then((res) => {
          this.notifFresh = res.data.data
        })
        this.$store.dispatch('inventories/item_transfers/getBy', {key: 'null', value: 'null', params: [{whereDate: ['created_at', moment().format('Y-MM-DD')]}, {with: [['sender', 'receiver', 'inventory.item.unit']]}, {orderBy: ['created_at']}]}).then((res) => {
          this.notifTransfer = res.data.data
        })
      },
      showNotif (value) {
        if (value === 'low') {
          this.notification.low = !this.notification.low
          this.notification.transfer = false
          this.notification.fresh = false
        } else if (value === 'transfer') {
          this.notification.transfer = !this.notification.transfer
          this.notification.low = false
          this.notification.fresh = false
        } else if (value === 'fresh') {
          this.notification.fresh = !this.notification.fresh
          this.notification.transfer = false
          this.notification.low = false
        }
      },
      logout () {
        window.sessionStorage.setItem('api_token', '')
        setTimeout(location.reload(), 10)
      }
    }
  }
</script>
