<template>
  <v-layout rows>
    <v-flex :style="'width:500px;'">
      <h4>Profile</h4>
      <v-card>
        <v-list two-line>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">face</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ auth.first_name }}  {{auth.middle_name | nullable}}  {{auth.last_name}}</v-list-tile-title>
              <v-list-tile-sub-title>Name</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">accessibility</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{auth.gender}}</v-list-tile-title>
              <v-list-tile-sub-title>Gender</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">today</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{auth.birthdate}}</v-list-tile-title>
              <v-list-tile-sub-title>Birth</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        <!-- <v-divider inset></v-divider> -->
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{auth.address}}</v-list-tile-title>
              <v-list-tile-sub-title>Address</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{auth.email}}</v-list-tile-title>
              <v-list-tile-sub-title>Email</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">contact_phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{auth.contact_number}}</v-list-tile-title>
              <v-list-tile-sub-title>Contact</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
      <v-expansion-panel popout>
          <v-expansion-panel-content>
            <div slot="header">Account (Change Username & Password)</div>
            <v-card>
              
              <v-card-title>
                <v-container fluid>
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        name="input-5-1"
                        label="Enter your Old Password"
                        v-model="model.oldpassword"
                        :prepend-icon="old_visibility ? 'visibility_off' : 'visibility'"
                        :prepend-icon-cb="() => (old_visibility = !old_visibility)"
                        :type="old_visibility ? 'password' : 'text'"
                        @input="$v.model.oldpassword.$touch()"
                        :error="$v.model.oldpassword.$error"
                        :error-messages = "validations($v.model.oldpassword)"
                        required
                        @keyup.enter.native = "change"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        name="input-5-1"
                        label="New Username"
                        v-model="model.username"
                        :prepend-icon="'account_box'"
                        :type="'text'"
                        @input="$v.model.username.$touch()"
                        :error="$v.model.username.$error"
                        :error-messages = "validations($v.model.username)"
                        required                                              
                        @keyup.enter.native = "change"

                      ></v-text-field>
                    </v-flex>
                  </v-layout> 
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        name="input-5-1"
                        label="New Password"
                        v-model="model.password"
                        :prepend-icon="p_visibility ? 'visibility_off' : 'visibility'"
                        :prepend-icon-cb="() => (p_visibility = !p_visibility)"
                        :type="p_visibility ? 'password' : 'text'"
                        @input="$v.model.password.$touch()"
                        :error="$v.model.password.$error"
                        :error-messages = "validations($v.model.password)"
                        required
                        @keyup.enter.native = "change"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-title>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat class="light-blue--text" @click.native = "change">
                  <v-icon  v-if = "!loading" fa class="fa-lg">check</v-icon>
                  <v-progress-circular v-else indeterminate v-bind:size="25" class="primary--text"></v-progress-circular>
                  &nbsp; Submit
                </v-btn>

              </v-card-actions>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import BasicMixins from '../mixins/basicMixins'
import { required } from 'vuelidate/lib/validators'

export default {
  mixins: [
    BasicMixins
  ],
  data () {
    return {
      service: 'accounts/accounts/',
      p_visibility: true,
      old_visibility: true,
      loading: false,
      model: {
        oldpassword: '',
        username: '',
        password: ''
      }
    }
  },
  validations: {
    model: {
      oldpassword: {
        required
      },
      username: {
        required
      },
      password: {
        required
      }
    }
  },
  methods: {
    change () {
      this.$v.$touch()
      if (this.$v.$error) return
      this.loading = true
      this.model.id = this.auth.id
      this.$store.dispatch(this.service + 'changeaccount', this.model).then((res) => {
        var errmsg = 'Change username/password success!'
        var errtype = 'success'
        if (res.data.error) {
          errmsg = res.data.error
          errtype = 'error'
          this.model.oldpassword = ''
        }
        this.loading = false
        this.$events.fire('alert-me', {type: errtype, message: errmsg})
      }, () => {
        this.loading = false
        this.$events.fire('alert-me', {type: 'error', message: 'System error'})
      })
      this.model = {
        oldpassword: '',
        username: '',
        password: ''
      }
    }
  }
}
</script>
