<template>
 <v-container fluid grid-list-md class="elevation-12" :style="'height:200%'">
  <v-layout row v-if="!auth">
    <v-flex class="headline" lg12 offset-xs3>    
    SATUITO Business Management System - Time Record
    </v-flex>
    <br>
    <v-btn info @click.native="login()">Login</v-btn>
    <v-btn primary @click.native="advance()">Deductions</v-btn>
    <v-btn error @click.native="pricelist()">Price List</v-btn>
  </v-layout>
  <v-layout row lg-12>
    <v-flex xs6>
       <v-flex xs11>
         <v-alert error dismissible transition="scale-transition" v-model="employeeNotExists">
          <span class="headline">Employee not found!</span>
         </v-alert>

         <v-alert error dismissible transition="scale-transition" v-model="recordEarly">
          <span class="headline">Cannot record time if lastest time record is less than 30 minutes ago.</span>
         </v-alert>

         <v-alert error dismissible transition="scale-transition" v-model="recordFull">
          <span class="headline">Cannot record time for date {{date}}. Time record is already complete</span>
         </v-alert>

         <v-alert success dismissible transition="scale-transition" v-model="showTime">
          <span class="headline">Time Recorded {{time}}</span>
         </v-alert>


         <v-alert error dismissible transition="scale-transition" v-model="fingerTimeOut">
          <span class="headline">Failed to Recognize Fingerprint</span>
         </v-alert>

         <v-alert error dismissible transition="scale-transition" v-model="noFingerprint">
          <span class="headline">No registered fingerprint found. Contact HR</span>
         </v-alert>

         <v-alert error dismissible transition="scale-transition" v-model="noContract">
          <span class="headline">No existing contract for today.</span>
         </v-alert>

          <v-card>
            <v-btn class="pull-right" @click.native= "selected_letter = null, employee = null, showImage = null, clear(), clearUi(), getRecords()" icon >
              <v-icon>refresh</v-icon>
            </v-btn>



            <v-card-text>
                <span v-if="showImage">
                  <v-slide-y-transition>
                    <img v-if="image" :src="config.PUBLIC + image" :style="'margin-left:auto; margin-right:auto; display:block'" height="60%" width="60%"/>
                    <img :style="'margin-left:auto; margin-right:auto; display:block'" v-else src="/static/person.png" height="60%" width="60%">
                  </v-slide-y-transition>
                  <!-- <span class="headline" :style="'display:table; margin:0 auto;'" v-if = "employee.first_name">{{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}</span> -->
                </span>
                <span v-else>
                  <span class="subheading"><v-icon>access_time</v-icon> Select Employee
                  </span>

                </span>
              <v-flex>
                <v-btn v-show="!selected_letter" v-for = "(letter, key) in employee_letters" 
                  @click.native= "selected_letter = letter"
                  small
                  >
                  {{letter}}
                </v-btn>
                <v-btn v-show="selected_letter && !employee" v-for = "(emp, key) in selected_employees"
                @click.native= "employee = emp"
                small
                >{{emp.last_name}}, {{emp.first_name}} {{emp.middle_name | nullable}}</v-btn>
                <br>
                <p v-if="employee">                  
                  Time in for Employee: <span class="headline">{{employee.last_name}}, {{employee.first_name}} {{employee.middle_name | nullable}}</span>
                </p>

              </v-flex>
            </v-card-text>



            <v-card-actions>
              <span v-if="last_name" class="headline">Enter your fingerprint...</span>
              <v-spacer></v-spacer>
              <v-btn primary :disabled = "!selected_letter || !employee" @click.native="record()" :loading='last_name'> <v-icon>access_time</v-icon> Record Time</v-btn>
              <a :href="'finspot:FingerspotVer;' + finLink" ref="fingerLink"></a>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-flex>
    <v-flex xs6>
      <span class="headline green--text text--darken-2 green lighten-4">
        <v-icon>event</v-icon> {{date}}
      </span>
      <br>
      <span :style="'margin-top:-10px;font-size:80px;'"class="green--text text--darken-2 green lighten-4">
        {{clock}}
      </span>
      <v-flex xs11>
        <v-card-text v-if="attendance" :style="'font-size:20px;'">
          <v-layout justify-center>
            <v-flex xs6 dark>
              <b>Time Records</b>
              <ul class="list-style-square">
                <li>hours: {{attendance.hours | hourtocombo}} / <span v-if="!attendance.schedule">8hr</span><span v-else>{{attendance.total_hours | hourtocombo}}</span></li>
                <li>Time in: {{attendance.attendance.time_in | twelvehour}}</li>
                <li>Time out: {{attendance.attendance.time_out | twelvehour}}</li>
                <li>Time in: {{attendance.attendance.time_in_2 | twelvehour}}</li>
                <li>Time out: {{attendance.attendance.time_out_2 | twelvehour}}</li>
              </ul>
               Schedule- <b v-if="attendance.schedule">{{attendance.schedule.name}}</b>
               <b v-else>No Schedule</b>
              <ul class="list-style-square">
                <li v-show="attendance.schedule">{{attendance.schedule.start_time |twelvehour}} - {{attendance.schedule.end_time |twelvehour}}</li>
                <li>break time: {{attendance.schedule.break_hour}}hr {{attendance.schedule.break_minute}}min</li>
              </ul>
            </v-flex>
            <v-flex xs6 dark>
              <b>Tardy</b>
              <ul class="list-style-square">
                <li>Late: {{attendance.late | hourtocombo}}</li>
                <li>Br.Late: {{attendance.mid_late | hourtocombo}}</li>
                <li>Undertime: {{attendance.end_late | hourtocombo}}</li>

                <li>Late Meter: {{attendance.late_meter | hourtocombo}}</li>
                <li>Late Deduction: {{attendance.late_deduction | hourtocombo}}</li>
              </ul>
              <p offset-xs1 xs6 v-show="attendance.halfday || attendance.nobreak || attendance.absent">
                <b>Sanctions:</b>
                <span class="subheading red--text text--lighten-3" v-show="attendance.nobreak">No break</span>
                <span class="subheading red--text text--lighten-3" v-show="attendance.halfday">Half day</span>
                <span class="subheading red--text text--lighten-3" v-show="attendance.absent">Absent</span>
              </p>
            </v-flex>
          </v-layout>
        </v-card-text>
         <v-card-title>
          <span class="headline">Record History</span>
          <!-- <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="rSearch"
          ></v-text-field> -->
        </v-card-title>
        <v-data-table
          :headers="rHeaders"
          :items="records"
          :loading = 'rLoading'
          :pagination.sync = 'pagination'
        >
          <template slot="items" scope="props">
            <td>{{props.item.employee.first_name}} {{props.item.employee.middle_name}} {{props.item.employee.last_name}}</td>
            <td>{{props.item.time | twelvehour}}</td>
            <td>{{props.item.type}}</td>
            <td>{{props.item.date | datelong}}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-flex>
  </v-layout>
 </v-container>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import BasicMixins from '../mixins/basicMixins'
import {required} from 'vuelidate/lib/validators'
import config from '../store/config'

export default {
  name: 'TimeRecord',
  mixins: [
    BasicMixins
  ],
  data () {
    return {
      config: config,
      finLink: null,
      fingerTimeOut: false,
      noFingerprint: false,
      fingerSuccess: false,
      first_name: false,
      last_name: false,
      interval: null,
      timeout: null,
      fingerTimer: null,
      clock: null,
      employeeNotExists: null,
      model: {
        first_name: null,
        last_name: null
      },
      employees: [],
      selected_letter: null,
      selected_employees: [],
      employee_letters: [],
      employee: null,
      image: null,
      showImage: false,
      showTime: false,
      recordEarly: false,
      recordFull: false,
      noContract: false,
      time: null,
      records: [],
      rLoading: false,
      pagination: {
        sortBy: 'id',
        descending: true
      },
      temp_attendance: null,
      attendance: null,
      rHeaders: [
        {
          text: 'Employee',
          align: 'left',
          sortable: false
        },
        {
          text: 'Time',
          align: 'left',
          sortable: false,
          value: 'time'
        },
        {
          text: 'Type',
          align: 'left',
          sortable: false,
          value: 'type'
        },
        {
          text: 'Date',
          align: 'left',
          sortable: false,
          value: 'date'
        }
      ]
    }
  },
  mounted () {
    this.date = moment().format('LL')
    setInterval(() => {
      this.clock = moment().format('LTS')
    })
    this.getRecords()
  },
  computed: {
    date: function () {
      return moment().format('LL')
    }
  },
  watch: {
    selected_letter: function () {
      this.selected_employees = _.filter(this.employees, function (i) {
        return this.selected_letter === (i.last_name.slice(0, 1)).toUpperCase()
      }.bind(this))
    }
  },
  methods: {
    login () {
      window.location.href = '/login'
    },
    pricelist () {
      window.location.href = '/pricelist'
    },
    advance () {
      window.location.href = '/advance'
    },
    record () {
      this.clearUi()
      clearTimeout(this.timeout)
      // this.$v.$touch()
      // if (this.$v.$error) return
      this.rLoading = true
      this.employeeNotExists = false
      this.first_name = true
      this.last_name = true
      this.fingerTimeOut = false
      this.noFingerprint = false
      this.timeout = null
      this.$store.dispatch('hr/employees/getBy', {key: 'id', value: this.employee.id}).then((res) => {
        if (res.data.data && res.data.data.length > 0) {
          this.employee = res.data.data[0]
          this.image = this.employee.image.name
          this.showImage = true
          this.time = this.clock
          this.model.time = this.time
          this.model.employee_id = this.employee.id
          if (!this.employee.fingerprint) {
            this.noFingerprint = true
            this.clearDisable()
            this.getRecords()
          } else {
            let str = config.BASE_URL + 'fingercheck?user_id=' + this.employee.id
            this.finLink = btoa(str)
            this.model.date = this.date
            this.$store.dispatch('hr/employee_attendances/record', this.model).then((res) => {
              var resp = res.data.data
              if (resp !== undefined && resp) {
                if (resp.error) {
                  this.recordEarly = true
                  this.clear()
                } else if (resp.errorFull !== undefined) {
                  this.recordFull = true
                  this.clear()
                } else if (resp.noContract !== undefined) {
                  this.noContract = true
                  this.clear()
                } else {
                  this.temp_attendance = resp
                  this.fingerTrigger()
                }
              } else {
                this.temp_attendance = resp
                this.fingerTrigger()
              }
            })
          }
        } else {
          this.employeeNotExists = true
          this.rLoading = false
          this.clear()
        }

        this.timeout = setTimeout(function () {
          this.clearUi()
          this.clear()
          this.clearDisable()
          this.employeeNotExists = false
          this.fingerTimeOut = false
          this.noFingerprint = false
          this.recordFull = false
          this.recordEarly = false
          this.attendance = null
        }.bind(this), 60000)
      })
    },
    fingerTrigger () {
      this.$refs.fingerLink.click()
      this.interval = setInterval(function () {
        this.$store.dispatch('hr/employee_attendances/records').then((res) => {
          let data = res.data.data
          let latest = _.find(data, {employee_id: this.employee.id})
          if (latest) {
            let now = moment()
            let _latest = moment(latest.time, 'HH:mm:ss')
            let _diff = moment(now).diff(_latest, 'minutes')
            let diff = _diff < 0 ? _diff + 1440 : _diff
            if (diff < 1) {
              this.attendance = this.temp_attendance
              this.fingerSuccess = true
              this.showTime = true
              this.clear()
              clearInterval(this.interval)
              clearTimeout(this.fingerTimer)
            }
          }
        })
      }.bind(this), 1000)
      this.fingerTimer = setTimeout(function () {
        clearInterval(this.interval)
        if (!this.fingerSuccess) {
          this.fingerTimeOut = true
          this.clearUi()
          this.clear()
          this.getRecords()
        }
      }.bind(this), 11000)
    },
    getRecords () {
      this.$store.dispatch('hr/employee_attendances/records').then((res) => {
        this.records = res.data.data
        this.rLoading = false
      })
      this.$store.dispatch('hr/employees/getBy', {key: 'null', value: 'null', params: [{orderBy: ['last_name']}]}).then((res) => {
        this.employees = res.data.data
        this.employee_letters = _.uniq(_.map(this.employees, function (i) {
          return (i.last_name.slice(0, 1)).toUpperCase()
        }))
      })
      /* this.$store.dispatch('hr/employees/getBy', {key: 'null', value: 'null', params: [{voidGet: true}, {get: []}, {pluck: ['last_name']}]}).then((res) => {
        this.employee_letters = res.data.data
      }) */
    },
    clearDisable () {
      this.first_name = false
      this.last_name = false
    },
    clearUi () {
      /* this.noContract = false
      this.fingerTimeOut = false */
      this.fingerSuccess = false
      this.showTime = false
      this.showImage = false
      this.recordEarly = false
      this.recordFull = false
      this.noContract = false
      this.noFingerprint = false
      this.image = null
      this.attendance = null
      this.clearDisable()
    },
    resetModel () {
      this.getRecords()
      this.model = {
        first_name: null,
        last_name: null
      }
      this.clearDisable()
    }
  },
  validations: {
    model: {
      first_name: {
        required
      },
      last_name: {
        required
      }
    }
  }
}
</script>
