<template>
  <v-container fluid grid-list-md class="elevation-12 _page">
    <v-layout>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Country</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-layout>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.name }}
        </td>
        <td>
          {{ props.item.abbreviation }}
        </td>
        <td>
          {{ props.item.nationality }}
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="headline">Add Country</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name"
                        v-model.trim="model.name"
                        name="name"
                        :readonly="mode === 'View'"
                        @input="$v.model.name.$touch()"
                        :error="$v.model.name.$error"
                        :error-messages = "validations($v.model.name)"
                        >
          </v-text-field>
          <v-text-field label="Abbreviation"
                        v-model="model.abbreviation"
                        name="abbreviation"
                        :readonly="mode === 'View'"
                        @input="$v.model.abbreviation.$touch()"
                        :error="$v.model.abbreviation.$error"
                        :error-messages = "validations($v.model.abbreviation)"
          >
          </v-text-field>
          <v-text-field label="Nationality"
                        v-model="model.nationality"
                        name="nationality"
                        :readonly="mode === 'View'"
                        @input="$v.model.nationality.$touch()"
                        :error="$v.model.nationality.$error"
                        :error-messages = "validations($v.model.nationality)"

          >
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this unit?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import AlertMe from '../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../mixins/paginations'
  import BasicMixins from '../../../mixins/basicMixins'
  import { required } from 'vuelidate/lib/validators'
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'Unit',
    data () {
      return {
        service: 'commons/countries/',
        model: {
          id: null,
          name: null,
          abbreviation: null,
          nationality: null
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Abbreviation',
            align: 'left',
            sortable: true,
            value: 'abbreviation'
          },
          {
            text: 'Nationality',
            align: 'left',
            sortable: true,
            value: 'nationality'
          }
        ]
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        abbreviation: {
          required
        },
        nationality: {
          required
        }
      }
    },
    methods: {
      resetModel () {
        this.model = {
          id: null,
          name: null,
          abbreviation: null,
          nationality: null
        }
      }
    }
  }
</script>
