<template>
  <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search by Last Name"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1">
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="viewAttendance(props.item)">
                <v-list-tile-title><v-icon> event </v-icon> Manage Attendance</v-list-tile-title>
              </v-list-tile>
              <v-list-tile  @click.native="add(props.item)">
                <v-list-tile-title><v-icon> access_time </v-icon> Encode Attendance</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          <img v-if="props.item.image.name" :src="config.PUBLIC + props.item.image.name" height="100px" width="100px"/>
          <img v-else src="/static/person.png" width="100" height="100">
        </td>
        <td>
          {{ props.item.first_name + ' ' + props.item.middle_name + ' ' + props.item.last_name}} {{ props.item.suffix ? props.item.suffix : '' }}
        </td>
        <td>
          {{props.item.contract.position.name}}
        </td>
        <td>
          {{props.item.contract.hiredate | datelong}}
        </td>
      </template>
    </v-data-table>
    



    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this Attendance?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree(attendanceService, false)">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    
    <v-dialog v-model="dialog" persistent :width="'42%'">
      <v-card>
        <v-card-title>
          <span class="headline">Encode Attendance</span>
        </v-card-title>
        <v-card-text>
          <v-flex v-show='true'>
              <v-menu
                :style = "'margin-left:30%; width:40%;'"
                lazy
                :close-on-content-click="false"
                v-model="date"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-left="40"
                max-width="290px"
                >
                <v-text-field
                  slot="activator"
                  label="Attendance Date"
                  v-model="model.date"
                  @input="$v.model.date.$touch()"
                  :error="$v.model.date.$error"
                  :error-messages = "validations($v.model.date)"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="model.date" scrollable autosave>
                </v-date-picker>
              </v-menu>

              
              <v-dialog
                v-show = 'model.date'
                persistent
                v-model="time_in"
                lazy
              >
                <v-text-field
                  slot="activator"
                  label="Time in"
                  v-model="model.time_in"
                  prepend-icon="access_time"
                  @input="$v.model.time_in.$touch()"
                  :error="$v.model.time_in.$error"
                  :error-messages = "validations($v.model.time_in)"
                  readonly
                ></v-text-field>
                <v-time-picker
                v-model="model.time_in" actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(); model.time_in= ''">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>


              <v-dialog
                v-show = 'model.date'
                persistent
                v-model="time_out"
                lazy
              >
                <v-text-field
                  slot="activator"
                  label="Time out"
                  v-model="model.time_out"
                  prepend-icon="access_time"
                  @input="$v.model.time_out.$touch()"
                  :error="$v.model.time_out.$error"
                  :error-messages = "validations($v.model.time_out)"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="model.time_out" actions >
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(); model.time_out= ''">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>
              

              <v-dialog
                v-show = 'model.date'
                persistent
                v-model="time_in_2"
                lazy
              >
                <v-text-field
                  slot="activator"
                  label="Time in"
                  v-model="model.time_in_2"
                  prepend-icon="access_time"
                  @input="$v.model.time_in_2.$touch()"
                  :error="$v.model.time_in_2.$error"
                  :error-messages = "validations($v.model.time_in_2)"
                  readonly
                ></v-text-field>
                <v-time-picker
                v-model="model.time_in_2" actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(); model.time_in_2= ''">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>


              <v-dialog
                v-show = 'model.date'
                persistent
                v-model="time_out_2"
                lazy
              >
                <v-text-field
                  slot="activator"
                  label="Time out"
                  v-model="model.time_out_2"
                  prepend-icon="access_time"
                  @input="$v.model.time_out_2.$touch()"
                  :error="$v.model.time_out_2.$error"
                  :error-messages = "validations($v.model.time_out_2)"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="model.time_out_2" actions >
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="cancel(); model.time_out_2= ''">Delete</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-dialog>
              
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="model.date = null, dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" v-show="hasAttendance" :loading="saveDisable" :disabled="saveDisable" flat @click.native="del(model)" v-if="mode === 'Add'">Delete</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save(attendanceService, false)" v-if="mode === 'Add'">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attendanceDialog" persistent :width= "'80%'">
      <v-card>
        <v-toolbar dark>
          
          <v-toolbar-title class="white--text">
            <v-btn icon>
              <v-icon>event</v-icon>
            </v-btn>
            View Attendance
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <span class="headline white--text">{{viewModel.last_name + ", " + viewModel.first_name + " " + viewModel.middle_name}} <span class="subheading grey--text">[{{viewModel.contract.position.name}}]</span></span> 
          <v-card-actions>
            <v-btn class="white--text" primary dark icon @click.native="attendanceDialog = false"><v-icon>close</v-icon></v-btn>
          </v-card-actions>
        </v-toolbar>
         
           <v-container fluid>
              <v-layout justify-center>
                <v-dialog
                  persistent
                  v-model="monthPicker"
                  lazy
                  full-width
                >
                  <v-text-field
                    slot="activator"
                    label="Select Monthly Attendance"
                    v-model="attendanceMonth"
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker 
                    no-title
                    v-model="attendanceMonth" scrollable autosave>
                  </v-date-picker>
                </v-dialog>
                <v-btn icon :style="'margin-top:15px;'" @click.native = 'attendanceMonth = null'><v-icon>delete</v-icon></v-btn>
              </v-layout>
              <v-layout v-show="attendanceMonth">
                <v-data-table
                    :headers="viewHeaders"
                    :items="attendanceModel"
                    hide-actions
                    class="elevation-1"
                  >
                  <template slot="items" scope="props">
                    <td :style="'max-width:10px;'"><v-btn class="grey--text text--lighten-1"icon ripple @click.native = 'viewAdd(props.item)'><v-icon>edit</v-icon></v-btn></td>
                    <td>{{props.item.date | longwithday}}</td>
                    <td>{{props.item.time_in | twelvehour}}</td>
                    <td>{{props.item.time_out | twelvehour}}</td>
                    <td>{{props.item.time_in_2 | twelvehour}}</td>
                    <td>{{props.item.time_out_2 | twelvehour}}</td>
                  </template>
                </v-data-table>
              </v-layout>
            </v-container>
          </v-card>
        </v-dialog>

    <alert-me></alert-me>
  </v-card>
</template>

<script>
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import { required, requiredIf } from 'vuelidate/lib/validators'
  import _ from 'lodash'
  import config from '../../../../store/config'
  import moment from 'moment'
  
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    data () {
      return {
        config: config,
        params: {
          filter: {
            condition: [
              {
                command: 'withCount',
                val: 'contract'
              }
            ]
          }
        },
        searchBy: 'employees.last_name',
        service: 'hr/employees/',
        attendanceService: 'hr/employee_attendances/',
        attendanceDialog: false,
        attendanceMonth: null,
        attendanceMo: null,
        attendanceDays: [],
        currEmployeeId: null,
        monthPicker: null,
        attMonthWord: null,
        hasAttendance: false,
        date: false,
        time_in: false,
        time_out: false,
        time_in_2: false,
        time_out_2: false,
        attendanceModel: [],
        viewModel: {
          first_name: '',
          middle_name: '',
          last_name: '',
          contract: {
            position: {
              name: ''
            }
          }
        },
        model: {
          id: null,
          employee_id: null,
          date: null,
          time_in: null,
          time_out: null,
          time_in_2: null,
          time_out_2: null
        },
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Image',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'employees.last_name'
          },
          {
            text: 'Position',
            align: 'left',
            sortable: false
          },
          {
            text: 'Hire Date',
            align: 'left',
            sortable: false
          }
        ],
        viewHeaders: [
          {
            text: '',
            align: 'left',
            sortable: false,
            width: '10%'
          },
          {
            text: 'Date',
            align: 'left',
            sortable: true,
            value: 'date'
          },
          {
            text: 'Time In',
            align: 'left',
            sortable: false
          },
          {
            text: 'Time Out',
            align: 'left',
            sortable: false
          },
          {
            text: 'Time In',
            align: 'left',
            sortable: false
          },
          {
            text: 'Time Out',
            align: 'left',
            sortable: false
          }
        ]
      }
    },
    validations: {
      model: {
        date: {
          required
        },
        time_in: {
          requiredIf: requiredIf(function () {
            return !this.model.time_in && !this.model.time_out && !this.model.time_in_2 && !this.model.time_out_2
          })
        },
        time_out: {
          requiredIf: requiredIf(function () {
            return !this.model.time_in && !this.model.time_out && !this.model.time_in_2 && !this.model.time_out_2
          })
        },
        time_in_2: {
          requiredIf: requiredIf(function () {
            return !this.model.time_in && !this.model.time_out && !this.model.time_in_2 && !this.model.time_out_2
          })
        },
        time_out_2: {
          requiredIf: requiredIf(function () {
            return !this.model.time_in && !this.model.time_out && !this.model.time_in_2 && !this.model.time_out_2
          })
        }
      }
    },
    methods: {
      afterGetAll () {
        this.items = _.filter(this.items, function (i) {
          return i.contract_count > 0
        })
        this.totalItems = this.items.length
      },
      resetModel () {
        this.model = {
          id: null,
          employee_id: null,
          date: null,
          time_in: null,
          time_out: null,
          time_in_2: null,
          time_out_2: null
        }
      },
      beforeAdd (item) {
        this.model.date = null
        this.currEmployeeId = item.id
        this.model.employee_id = item.id
      },
      beforeSave () {
        this.model.employee_id = this.currEmployeeId
      },
      beforeSaveSuccess () {
        this.getAttendance(this.attendanceMo)
        this.saveDisable = false
      },
      beforeDelAgreeSuccess () {
        this.getAttendance(this.attendanceMo)
        this.resetModel()
      },
      viewAttendance (item) {
        this.attendanceMonth = null
        this.currEmployeeId = item.id
        this.$store.dispatch('hr/employees/getBy', {key: 'id', value: item.id}).then((res) => {
          this.viewModel = res.data.data[0]
          this.attendanceDialog = true
        })
      },
      getAttendance (curmonth) {
        this.$store.dispatch('hr/employee_attendances/getBy', {key: 'employee_id', value: this.currEmployeeId, params: [{where: ['date', 'like', '%' + curmonth + '%']}]}).then((res) => {
          this.attendanceModel = res.data.data
          var self = this.attendanceModel
          _.forEach(this.attendanceDays, function (day) {
            var exists = _.some(self, function (i) {
              return i.date === day
            })
            if (!exists) {
              self[self.length] = {id: null, employee_id: null, date: day, time_in: '', time_out: '', time_in_2: '', time_out_2: ''}
            }
          })
          this.attendanceModel = self
        })
      },
      viewAdd (attendance) {
        this.model.employee_id = attendance.employee_id
        this.add(this.model)
        this.afterAdd(attendance, true)
      },
      afterAdd (item, setDate) {
        if (setDate) {
          this.model.date = item.date
          this.currEmployeeId = this.viewModel.id
        }
      }
    },
    watch: {
      'model.date': function () {
        // console.log(this.model.date, this.currEmployeeId)
        this.model.id = null
        this.model.time_in = null
        this.model.time_out = null
        this.model.time_in_2 = null
        this.model.time_out_2 = null
        if (this.model.date) {
          this.$store.dispatch('hr/employee_attendances/getBy', {key: 'date', value: this.model.date, params: [{where: ['employee_id', this.currEmployeeId]}]}).then((res) => {
            var data = res.data.data[0]
            this.hasAttendance = false
            if (data) {
              this.model.id = data.id
              this.model.time_in = this.$options.filters.twelvehour(data.time_in)
              this.model.time_out = this.$options.filters.twelvehour(data.time_out)
              this.model.time_in_2 = this.$options.filters.twelvehour(data.time_in_2)
              this.model.time_out_2 = this.$options.filters.twelvehour(data.time_out_2)
              this.hasAttendance = true
            }
          })
        }
      },
      attendanceMonth: function () {
        if (this.attendanceMonth !== null) {
          var month = moment(this.attendanceMonth).format('YYYY-MM')
          this.attendanceMo = month
          this.attendanceDays = []
          this.attendanceDays.push(moment(month).format('YYYY-MM-DD'))
          while (month === this.attendanceMo) {
            let day = this.attendanceDays[this.attendanceDays.length - 1]
            let key = moment(moment(day).add(1, 'days')._d).format('YYYY-MM-DD')
            month = moment(key).format('YYYY-MM')
            if (this.attendanceMo === month) {
              this.attendanceDays.push(key)
            }
          }
          this.getAttendance(this.attendanceMo)
        }
      }
    }
  }
</script>
