<template>
  <v-container fluid grid-list-md class="elevation-12 _page">
    <v-layout>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Store</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-layout>

    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.name }}
        </td>
        <td>
          {{ props.item.affiliation_type.name }}
        </td>
        <td>
          {{ props.item.address }}
        </td>
        <td>
          {{ props.item.email_address }}
        </td>
        <td>
          {{ props.item.contact_number }}
        </td>
        <td>
          {{ props.item.description }}
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="headline">Add Store</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name"
                        v-model.trim="model.name"
                        name="name"
                        :readonly="mode === 'View'"
                        @input="$v.model.name.$touch()"
                        :error="$v.model.name.$error"
                        :error-messages="validations($v.model.name)"
                        >
          </v-text-field>
          <v-select
            v-bind:items="affiliationType"
            item-text="name"
            item-value="id"
            v-model="model.affiliation_type_id"
            label="Store Type"
            autocomplete
            @change="$v.model.affiliation_type_id.$touch()"
            :disabled="mode === 'View'"
            :error="$v.model.affiliation_type_id.$error"
            :error-messages="validations($v.model.affiliation_type_id)"
          ></v-select>
          <v-text-field label="Address"
                        rows="3"
                        v-model="model.address"
                        :readonly="mode === 'View'"
                        multi-line>
          </v-text-field>
          <v-text-field label="Email Address"
                        v-model="model.email_address"
                        name="email_address"
                        :readonly="mode === 'View'"
                        @input="$v.model.email_address.$touch()"
                        :error="$v.model.email_address.$error"
                        :error-messages="validations($v.model.email_address)"
                        >
          </v-text-field>
          <v-text-field label="Contact Number"
                        v-model="model.contact_number"
                        name="contact_number"
                        :readonly="mode === 'View'"
                        type="number"
                        >
          </v-text-field>
          <v-text-field label="Description"
                        rows="3"
                        v-model="model.description"
                        :readonly="mode === 'View'"
                        multi-line>
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this store?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import AlertMe from '../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../mixins/paginations'
  import BasicMixins from '../../../mixins/basicMixins'
  import { required, email } from 'vuelidate/lib/validators'
  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'Store',
    validator: null,
    data () {
      return {
        service: 'commons/affiliations/',
        model: {
          id: null,
          name: null,
          affiliation_type_id: null,
          address: null,
          contact_number: null,
          email_address: null,
          description: null
        },
        searchBy: 'affiliations.name',
        params: {
          include: ['affiliationType'],
          select: ['affiliations.*'],
          joinBy: [
            {
              join: 'affiliation_types',
              attr1: 'affiliations.affiliation_type_id',
              attr2: 'affiliation_types.id'
            }
          ]
        },
        affiliationType: [],
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Store Type',
            align: 'left',
            sortable: true,
            value: 'affiliation_types.name'
          },
          {
            text: 'Address',
            align: 'left',
            sortable: true,
            value: 'address'
          },
          {
            text: 'Email Address',
            align: 'left',
            sortable: true,
            value: 'email_address'
          },
          {
            text: 'Contact Number',
            align: 'left',
            sortable: true,
            value: 'contact_number'
          },
          {
            text: 'Description',
            align: 'left',
            sortable: true,
            value: 'description'
          }
        ]
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        affiliation_type_id: {
          required
        },
        email_address: {
          email
        }
      }
    },
    created () {
      this.affiliationType = this.$store.getters['commons/affiliation_types/getAll']
    },
    methods: {
      resetModel () {
        this.model = {
          id: null,
          name: null,
          affiliation_type_id: null,
          address: null,
          contact_number: null,
          email_address: null,
          description: null
        }
      }
    }
  }
</script>
