<template>
  <v-container fluid grid-list-md class="elevation-12 _page">
    <v-layout row wrap>
      <v-flex
        v-for="(card, index) in cards" :key="index"
        v-bind="{ [`xs${card.flex}`]: true }"

        >
        <v-card :class="designHeader(card.headers)" class="fa-5x">
          <v-card-title>
            <v-layout xs12>
              <v-flex xs3>
                <i :class="card.icon"></i>
              </v-flex>
              <v-flex xs3 offset-xs3>
                <div class="headline"> {{ card.headers }} </div>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click.native="show(card)">View Details</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="pl-2 pr-2 pt-3">
      <v-flex xs3>
        <v-select
          v-bind:items="store"
          v-model="storeSelected"
          autocomplete
          label="Affiliation"
          item-text="name"
          item-value="id"
          @change="val => onStoreChange(val)"
        ></v-select>
      </v-flex>
      <v-flex xs3>
        <v-select
          :disabled="storeSelected === null"
          v-bind:items="chartType"
          v-model="chartTypeSelected"
          @change="val => onChartTypeChange(val)"
          label="Chart Type"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="pl-2 pr-2 pb-2">
      <v-flex xs12>
        <bar-chart :chartData="chartData"
                   :options="{responsive: false, maintainAspectRatio: false}"
                   :width="1000"
                   :height="400"
                   v-if="chartTypeSelected === 'Bar'"
        ></bar-chart>
        <pie-chart :chartData="chartData"
                   :options="{responsive: false, maintainAspectRatio: false}"
                   :width="1000"
                   :height="400"
                   v-if="chartTypeSelected === 'Pie'"
        ></pie-chart>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog.show" persistent width="80%">
      <v-card>
        <v-card-title class="headline" :class="designHeader(dialog.title)"><i :class="dialog.icon" class="pr-3"></i> {{ dialog.title }}</v-card-title>
        <v-card-text>
          <v-data-table
            v-bind:headers="dialog.datatable.headers"
            :items="dialog.datatable.items"
            v-bind:pagination.sync="pagination"
            :total-items="totalItems"
            class="elevation-1"
          >
            <template slot="items" scope="props">
              <td v-for="header in dialog.datatable.headers">
                {{ props.item[header.value] }} {{ props.item[header.value2] }}
              </td>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn :class="designHeader(dialog.title)" @click.native="close()">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import BarChart from '../utilities/charts/Bar'
  import PieChart from '../utilities/charts/Pie'
  import _ from 'lodash'
  export default {
    name: 'Inventory-Dashboard',
    components: {
      BarChart,
      PieChart
    },
    watch: {
      pagination: {
        handler (params) {
          this.params.descending = params.descending
          this.params.page = params.page
          this.params.rowsPerPage = params.rowsPerPage
          this.params.totalItems = params.totalItems
          this.getAll()
        },
        deep: true
      }
    },
    data () {
      return {
        init: true,
        store: [],
        storeSelected: null,
        inventories: [],
        inventory: null,
        chartType: ['None', 'Bar', 'Pie'],
        chartTypeSelected: 'Bar',
        chartData: null,
        totalItems: 0,
        pagination: {},
        sortBy: 'updated_at',
        sortDir: 'desc',
        service: 'inventories/inventories/',
        params: {},
        cards: [
          {
            headers: 'Latest Updates',
            flex: 3,
            icon: 'fa fa-arrow-circle-up',
            show: false,
            service: 'inventories/inventories/',
            datatable: {
              headers: [
                {
                  text: 'Store',
                  align: 'left',
                  sortable: false,
                  value: 'affiliation_name'
                },
                {
                  text: 'Item Name',
                  align: 'left',
                  sortable: false,
                  value: 'item_name'
                },
                {
                  text: 'Unit',
                  align: 'left',
                  sortable: false,
                  value: 'item_unit_value',
                  value2: 'abbr'
                },
                {
                  text: 'Quantity',
                  align: 'left',
                  sortable: false,
                  value: 'quantity'
                },
                {
                  text: 'Price',
                  align: 'left',
                  sortable: false,
                  value: 'item_unit_price'
                },
                {
                  text: 'Date Updated',
                  align: 'left',
                  sortable: false,
                  value: 'updated_at'
                }
              ],
              items: []
            }
          },
          {
            headers: 'Latest Item Transfer',
            flex: 3,
            icon: 'fa fa-exchange',
            show: false,
            service: 'inventories/item_transfers/',
            datatable: {
              headers: [
                {
                  text: 'Item Name',
                  align: 'left',
                  sortable: false,
                  value: 'item_name'
                },
                {
                  text: 'Quantity',
                  align: 'left',
                  sortable: false,
                  value: 'quantity'
                },
                {
                  text: 'Sender',
                  align: 'left',
                  sortable: false,
                  value: 'affiliation_sender'
                },
                {
                  text: 'Receiver',
                  align: 'left',
                  sortable: false,
                  value: 'affiliation_receiver'
                },
                {
                  text: 'Item Transfer Date',
                  align: 'left',
                  sortable: false,
                  value: 'created_at'
                }
              ],
              items: []
            }
          },
          {
            headers: 'Low Inventory',
            flex: 3,
            icon: 'fa fa-exclamation-circle',
            show: false,
            service: 'inventories/inventories/',
            datatable: {
              headers: [
                {
                  text: 'Store',
                  align: 'left',
                  sortable: false,
                  value: 'affiliation_name'
                },
                {
                  text: 'Item Name',
                  align: 'left',
                  sortable: false,
                  value: 'item_name'
                },
                {
                  text: 'Unit',
                  align: 'left',
                  sortable: false,
                  value: 'item_unit_value',
                  value2: 'abbr'
                },
                {
                  text: 'Quantity',
                  align: 'left',
                  sortable: false,
                  value: 'quantity'
                },
                {
                  text: 'Price',
                  align: 'left',
                  sortable: false,
                  value: 'item_unit_price'
                }
              ],
              items: []
            }
          },
          {
            headers: 'Newly Added',
            flex: 3,
            icon: 'fa fa-cubes',
            show: false,
            service: 'inventories/inventories/',
            datatable: {
              headers: [
                {
                  text: 'Store',
                  align: 'left',
                  sortable: false,
                  value: 'affiliation_name'
                },
                {
                  text: 'Item Name',
                  align: 'left',
                  sortable: false,
                  value: 'item_name'
                },
                {
                  text: 'Unit',
                  align: 'left',
                  sortable: false,
                  value: 'item_unit_value',
                  value2: 'abbr'
                },
                {
                  text: 'Quantity',
                  align: 'left',
                  sortable: false,
                  value: 'quantity'
                },
                {
                  text: 'Price',
                  align: 'left',
                  sortable: false,
                  value: 'item_unit_price'
                },
                {
                  text: 'Date Created',
                  align: 'left',
                  sortable: false,
                  value: 'created_at'
                }
              ],
              items: []
            }
          }
        ],
        dialog: {
          show: false,
          title: '',
          icon: null,
          datatable: {
            headers: [],
            items: []
          },
          items: []
        }
      }
    },
    created () {
      this.getAllAffiliations()
    },
    methods: {
      designHeader (header) {
        switch (header) {
          case 'Low Inventory': {
            return 'red accent-2 white--text'
          }
          case 'Latest Updates': {
            return 'blue accent-2 white--text'
          }
          case 'Newly Added': {
            return 'green accent-2 white--text'
          }
          case 'Latest Item Transfer': {
            return 'amber accent-2 white--text'
          }
        }
      },
      show (card) {
        this.service = card.service
        this.dialog.title = card.headers
        this.dialog.icon = card.icon
        this.dialog.datatable.headers = card.datatable.headers
        this.init = false
        this.setSortBy(card.headers)
        this.setParams(card.headers)
        this.getAll(this.params)
      },
      close () {
        this.dialog.show = false
        this.init = true
      },
      getAll (params = this.params) {
        this.$store.dispatch(this.service + 'getAll', params).then((res) => {
          this.dialog.datatable.items = res.data.data
          console.log(this.dialog.datatable.items)
          this.totalItems = res.data.total
          if (!this.init) {
            this.dialog.show = true
          }
        })
      },
      setSortBy (header) {
        switch (header) {
          case 'Newly Added': {
            this.params.orderBy = {
              condition: [
                {
                  col: 'created_at',
                  direction: 'desc'
                }
              ]
            }
            this.params.filter = {
              condition: []
            }
            break
          }
          case 'Latest Updates': {
            this.params.orderBy = {
              condition: [
                {
                  col: 'updated_at',
                  direction: 'desc'
                }
              ]
            }
            this.params.filter = {
              condition: []
            }
            break
          }
          case 'Low Inventory': {
            this.params.orderBy = {
              condition: [
                {
                  col: 'quantity',
                  direction: 'asc'
                }
              ]
            }
            this.params.filter = {
              condition: [
                {
                  where: 'inventories.quantity',
                  operator: '<=',
                  val: 10
                }
              ]
            }
            break
          }
          case 'Latest Item Transfer': {
            this.params.orderBy = {
              condition: [
                {
                  col: 'created_at',
                  direction: 'desc'
                }
              ]
            }
            this.params.filter = {
              condition: []
            }
            break
          }
        }
      },
      setParams (header) {
        if (header === 'Latest Item Transfer') {
          this.params.include = ['inventory', 'affiliation']
          this.params.select = ['item_transfers.created_at as created_at', 'receiver.name as affiliation_receiver', 'sender.name as affiliation_sender', 'item_transfers.quantity as quantity', 'items.unit_value as item_unit_value', 'units.abbreviation as abbr', 'items.name as item_name']
          this.params.joinBy = [
            {
              join: 'inventories',
              attr1: 'item_transfers.inventory_id',
              attr2: 'inventories.id'
            },
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'companies',
              attr1: 'items.company_id',
              attr2: 'companies.id'
            },
            {
              join: 'units',
              attr1: 'items.unit_id',
              attr2: 'units.id'
            },
            {
              join: 'affiliations as sender',
              attr1: 'item_transfers.affiliation_sender_id',
              attr2: 'sender.id'
            },
            {
              join: 'affiliations as receiver',
              attr1: 'item_transfers.affiliation_receiver_id',
              attr2: 'receiver.id'
            }
          ]
        } else {
          this.params.include = ['item', 'item.company', 'item.units', 'affiliation']
          this.params.select = ['inventories.created_at', 'inventories.updated_at', 'inventories.quantity', 'items.unit_price as item_unit_price', 'items.unit_value as item_unit_value', 'units.abbreviation as abbr', 'items.name as item_name', 'companies.name as item_company', 'affiliations.name as affiliation_name']
          this.params.joinBy = [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'companies',
              attr1: 'items.company_id',
              attr2: 'companies.id'
            },
            {
              join: 'units',
              attr1: 'items.unit_id',
              attr2: 'units.id'
            },
            {
              join: 'affiliations',
              attr1: 'inventories.affiliation_id',
              attr2: 'affiliations.id'
            }
          ]
        }
      },
      getAllAffiliations () {
        this.$store.dispatch('commons/affiliations/getAll', null).then((res) => {
          this.store = res.data.data
          this.storeSelected = this.store[0]
          this.onStoreChange(this.storeSelected.id)
          this.onChartTypeChange(this.chartTypeSelected)
        })
      },
      onStoreChange (id) {
        let _params = {
          include: ['item', 'item.unit', 'item.packing'],
          select: ['inventories.*', 'items.name as item_name', 'items.id as item_id'],
          joinBy: [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'units',
              attr1: 'items.unit_id',
              attr2: 'units.id'
            },
            {
              join: 'packings',
              attr1: 'items.packing_id',
              attr2: 'packings.id'
            }
          ],
          filter: {
            condition: [
              {
                where: 'affiliation_id',
                operator: '=',
                val: id
              }
            ]
          }
        }
        this.$store.dispatch('inventories/inventories/getAll', _params).then((res) => {
          this.inventories = res.data.data
          if (this.chartTypeSelected !== 'None') {
            this.onChartTypeChange(this.chartTypeSelected)
          }
        })
      },
      onChartTypeChange (val) {
        switch (val) {
          case 'Bar': {
            this.generateBarDataSets()
            break
          }
          case 'Pie': {
            this.generatePieDataSets()
            break
          }
        }
      },
      generatePieDataSets () {
        let dataSets = []
        let labels = []
        let backgroundColor = []
        _.forEach(this.inventories, (inventory) => {
          labels.push(inventory.item_name)
          backgroundColor.push(this.generateRandomColor())
          dataSets.push(inventory.quantity)
        })
        this.chartData = {
          labels: labels,
          datasets: [
            {
              backgroundColor: backgroundColor,
              data: dataSets
            }
          ]
        }
      },
      generateBarDataSets () {
        let dataSets = []
        _.forEach(this.inventories, (inventory) => {
          dataSets.push(
            {
              label: inventory.item_name,
              backgroundColor: this.generateRandomColor(),
              data: [inventory.quantity]
            }
          )
        })
        this.chartData = {
          labels: ['Stocks'],
          datasets: dataSets
        }
      },
      generateRandomColor () {
        let letters = '0123456789ABCDEF'
        let color = '#'
        for (let i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)]
        }
        return color
      }
    }
  }
</script>
