<template>
	<v-container>
    <v-layout rows>
      <v-flex xs3>
        <v-select
          v-bind:items="stores"
          v-model="filterByStore"
          autocomplete
          label="Store"
          item-text="name"
          item-value="id"
          prepend-icon="store"
          v-bind:class = "'margin-bottom-less-10'"
        ></v-select>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs3>
        <v-btn primary @click.native="add()" v-show="Boolean(filterByStore)"><v-icon class="white--text" > add </v-icon>Add Items</v-btn>
      </v-flex>
      <v-flex xs3 offset-xs6 class="pr-3">
        <v-text-field
          v-show="Boolean(filterByStore)"
          append-icon="search"
          label="Search Item Name"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout rows wrap v-if="filterByStore">
      <v-flex xs12 class="pr-3">
        <v-data-table
          v-bind:headers="headers"
          v-bind:items="items"
          v-bind:pagination.sync="pagination"
          :total-items="totalItems"
          :loading="loading"
          class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span>{{ props.header.text }}</span>
          </template>
          <template slot="items" scope="props">
            <td>
              <v-menu bottom right close-on-click >
                <v-btn icon slot="activator" dark  class="cyan" v-tooltip:top="{ html: 'Menu' }">
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile @click.native="del(props.item)">
                    <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </td>
            <td>{{ props.item.item.name }}</td>
            <td>{{ props.item.quantity }}</td>
            <td>{{ props.item.item.unit_price }}</td>
            <td>{{ props.item.item.company.name }}</td>
            <td>{{ props.item.item.unit_value }} {{ props.item.item.unit.abbreviation }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" persistent :width="'50%'">
      <v-card>
        <v-card-title>
          <span class="headline">Add Items to Inventory</span>
        </v-card-title>
        <v-card-text>
          <v-select
            v-bind:items="itemList"
            item-text="name"
            item-value="id"
            v-model="model.item_id"
            label="Select Items"
            autocomplete
            multiple
            chips
            :error="$v.model.item_id.$error"
            :error-messages="validations($v.model.item_id)"
            required
          >
            <template slot="item" scope="data">
              <v-list-tile-content>
                <b>{{data.item.name}} ({{data.item.unit_value}} {{data.item.unit ? data.item.unit.abbreviation : ''}}) - {{data.item.unit_price | pesos}}</b> <v-spacer></v-spacer> {{data.item.company ? data.item.company.name : ''}}
              </v-list-tile-content>
            </template>

          </v-select>
            <!-- @change="$v.model.item_id.$touch()" -->
          <br><br><br>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this item?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-container>
</template>

<script>
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required } from 'vuelidate/lib/validators'
  import _ from 'lodash'
  import AlertMe from '../../../utilities/alert_me/AlertMe'

  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'Manage-Inventory',
    data () {
      return {
        service: 'inventories/inventories/',
        stores: [],
        filterByStore: null,
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Item Name',
            align: 'left',
            sortable: true,
            value: 'items.name'
          },
          {
            text: 'Quantity',
            align: 'left',
            sortable: true,
            value: 'quantity'
          },
          {
            text: 'Price',
            align: 'left',
            sortable: true,
            value: 'items.unit_price'
          },
          {
            text: 'Brand',
            align: 'left',
            sortable: true,
            value: 'companies.name'
          },
          {
            text: 'Unit',
            align: 'left',
            sortable: true,
            value: 'items.unit_value'
          }
        ],
        items: [],
        model: {
          id: null,
          item_id: [],
          quantity: 0,
          affiliation_id: null
        },
        itemList: [],
        params: {
          include: ['item', 'item.company', 'item.unit'],
          select: ['*', 'inventories.id', 'companies.name'],
          joinBy: [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'companies',
              attr1: 'items.company_id',
              attr2: 'companies.id'
            }
          ],
          orderBy: {
            condition: [
              {
                col: 'items.name',
                direction: 'asc'
              }
            ]
          },
          filter: {
            condition: []
          },
          search: null,
          rowsPerPage: null,
          page: null,
          totalItems: null
        },
        baseParams: {
          include: ['item', 'item.company', 'item.unit'],
          select: ['*', 'inventories.id', 'companies.name'],
          joinBy: [
            {
              join: 'items',
              attr1: 'inventories.item_id',
              attr2: 'items.id'
            },
            {
              join: 'companies',
              attr1: 'items.company_id',
              attr2: 'companies.id'
            }
          ],
          orderBy: {
            condition: []
          },
          filter: {
            condition: []
          },
          search: null,
          rowsPerPage: null,
          page: null,
          totalItems: null
        },
        itemParams: {
          include: [],
          joinBy: [],
          orderBy: {
            condition: []
          },
          filter: {
            condition: []
          },
          rowsPerPage: -1,
          page: null,
          totalItems: null
        },
        searchBy: 'items.name'
      }
    },
    validations: {
      model: {
        item_id: {
          required
        }
      }
    },
    created () {
      this.init()
    },
    watch: {
      filterByStore: {
        handler (params) {
          this.onSelectAffiliation(params)
        },
        deep: true
      }
    },
    methods: {
      init () {
        this.$store.dispatch('business_logics/priceListInit').then((res) => {
          this.stores = res.data.affiliations
        })
      },
      onSelectAffiliation (val) {
        this.params.filter = {
          condition: [
            {
              where: 'affiliation_id',
              operator: '=',
              val: val
            }
          ]
        }
        this.$store.dispatch(this.service + 'getAll', this.params).then((res) => {
          this.items = res.data.data
          this.totalItems = res.data.total
        })
        this.baseParams.filter = this.params.filter
        this.$store.dispatch(this.service + 'getAll', this.baseParams).then((res) => {
          this.getFilteredItems(this.itemParams, _.map(res.data.data, _.property('item_id')))
          this.loading = false
        })
      },
      getFilteredItems (params = null, val) {
        this.itemParams.filter = {
          condition: [
            {
              command: 'whereNotIn',
              where: 'id',
              val: val
            }
          ]
        }
        this.itemParams.orderBy = {
          condition: [
            {
              col: 'items.name',
              direction: 'asc'
            }
          ]
        }
        this.itemParams.include = ['unit', 'company']
        this.$store.dispatch('inventories/items/getAll', this.itemParams).then((res) => {
          this.itemList = res.data.data
        })
      },
      getAll () {
        this.onSelectAffiliation(this.filterByStore)
      },
      afterAdd () {
        this.resetModel
      },
      resetModel () {
        this.model = {
          id: null,
          item_id: [],
          quantity: 0,
          affiliation_id: null
        }
      },
      beforeSaveAfterValidation () {
        this.$v.$reset()
        let key = 0
        let store = this.filterByStore
        let itemModel = []
        _.forEach(this.model.item_id, function (value) {
          itemModel[key++] = {
            item_id: value,
            quantity: 0,
            affiliation_id: store
          }
        })
        this.model = itemModel
      }
    }
  }
</script>
