<template>
  <v-card>
    <v-card-title>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Item</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
    >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile  @click.native="view(props.item)">
                <v-list-tile-title><v-icon> search </v-icon> View</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td class="text-xs-left">
          {{ props.item.name }}
        </td>
        <td class="text-xs-left">
          {{ props.item.company.name }}
        </td>
        <td class="text-xs-right">
          {{ props.item.unit_value }}
        </td>
        <td class="text-xs-left">
          {{ props.item.unit.name }}
        </td>
        <td class="text-xs-right">
          {{ props.item.packing_value }}
        </td>
        <td class="text-xs-left">
          {{ props.item.packing.name }}
        </td>
        <td class="text-xs-right">
          {{ props.item.unit_price }}
        </td>
        <td class="text-xs-right">
          {{ props.item.net_price }}
        </td>
        <td class="text-xs-right">
          {{ props.item.retail_price }}
        </td>
        <td class="text-xs-right">
          {{ props.item.wholesale_per_box }}
        </td>
        <td class="text-xs-right">
          {{ props.item.wholesale_per_piece }}
        </td>
        <td class="text-xs-left">
          {{ props.item.description }}
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent width="50%">
      <v-card>
        <v-card-title>
          <span class="headline">Add Item</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name"
                        v-model.trim="model.name"
                        name="name"
                        :readonly="mode === 'View'"
                        @input="$v.model.name.$touch()"
                        :error="$v.model.name.$error"
                        :error-messages="validations($v.model.name)"
                        >
          </v-text-field>
          <v-layout row wrap>
            <v-flex xs6>
              <v-select
                v-bind:items="collections.companies"
                item-text="name"
                item-value="id"
                v-model="model.company_id"
                label="Brand"
                autocomplete
                :disabled="mode === 'View'"
                @change="$v.model.company_id.$touch()"
                :error="$v.model.company_id.$error"
                :error-messages="validations($v.model.company_id)"
              ></v-select>
            </v-flex>
            <v-flex xs6>
              <v-select
                v-bind:items="collections.item_categories"
                item-text="name"
                item-value="id"
                v-model="model.item_category_id"
                label="Item Category"
                autocomplete
                :disabled="mode === 'View'"
                @change="$v.model.item_category_id.$touch()"
                :error="$v.model.item_category_id.$error"
                :error-messages="validations($v.model.item_category_id)"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field label="Unit Value"
                            v-model="model.unit_value"
                            name="unit_value"
                            :readonly="mode === 'View'"
                            @input="$v.model.unit_value.$touch()"
                            :error="$v.model.unit_value.$error"
                            :error-messages="validations($v.model.unit_value)"
                            type = "number"
                            >
              </v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-select
                v-bind:items="collections.units"
                item-text="name"
                item-value="id"
                v-model="model.unit_id"
                label="Unit Type"
                autocomplete
                :disabled="mode === 'View'"
                @change="$v.model.unit_id.$touch()"
                :error="$v.model.unit_id.$error"
                :error-messages="validations($v.model.unit_id)"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field label="Packing Value"
                            v-model="model.packing_value"
                            name="packing_value"
                            :readonly="mode === 'View'"
                            @input="$v.model.packing_value.$touch()"
                            :error="$v.model.packing_value.$error"
                            :error-messages="validations($v.model.packing_value)"
                            type = "number"
                            >
              </v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-select
                v-bind:items="collections.packings"
                item-text="name"
                item-value="id"
                v-model="model.packing_id"
                label="Packing Type"
                autocomplete
                :disabled="mode === 'View'"
                @change="$v.model.packing_id.$touch()"
                :error="$v.model.packing_id.$error"
                :error-messages="validations($v.model.packing_id)"
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs4>
              <v-text-field label="Unit Price"
                            v-model="model.unit_price"
                            name="unit_price"
                            :readonly="mode === 'View'"
                            @input="$v.model.unit_price.$touch()"
                            :error="$v.model.unit_price.$error"
                            :error-messages="validations($v.model.unit_price)"
                            type="number"
                            >
              </v-text-field>
            </v-flex>
            <v-flex xs4>
              <v-text-field label="Net Price"
                            v-model="model.net_price"
                            name="net_price"
                            :readonly="mode === 'View'"
                            @input="$v.model.net_price.$touch()"
                            :error="$v.model.net_price.$error"
                            :error-messages="validations($v.model.net_price)"
                            type="number"
                            >
              </v-text-field>
            </v-flex>
            <v-flex xs4>
              <v-text-field label="Retail Price"
                            v-model="model.retail_price"
                            name="retail_price"
                            :readonly="mode === 'View'"
                            @input="$v.model.retail_price.$touch()"
                            :error="$v.model.retail_price.$error"
                            :error-messages="validations($v.model.retail_price)"
                            type="number"
                            >
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field label="Wholesale per Box"
                            v-model="model.wholesale_per_box"
                            name="wholesale_per_box"
                            :readonly="mode === 'View'"
                            @input="$v.model.wholesale_per_box.$touch()"
                            :error="$v.model.wholesale_per_box.$error"
                            :error-messages="validations($v.model.wholesale_per_box)"
                            type="number"
                            >
              </v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field label="Wholesale per Piece"
                            v-model="model.wholesale_per_piece"
                            name="wholesale_per_piece"
                            :readonly="mode === 'View'"
                            @input="$v.model.wholesale_per_piece.$touch()"
                            :error="$v.model.wholesale_per_piece.$error"
                            :error-messages="validations($v.model.wholesale_per_piece)"
                            type="number"
                            >
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-text-field label="Description"
                        rows="3"
                        v-model="model.description"
                        :readonly="mode === 'View'"
                        multi-line>
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this item?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-card>
</template>

<script>
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required } from 'vuelidate/lib/validators'
  export default {
    components: {
      AlertMe
    },
    name: 'Store',
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    data () {
      return {
        service: 'inventories/items/',
        model: {
          id: null,
          name: null,
          company_id: null,
          unit_id: null,
          unit_value: null,
          packing_id: null,
          packing_value: null,
          unit_price: null,
          net_price: null,
          retail_price: null,
          wholesale_per_box: null,
          wholesale_per_piece: null,
          item_category_id: null,
          description: null
        },
        searchBy: 'items.name',
        params: {
          include: ['company', 'unit', 'packing', 'itemCategory'],
          select: ['items.*'],
          joinBy: [
            {
              join: 'companies',
              attr1: 'items.company_id',
              attr2: 'companies.id'
            },
            {
              join: 'units',
              attr1: 'items.unit_id',
              attr2: 'units.id'
            },
            {
              join: 'packings',
              attr1: 'items.packing_id',
              attr2: 'packings.id'
            },
            {
              join: 'item_categories',
              attr1: 'items.item_category_id',
              attr2: 'item_categories.id'
            }
          ]
        },
        collections: {},
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Brand',
            align: 'left',
            sortable: true,
            value: 'companies.name'
          },
          {
            text: 'Unit Value',
            align: 'left',
            sortable: true,
            value: 'unit_value'
          },
          {
            text: 'Unit Type',
            align: 'left',
            sortable: true,
            value: 'units.name'
          },
          {
            text: 'Packing Value',
            align: 'left',
            sortable: true,
            value: 'packing_value'
          },
          {
            text: 'Packing Type',
            align: 'left',
            sortable: true,
            value: 'packings.name'
          },
          {
            text: 'Unit Price',
            align: 'left',
            sortable: true,
            value: 'unit_price'
          },
          {
            text: 'Net Price',
            align: 'left',
            sortable: true,
            value: 'net_price'
          },
          {
            text: 'Retail Price',
            align: 'left',
            sortable: true,
            value: 'retail_price'
          },
          {
            text: 'Wholesale per box',
            align: 'left',
            sortable: true,
            value: 'wholesale_per_box'
          },
          {
            text: 'Wholesale per piece',
            align: 'left',
            sortable: true,
            value: 'wholesale_per_piece'
          },
          {
            text: 'Description',
            align: 'left',
            sortable: true,
            value: 'description'
          }
        ]
      }
    },
    created () {
      this.collections = {
        companies: this.$store.getters['commons/companies/getAll'],
        units: this.$store.getters['commons/units/getAll'],
        packings: this.$store.getters['commons/packings/getAll'],
        item_categories: this.$store.getters['inventories/item_categories/getAll']
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        company_id: {
          required
        },
        item_category_id: {
          required
        },
        unit_value: {
          required
        },
        unit_id: {
          required
        },
        packing_value: {
          required
        },
        packing_id: {
          required
        },
        unit_price: {
          required
        },
        net_price: {
          required
        },
        retail_price: {
          required
        },
        wholesale_per_box: {},
        wholesale_per_piece: {}
      }
    },
    methods: {
      resetModel () {
        this.model = {
          id: null,
          name: null,
          company_id: null,
          unit_id: null,
          unit_value: null,
          packing_id: null,
          packing_value: null,
          unit_price: null,
          net_price: null,
          retail_price: null,
          wholesale_per_box: null,
          wholesale_per_piece: null,
          item_category_id: null,
          description: null
        }
      }
    }
  }
</script>
