<template >

  <main-app v-if="auth && status === '0'"></main-app>
  <time-record v-else-if = "timerecord"></time-record>
  <advance v-else-if = "advance"></advance>
  <price-list v-else-if = "pricelist"></price-list>
  <login v-else></login>
</template>

<script>
  import MainApp from './components/Main'
  import Login from './components/Login'
  import TimeRecord from './components/TimeRecord'
  import Advance from './components/Advance'
  import PriceList from './components/inventory_module/inventory/price_list/PriceList'

  export default {
    components: {
      MainApp,
      Login,
      TimeRecord,
      Advance,
      PriceList
    },
    data () {
      return {
        timerecord: false,
        advance: false,
        pricelist: false,
        auth: window.sessionStorage.getItem('api_token'),
        status: window.sessionStorage.getItem('status')
      }
    },
    created () {
      if (window.sessionStorage.getItem('status') === '1') {
        alert('Sorry, your account has been disabled')
      }
      var path = window.location.href
      if (path.indexOf('login') > 0) {
        this.timerecord = false
        this.advance = false
        this.pricelist = false
      } else if (path.indexOf('time_record') > 0) {
        this.timerecord = true
        this.login = false
        this.pricelist = false
      } else if (path.indexOf('advance') > 0) {
        this.advance = true
        this.login = false
        this.timerecord = false
        this.pricelist = false
      } else if (path.indexOf('pricelist') > 0) {
        this.pricelist = true
        this.advance = false
        this.login = false
        this.timerecord = false
      }
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
<style lang="css">
  @import 'assets/css/animate.css';
  @import 'assets/css/layouts.css';
  @import 'assets/vendor/font-awesome/css/font-awesome.css';
  @import 'assets/vendor/material/iconfont/material-icons.css';
</style>
