<template>
  <!--HOW TO USE-->
  <!--<pagination-component-->
    <!--@reload="getAll()"-->
    <!--:search="search"-->
    <!--:searchBy="searchBy"-->
    <!--:pagination="pagination"-->
    <!--:params="params"-->
    <!--:totalItems="totalItems"-->
    <!--:items="items">-->
  <!--</pagination-component>-->
  <v-layout row wrap>
    <v-flex xs1 class="offset-xs4">
      <v-select
        v-bind:items="rows_per_page"
        v-model="per_page"
        label="Row Per Page"
        item-value="value"
        item-text="text"
      ></v-select>
    </v-flex>
    <v-flex xs6 class="pt-2">
      <v-pagination :length="Math.ceil(totalItems / (per_page === -1 ? totalItems : per_page))" v-model="pagination.page" circle></v-pagination>
    </v-flex>
  </v-layout>
</template>
<script>
  import _ from 'lodash'
  export default {
    props: ['search', 'searchBy', 'pagination', 'items', 'params', 'totalItems'],
    data () {
      return {
        per_page: 5,
        rows_per_page: [
          { text: 5, value: 5 },
          { text: 10, value: 10 },
          { text: 25, value: 25 },
          { text: 50, value: 50 },
          { text: 'All', value: -1 }
        ]
      }
    },
    watch: {
      search: {
        handler (params) {
          this.params.search = {
            by: this.searchBy,
            keyword: _.isEmpty(this.search) ? null : this.search
          }
          this.$emit('reload', this.params)
        },
        deep: true
      },
      per_page: {
        handler (params) {
          this.params.rowsPerPage = params
          this.$emit('reload', this.params)
        },
        deep: true
      },
      pagination: {
        handler (params) {
          this.params.page = params.page
          this.params.rowsPerPage = this.per_page
          this.params.totalItems = params.totalItems
          this.params.orderBy = {
            condition: [
              {
                col: this.sortBy ? this.sortBy : params.sortBy,
                direction: params.descending ? 'desc' : 'asc'
              }
            ]
          }
          this.$emit('reload', this.params)
        },
        deep: true
      }
    }
  }
</script>
