<template>
	<v-card fluid grid-list-md class="elevation-12 _page">
    <v-card-title>
      <v-btn primary @click.native="add()"><v-icon class="white--text"> add </v-icon>Add Cutoff</v-btn>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        label="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
      <v-data-table
        v-bind:headers="headers"
        v-bind:items="items"
        v-bind:pagination.sync="pagination"
        :total-items="totalItems"
        :loading="loading"
        class="elevation-1"
      >
      <template slot="headerCell" scope="props">
        <span>{{ props.header.text }}</span>
      </template>
      <template slot="items" scope="props">
        <td>
          <v-menu bottom right close-on-click >
            <v-btn icon slot="activator" dark  class="cyan" v-tooltip:right="{ html: 'Menu' }">
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile @click.native="edit(props.item)">
                <v-list-tile-title><v-icon> edit </v-icon> Edit</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click.native="del(props.item)">
                <v-list-tile-title><v-icon> delete </v-icon> Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
        <td>
          {{ props.item.name }}
        </td>
        <td>
          {{ props.item.frequency }}
        </td>
        <td>
          <span v-if="props.item.frequency === 'Monthly'">{{props.item.pay_1 | ordinal}} of the Month</span>
          <span v-if="props.item.frequency === 'Semi-Monthly'">{{props.item.pay_2 | ordinal}} & {{parseInt(props.item.pay_2) + 15 | ordinal}} of the Month</span>
          <span v-if="props.item.frequency === 'Weekly'">Every {{props.item.pay_4 | ordinal}}</span>
        </td>
      </template>
    </v-data-table>

    </v-card-title>

    <v-dialog v-model="dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="headline">Cutoff Form</span>
        </v-card-title>
        <v-card-text>
          <v-text-field label="Name"
                        v-model.trim="model.name"
                        name="name"
                        :readonly="mode === 'View'"
                        @input="$v.model.name.$touch()"
                        :error="$v.model.name.$error"
                        :error-message="$v.model.name.$error"
                        :error-messages = "validations($v.model.name)"
                        >
          </v-text-field>
          <v-select
            v-bind:items="['', 'Monthly', 'Semi-Monthly', 'Weekly']"
            v-model="model.frequency"
            label="Frequency"
            :disabled="mode === 'View'"
            @change="$v.model.frequency.$touch()"
            :error="$v.model.frequency.$error"
            :error-messages = "validations($v.model.frequency)">
            >
          </v-select>
          <v-layout row-xs child-flex-xs>
            <v-flex xs8>
              <v-text-field label="Payday"
                            v-model.trim="model.pay_1"
                            name="pay_1"
                            v-if="model.frequency === 'Monthly'"
                            :readonly="mode === 'View'"
                            @input="$v.model.pay_1.$touch()"
                            :error="$v.model.pay_1.$error"
                            :error-messages = "validations($v.model.pay_1)"
                            hint="value must be 1-30"
                            persistent-hint
                            suffix = "of the month"
                            >
              </v-text-field>

              <v-text-field label="Payday"
                            v-model.trim="model.pay_2"
                            name="pay_1"
                            v-else-if="model.frequency === 'Semi-Monthly'"
                            :readonly="mode === 'View'"
                            @input="$v.model.pay_2.$touch()"
                            :error="$v.model.pay_2.$error"
                            :error-messages = "validations($v.model.pay_2)"
                            hint="value must be 1-15"
                            persistent-hint
                            suffix = "&"
                            >
              </v-text-field>
              <v-select
                v-bind:items="days"
                v-model="model.pay_4"
                v-else-if="model.frequency === 'Weekly'"
                label="Payday: Every"
                :disabled="mode === 'View'"
                @change="$v.model.pay_4.$touch()"
                :error="$v.model.pay_4.$error"
                :error-messages = "validations($v.model.pay_4)" 
                >
              </v-select>
            </v-flex>
            <v-flex xs4 :style="'margin-top:25px;'">
              <span v-if="model.frequency === 'Semi-Monthly' && model.pay_2">{{parseInt(model.pay_2) + 15}} /Month</span>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="save()" v-if="mode === 'Add'">Save</v-btn>
          <v-btn class="blue--text darken-1" :loading="saveDisable" :disabled="saveDisable" flat @click.native="update()" v-if="mode === 'Edit'">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="delDialog" persistent absolute>
      <v-card>
        <v-card-title>
          <div class="headline">WARNING!</div>
        </v-card-title>
        <v-card-text>Are you sure you want to DELETE this Cutoff?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delDisagree()">No</v-btn>
          <v-btn class="green--text darken-1" flat="flat" @click.native="delAgree()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <alert-me></alert-me>
  </v-card>
</template>


<script>
  import AlertMe from '../../../utilities/alert_me/AlertMe'
  import PaginationMixins from '../../../../mixins/paginations'
  import BasicMixins from '../../../../mixins/basicMixins'
  import { required, requiredIf, numeric, between } from 'vuelidate/lib/validators'

  export default {
    mixins: [
      PaginationMixins,
      BasicMixins
    ],
    components: {
      AlertMe
    },
    name: 'Cutoff',
    data () {
      return {
        service: 'hr/cutoffs/',
        model: {
          id: null,
          name: null,
          frequency: null,
          pay_1: null,
          pay_2: null,
          pay_4: null
        },
        frequencies: ['', 'Monthly', 'Semi-Monthly', '', 'Weekly'],
        days: ['', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        headers: [
          {
            text: '',
            align: 'left',
            sortable: false
          },
          {
            text: 'Name',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Frequency',
            align: 'left',
            sortable: false
          },
          {
            text: 'Payday',
            align: 'left',
            sortable: false
          }
        ]
      }
    },
    validations: {
      model: {
        name: {
          required
        },
        frequency: {
          required
        },
        pay_1: {
          numeric,
          between: between(1, 30),
          requiredIf: requiredIf(function () {
            return this.model.frequency === 'Monthly' && !this.model.pay_1
          })
        },
        pay_2: {
          numeric,
          between: between(1, 15),
          requiredIf: requiredIf(function () {
            return this.model.frequency === 'Semi-Monthly' && !this.model.pay_2
          })
        },
        pay_4: {
          requiredIf: requiredIf(function () {
            return this.model.frequency === 'Weekly' && !this.model.pay_4
          })
        }
      }
    },
    methods: {
      resetModel () {
        this.model = {
          id: null,
          name: null,
          frequency: null,
          pay_1: null,
          pay_2: null,
          pay_4: null
        }
      }
    }
  }
</script>
