<template>
  <v-tabs dark grow icons class="elevation-12">
    <v-layout rows wrap>
      <v-flex xs12>
      </v-flex>
      <v-tabs-bar slot="activators" class="blue lighten-1">
        <v-tabs-slider class="yellow darken-3"></v-tabs-slider>
        <v-tabs-item v-for="(tab, index) in tabs"  :to="tab.href" :key="index" exact>
          <v-icon v-if="tab.fa" fa v-bind:class="'fa-lg'">{{ tab.icon }}</v-icon>
          <v-icon v-else>{{ tab.icon }}</v-icon>
          {{ tab.name }}
        </v-tabs-item>
      </v-tabs-bar>
    </v-layout>
    <v-layout rows wrap>
      <v-flex xs12>
        <transition id="page-transition" enter-active-class="animated fadeIn">
          <router-view></router-view>
        </transition>
      </v-flex>
    </v-layout>
  </v-tabs>
</template>

<script>
  export default {
    name: 'Home-Config',
    data () {
      return {
        tabs: [
          {
            name: 'Employee List',
            icon: 'wc',
            href: '/hr_module/employees/employee_list'
          },
          {
            name: 'Employee Contracts',
            icon: 'assignment',
            href: '/hr_module/employees/employee_contract'
          },
          {
            name: 'Employee Attendance',
            icon: 'av_timer',
            href: '/hr_module/employees/employee_attendance'
          },
          {
            name: 'Generate Salary',
            fa: true,
            icon: 'usd',
            href: '/hr_module/employees/employee_salary'
          },
          {
            name: 'Employee Advances',
            fa: true,
            icon: 'calendar-minus-o',
            href: '/hr_module/employees/employee_advanced'
          }
        ]
      }
    }
  }
</script>
