<template>
  <v-btn primary flat class="btn--dark-flat-focused uploadBtn">
    {{ title }}<input id="selectFile" type="file" v-on:change="fileSelected">
  </v-btn>
</template>

<script>
  export default {
    name: 'upload-button',
    props: {
      title: String
    },
    methods: {
      fileSelected (e) {
        if (e.target.files[0]) {
          this.$emit('file', e.target.files[0])
        } else {
          this.$emit('file', null)
        }
      }
    }
  }
</script>

<style scoped>
  .uploadBtn {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .uploadBtn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
  }
</style>
